<!-- Page Heading -->
<div class="container-fluid">
  <div class="container-fluid">
    <% if result.present? %>
        <div class="table-responsive">
        <table class="table" width="100%" cellspacing="0">
        <h4>All Data</h4>
        <% result.each do |goat| %>
            <thead class="bg-success text-white">
                <tr>
                    <th width="5%">Token</th>
                <% goat.each do |data| %>
                    <th> <%=data[:date].strftime("%d/%m")%></th>
                
                <%end%>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td><%= goat.first[:token_no] %></td>
                <% goat.each do |data| %>
                    <td><%= (data[:status][0,2]) %> / <%= data[:days] %> </td>
                <%end%>
                </tr>
                </tbody>
        <% end %>
        </table>
        </div>
    <% end %>
  </div>
</div>

<%#= yield %>

<style type="text/css">
    table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  width: 100%;
}

table {
  border-collapse: collapse;
}
th {
  background: #ccc;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

tr:nth-child(even) {
  background: #efefef;
}

tr:hover {
  background: #d1d1d1;
}
</style>


 
 