<!-- Page Heading -->
<div class="container-fluid">
  <div class="container-fluid">
    <% if result.present? %>
        <div class="table-responsive">
        <table class="table" width="100%" cellspacing="0">
        <h4>All Data</h4>
        <% result.each do |data| %>
            <% if data.present? %>
              <% if data.gender == "Kid Male"%>
                <thead class="bg-success text-white">
                    <tr>
                        <%# <th width="5%">Token</th>
                        <th width="5%">Gender</th>
                        <th width="5%">Weight</th> %>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= data[:token_no] %></td>
                        <td><%= data[:gender] %></td>
                        <td>Days - <%=  (Date.today - data[:date_of_birth]).to_i %>  </td>
                        <td>Weight - </td>
                    </tr>
                </tbody>
              <%end%>
            <% end %>
              <% if data.gender == "Kid Female"%>
                <thead class="bg-success text-white">
                    <tr>
                        <%# <th width="5%">Token</th>
                        <th width="5%">Gender</th>
                        <th width="5%">Weight</th> %>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= data[:token_no] %></td>
                        <td><%= data[:gender] %></td>
                        <td>Days - <%= (Date.today - data[:date_of_birth]).to_i %>  </td>
                        <td>Weight - </td>
                    </tr>
                </tbody>
              <%end%>
        <% end %>
        </table>
        </div>
    <% end %>
  </div>
</div>

<%#= yield %>

 <style type="text/css">
    table,
        th,
        td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        table {
        width: 100%;
        }

        table {
        border-collapse: collapse;
        }
        th {
        background: #ccc;
        }

        th,
        td {
        border: 1px solid #ccc;
        padding: 8px;
        }

        tr:nth-child(even) {
        background: #efefef;
        }

        tr:hover {
        background: #d1d1d1;
        }
</style>



 