<!-- Page Heading -->
<div class="container-fluid">
  <div class="container-fluid">
    <% if result.present? %>
        <div class="table-responsive">
        <table class="table" width="100%" cellspacing="0">
        <h4>All Data</h4>
        <% result.each do |data| %>
            <% if data.present? %>
              <thead class="bg-success text-white">
                <tr>
                    <th width="5%">Token</th>
                    <% data.each do |dob| %>
                      <th> <%=dob[:date].strftime("%d/%m")%></th>
                    <%end%>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><%= data.first[:token_no] %></td>
                    <% data.each do |dob| %>
                        <td><%= dob[:kid_count] %> - <%= dob[:kid_cycle] %> </td>
                    <%end%>
                </tr>
              </tbody>
            <% end %>
        <% end %>
        </table>
        </div>
    <% end %>
  </div>
</div>

<%#= yield %>

 <style type="text/css">
    table,
        th,
        td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        table {
        width: 100%;
        }

        table {
        border-collapse: collapse;
        }
        th {
        background: #ccc;
        }

        th,
        td {
        border: 1px solid #ccc;
        padding: 8px;
        }

        tr:nth-child(even) {
        background: #efefef;
        }

        tr:hover {
        background: #d1d1d1;
        }
</style>



 