<!-- Page Heading -->
<div class="container-fluid">
  <div class="container-fluid">
    <% if result.present? %>
      <div class="table-responsive">
        <% result.each do |batch| %>
          <h4 style="background-color: rgba(45, 45, 45, 0.1)"><%= batch[:name] %> ------- Rack: <%= batch[:rack] %> ------- Count: <%= batch[:data].count %> ------- Feed: <%= batch[:data].count %></h4> 
          <table class="table" width="100%" cellspacing="0">
            <thead class="bg-success text-white">
              <tr>
                <th>Token No</th>
                <th>Status</th>
                <th>New Status</th>
                <th>New Rack</th>
              </tr>
            </thead>
            <tbody>
              <% batch[:data].each do |data|%>
                <tr>
                  <td><%= data[:token_no] %></td>
                  <td><%= data[:status] %> -> <%= data[:days] %></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

 <style type="text/css">
    table,
        th,
        td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        table {
        width: 100%;
        }

        table {
        border-collapse: collapse;
        }
        th {
        background: #ccc;
        }

        th,
        td {
        border: 1px solid #ccc;
        padding: 8px;
        }

        tr:nth-child(even) {
        background: #efefef;
        }

        tr:hover {
        background: #d1d1d1;
        }
</style>