<!-- Page Heading -->
<div class="container-fluid">
  <div class="container-fluid">
    <% if result.present? %>
        <div class="table-responsive">
        <th><%= Date.today %></th>
        <table class="table" width="100%" cellspacing="0">
            <h4>Early Milking - <%= result[:early_milking].count %></h4>
            <% result[:early_milking].each do |data| %>
                <thead class="bg-success text-white">
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 20%;"><%= data[:token_no] %></td>
                        <td style="width: 20%;"><%= (data[:status]) %> = <%= data[:days] %> days </td>
                        <td style="width: 20%;"> Room = </td>
                        <td style="width: 20%;"> No Of Kid = <%= data[:kid_count] %></td>
                        <td></td>
                    </tr>
                    </tbody>
            <% end %>
        </table>
        <table class="table" width="100%" cellspacing="0">
            <h4>Mid Milking -  <%= result[:mid_milking].count %></h4>
            <% result[:mid_milking].each do |data| %>
                <thead class="bg-success text-white">
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 20%;"><%= data[:token_no] %></td>
                        <td style="width: 20%;"><%=(data[:status]) %> = <%= data[:days] %> days </td>
                        <td style="width: 20%;"> Room = </td>
                        <td style="width: 20%;"> No Of Kid = <%= data[:kid_count] %></td>
                        <td></td>
                    </tr>
                    </tbody>
            <% end %>
        </table>
        <table class="table" width="100%" cellspacing="0">
            <h4>End Milking - <%= result[:end_milking].count %></h4>
            <% result[:end_milking].each do |data| %>
                <thead class="bg-success text-white">
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 20%;"><%= data[:token_no] %></td>
                        <td style="width: 20%;"><%=(data[:status]) %> = <%= data[:days] %> days </td>
                        <td style="width: 20%;"> Room = </td>
                        <td style="width: 20%;"> No Of Kid = <%= data[:kid_count] %></td>
                        <td></td>
                    </tr>
                    </tbody>
            <% end %>
        </table>
        <table class="table" width="100%" cellspacing="0">
            <h4>Pregnancy -  <%= result[:pregnancy].count %></h4>
            <% result[:pregnancy].each do |data| %>
                <thead class="bg-success text-white">
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 20%;"><%= data[:token_no] %></td>
                        <td style="width: 20%;"><%=(data[:status]) %>  ---------> <%= data[:days] %> days </td>
                        <td style="width: 20%;"> Room = </td>
                        <td></td>
                    </tr>
                    </tbody>
            <% end %>
        </table>
        <table class="table" width="100%" cellspacing="0">
            <h4>Heat - <%= result[:heat].count %></h4> 
            <% result[:heat].each do |data| %>
                <thead class="bg-success text-white">
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 20%;"><%= data[:token_no] %></td>
                        <td style="width: 20%;"><%=(data[:status]) %>  ---------> <%= data[:days] %> days </td>
                        <td style="width: 20%;"> Room = </td>
                        <td></td>
                    </tr>
                    </tbody>
            <% end %>
        </table>
        <table class="table" width="100%" cellspacing="0">
            <h4>Non Pregnancy -  <%= result[:non_pregnancy].count %></h4>
            <% result[:non_pregnancy].each do |data| %>
                <thead class="bg-success text-white">
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 20%;"><%= data[:token_no] %></td>
                        <td style="width: 20%;"><%=(data[:status]) %>  ---------> <%= data[:days] %> days </td>
                        <td style="width: 20%;"> Room = </td>
                        <td></td>
                    </tr>
                    </tbody>
            <% end %>
        </table>
        <table class="table" width="100%" cellspacing="0">
            <h4>Confirmed Status -  <%= result[:confirmed_stage].count %></h4>
            <% result[:confirmed_stage].each do |data| %>
                <thead class="bg-success text-white">
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 20%;"><%= data[:token_no] %></td>
                        <td style="width: 20%;"><%=(data[:status]) %>  ---------> <%= data[:days] %> days </td>
                        <td style="width: 20%;"> Room = </td>
                        <td></td>
                    </tr>
                    </tbody>
            <% end %>
        </table>
        <table class="table" width="100%" cellspacing="0">
            <h4>calve_stage -  <%= result[:calve_stage].count %></h4>
            <% result[:calve_stage].each do |data| %>
                <thead class="bg-success text-white">
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 20%;"><%= data[:token_no] %></td>
                        <td style="width: 20%;"><%=(data[:status]) %>  ---------> <%= data[:days] %> days </td>
                        <td style="width: 20%;"> Room = </td>
                        <td></td>
                    </tr>
                    </tbody>
            <% end %>
        </table>
        <table class="table" width="100%" cellspacing="0">
            <h4>abortion - <%= result[:abortion].count %></h4>
            <% result[:abortion].each do |data| %>
                <thead class="bg-success text-white">
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 20%;"><%= data[:token_no] %></td>
                        <td style="width: 20%;"><%=(data[:status]) %>  ---------> <%= data[:days] %> days </td>
                        <td style="width: 20%;"> Room = </td>
                        <td></td>
                    </tr>
                    </tbody>
            <% end %>
        </table>
        </div>
    <% end %>
  </div>
</div>

 <style type="text/css">
    table,
        th,
        td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        table {
        width: 100%;
        }

        table {
        border-collapse: collapse;
        }
        th {
        background: #ccc;
        }

        th,
        td {
        border: 1px solid #ccc;
        padding: 8px;
        }

        tr:nth-child(even) {
        background: #efefef;
        }

        tr:hover {
        background: #d1d1d1;
        }
</style>


 