<div id="<%= dom_id labour %>">
  <p>
    <strong>Name:</strong>
    <%= labour.name %>
  </p>

  <p>
    <strong>Is activate:</strong>
    <%= labour.is_activate %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= labour.mobile_number %>
  </p>

  <p>
    <strong>User:</strong>
    <%= labour.user_id %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= labour.place_id %>
  </p>

</div>
