<%= render 'form' %>
<div class="container-fluid">

	<div class="container-fluid">
   

  <!-- Page Heading -->
	<br />
	<br />
  	<h1 class="h3 mb-2 text-gray-800">Mapping Child And Mother</h1>
	<% if @parent_goats.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>Child Token Number</th>
			            <th>Parent Token Number</th>
			            <th>Edit</th>
			            <th>Delete</th>
			        </thead>
			        <% @parent_goats.each do |parent_goat| %>
			        <tbody>
			          <tr>
			            <td><%= parent_goat.children.token_no %></td>
			            <td><%= parent_goat.parent.token_no %></td>
			            <td><div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success"> <%= link_to 'Edit', edit_parent_goat_path(id: parent_goat.id) %></div></td>
			            <td><div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success"> <%= link_to 'Delete', parent_goat, :method => :delete, data: { confirm: "Really?" } %></div></div></td>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
	<% end %>
 	</div>
</div>