<div class="container-fluid">

	<div class="container-fluid">
  <!-- Page Heading -->
    <% if UserEmployee.find_by(employee_id: current_user.id).role == 'Owner'%>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: right;"> <%= link_to 'Fodder Data', fodder_management_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop Activities', crop_activities_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Water', land_water_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop', land_crop_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Dry Fodder', dry_fodders_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Land', lands_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Crop', crops_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Water', waters_path %></div>
	<%else%>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Water', land_water_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop', land_crop_path %></div>
	<%end%>

  <!-- Page Heading -->
  <br />
  <br />
	
	<br />
	<br />
  	<h1 class="h3 mb-2 text-gray-800">Green Fodder Progress</h1>
	<% if @land_crop_green.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			          	<th>Variety</th>
			          	<th>Land</th>
			            <th>Exp/Ton</th>
			            <th>Cutting Start Date</th>
			            <th>Last Close Date</th>
			            <th>Status</th>
			          </tr>
			        </thead>
			        <% @land_crop_green.each do |land_crop| %>
			        <tbody>
			          <tr>
		          		<% if land_crop.crop_activities.present? && CropActivity.crop_cutting_live(land_crop.id).present? %>
				            <td><%= land_crop.crop.name %></td>
				            <td><%= land_crop.land.name %></td>
				            <td><%= (land_crop.crop.yield * (0.01*land_crop.land.cent)).to_i %></td>
			            	<td> <%= CropActivity.crop_cutting_live(land_crop.id).last.date %></td>
			            	<td> <%= CropActivity.crop_cutting_live(land_crop.id).last.end_date %></td>
			            	<td><%= land_crop.crop_activities.last.status %></td>
				         <% end %>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
	<% end %>
	<br />
	<br />
  	<h1 class="h3 mb-2 text-gray-800">Green Fodder Future</h1>
	<% if @land_crop_green.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			          	<th>Variety</th>
			          	<th>Land</th>
			            <th>Exp/Ton</th>
			            <th>Arri/Ton</th>
			            <th>Days</th>
			            <th>Cutting Start Date</th>
			            <th>Last Close Date</th>
			            <th>Status</th>
			          </tr>
			        </thead>
			        <% @land_crop_green.each do |land_crop| %>
			        <tbody>
			          <tr>
			          	<%# if fodder.variety == 'Groundnut' %> 
			          		<% if land_crop.crop_activities.empty? || CropActivity.crop_cutting_not_live(land_crop.id).present? %>
					            <td><%= land_crop.crop.name %></td>
					            <td><%= land_crop.land.name %></td>
					            <td><%= (land_crop.crop.yield * (0.01*land_crop.land.cent)).to_i %></td>
				            <% end %>

				            <% if land_crop.crop_activities.empty?  %>
				            	<td>  Wait </td>
				            <% elsif land_crop.crop_activities.present? && CropActivity.crop_cutting_not_live(land_crop.id).present? %>
				            	<td> <%= CropActivity.crop_cutting_not_live(land_crop.id).last.comment %></td>
				            <% end %>

				            <% if land_crop.crop_activities.empty? %>
				            	<td> <%= ((land_crop.date + (land_crop.crop.period).to_i) - Date.today).to_i %></td>
				            <% elsif land_crop.crop_activities.present? && CropActivity.crop_cutting_not_live(land_crop.id).present? %>
				            	<td> <%= ((CropActivity.crop_cutting_not_live(land_crop.id).last.end_date + 45.days) - Date.today).to_i%></td>
				            <% end %>

				            <% if land_crop.crop_activities.empty?  %>
				            <%#= byebug %>
				            	<td> <%= land_crop.date + (land_crop.crop.period).to_i %></td>
				            <% elsif land_crop.crop_activities.present? && CropActivity.crop_cutting_not_live(land_crop.id).present? %>
				            	<td> <%= CropActivity.crop_cutting_not_live(land_crop.id).last.end_date + 45%></td>
				            <% end %>

				            <% if land_crop.crop_activities.present? && CropActivity.crop_cutting_not_live(land_crop.id).present? %>
				            	<td> <%= (CropActivity.crop_cutting_not_live(land_crop.id).last.end_date + 60.days)  %></td>
				            <% elsif land_crop.crop_activities.empty? %>
				            	<td> <%= land_crop.date + (land_crop.crop.period.to_i+15).day   %></td>
				            <% end %>

				            <% if land_crop.crop_activities.present? && CropActivity.crop_cutting_not_live(land_crop.id).present? %>
				            	<td> <%= land_crop.crop_activities.last.status %></td>
				            <% elsif land_crop.crop_activities.empty? %>
				            	<td> First Cut </td>
				            <% end %>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
	<% end %>
	<h1 class="h3 mb-2 text-gray-800">Dry Fodder Progress</h1>
	<% if @land_crop_dry.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>Variety</th>
			            <th>Land</th>
			            <th>Exp/Ton</th>
			            <th>Exp/Arrive Date</th>
			            <th>Status</th>
			          </tr>
			        </thead>
			        <% @land_crop_dry.each do |land_crop| %>
			        <tbody>
			          <tr>
			            <td><%= land_crop.crop.name %></td>
			            <td><%= land_crop.land.name %></td>
			            <td><%= (land_crop.crop.yield * (0.01*land_crop.land.cent)).to_i %></td>
			            <% if land_crop.crop.name == 'Solam' && land_crop.crop_activities.empty? %> 
			            	<td><%= land_crop.date + (land_crop.crop.period).to_i.day %></td>
			            <% elsif land_crop.crop.name == 'Groundnut' %>
			            	<td><%= land_crop.date + (land_crop.crop.period).to_i.day  %></td>
			            <% elsif land_crop.crop.name == 'Sorghum' && land_crop.crop_activities.empty? %>
			           		<td><%= land_crop.date + (land_crop.crop.period).to_i.day  %></td>
			           	<% elsif land_crop.crop.name == 'Cowpea' %>
			           		<td><%= land_crop.date + (land_crop.crop.period).to_i.day  %></td>
			           	<% elsif land_crop.crop.name == 'Pigeonpea' %>
			           		<td><%= land_crop.date + (land_crop.crop.period).to_i.day  %></td>
			           	<% elsif land_crop.crop.name == 'Solam' && CropActivity.crop_cutting_not_live(land_crop.id).present? %>
			           		<td><%= CropActivity.crop_cutting_not_live(land_crop.id).last.date + 50.day  %></td>
			           	<% elsif land_crop.crop.name == 'Sorghum' &&  CropActivity.crop_cutting_not_live(land_crop.id).present? %>
			           		<td><%= CropActivity.crop_cutting_not_live(land_crop.id).last.date + 50.day %></td>
			           	<% end %>
			           	<td><%= land_crop.status %></td>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
	<% end %>

	<br />
	<br />
  	<h1 class="h3 mb-2 text-gray-800">Fodder Stock</h1>
	<% if @dry_fodder.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			          	<th>Variety</th>
			            <th>Ton Availability</th>
			            <th>Stock Date</th>
			            <th>Expected Close Date</th>
			          </tr>
			        </thead>
			        <% @dry_fodder.each do |fodder| %>
			        <tbody>
			          <tr>
			          	<%# if fodder.variety == 'Groundnut' %> 
				            <td><%= fodder.variety %></td>
				            <td><%= DryFodder.fodder_availability(fodder.variety)  %></td>
				            <td><%= DryFodder.dry_fodder(fodder.variety).first.purchase_date %></td>
				            <td><%= DryFodder.dry_fodder(fodder.variety).last.close_date %></td>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
		
	<% end %>

 	</div>
</div>