<div class="container-fluid">

  <!-- Page Heading -->
  <div class="container-fluid">
	<% if UserEmployee.find_by(employee_id: current_user.id).role == 'Owner'%>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: right;"> <%= link_to 'Fodder Data', fodder_management_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop Activities', crop_activities_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Water', land_water_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop', land_crop_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Add Land', new_land_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Fertilizer', fertilizers_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Dry Fodder', dry_fodders_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Crop', crops_path %></div>
		<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Water', waters_path %></div>
	<%else%>
	<div class="container-fluid">
		<div class="row justify-content-end">
		<div class="col-auto">
			<div> <%= link_to 'Add Water', land_water_path, class: 'btn btn-primary mb-3' %></div>
		</div>
		</div>
	</div>
	<div class="container-fluid">
	  <div class="row justify-content-end">
		<div class="col-auto">
			<div> <%= link_to 'Add Crop', land_crop_path, class: 'btn btn-primary mb-3' %></div>
		</div>
	  </div>
	</div>
	<%end%>

  <!-- Page Heading -->
	<br />
	<br />
	<h1 class="h3 mb-2 text-gray-800">Our Land</h1>
	<% if @land.exists? %>
	<div class="card shadow mb-4">
		<div class="card-body">
			<div class="container">
				<div class="row">
					<div class="col">
						<% @land.each do |land| %>
							<% if land.soil == 'Black Cotton' && land.name == 'K1' %>
							<div class="square">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br />Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
							<% if land.soil == 'Black Cotton' && land.name == 'K2' %>
							<div class="square2">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %>  <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							d</div>
							<% end %>
							<% if land.soil == 'Black Cotton' && land.name == 'K3' %>
							<div class="square3">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %>  <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %> 
						<% end %>
						<div class="row">
						<% @land.each do |land| %>
							<% if land.soil == 'Black Cotton' && land.name == 'K4' %>
							<div class="square4">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %>  <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
							<% if land.soil == 'Black Cotton' && land.name == 'K5' %>
							<div class="square5">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
						<% end %>
						</div>
						<% @land.each do |land| %>
						<div class="col" style="float: left">
							<% if land.soil == 'Black Cotton' && land.name == 'K6' %>
							<div class="square6">
							<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
							<% if land.soil == 'Black Cotton' && land.name == 'K7' %>
							<div class="square7">
							<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
						</div>
					<% end %>
					</div>
					<div class="col" >
					<% @land.each do |land| %>
						<div class="row">
							<div class="col">
								<% if land.soil == 'Black Cotton' && land.name == 'K8' %>
								<div class="square8">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %>  <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
								</div>
								<% end %>
								<% if land.soil == 'Black Cotton' && land.name == 'K9' %>
								<div class="square9">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %>  <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							   	</div>
							   	<br />
								<br />
								<% end %>
							</div>
						</div>
					<% end %>
					<% @land.each do |land| %>
					<div class="row" style="float: left;">
						<!-- <div class="col" style="float: right"> -->
							<% if land.soil == 'Red' && land.name == 'S1' %>
							<div class="square12">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
							<% if land.soil == 'Red' && land.name == 'S2' %>
							<div class="square11">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
							<% if land.soil == 'Red' && land.name == 'S3' %>
							<div class="square10">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %>  <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
							
						<!-- </div> -->
					</div>
					<% end %>
					<br />
					<% @land.each do |land| %>
						<div class="row" style="float: left">
							<% if land.soil == 'Red' && land.name == 'S4' %>
							<div class="square13">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
							<% if land.soil == 'Red' && land.name == 'S5' %>
							<div class="square14">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
							<% if land.soil == 'Red' && land.name == 'S6' %>
							<div class="square15">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
						</div>
						<div class="row" style="float: left">	
							<% if land.soil == 'Red' && land.name == 'S7' %>
							<div class="square16">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
							<% if land.soil == 'Red' && land.name == 'S8' %>
							<div class="square17">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
							<% if land.soil == 'Red' && land.name == 'S9' %>
							<div class="square18">
								<p> Land: <%= land.name %> <br/> Crop:  <%= land.land_crops.last.crop.name if land.land_crops.present? %> <br /> Plant: <%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %> <br /> Water:  <%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %> <br /> Fodder: <%= land.land_crops.last.fodder if land.land_crops.present? %></p>
							</div>
							<% end %>
						</div>
					<% end %>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="card shadow mb-4">
		<div class="card-body">
		  <div class="table-responsive">
		    <table class="table table-bordered" width="100%" cellspacing="0">
		        <thead>
		          <tr>
		            <th>Name</th>
		            <th>Crop</th>
		            <th>Plant Date</th>
		            <th>Water</th>
		            <th>Edit</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
					<% @land.each do |land| %>
		            <td><%= link_to land.name, land_path(land) %> </td>
		            <td><%= land.land_crops.last.crop.name if land.land_crops.present?  %></td>
		            <td><%= (Date.today - land.land_crops.last.date).to_i if land.land_crops.present?  %></td>
		            <td><%= (Date.today - land.land_waters.last.date).to_i if land.land_waters.present? %></td>
		            <td><div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success"> <%= link_to 'Edit Land', edit_land_path(id: land.id) %></div></td>
		          </tr>
				<% end %>
		        </tbody>
		    </table>
		  </div>
		</div>
	</div>
	<% end %>
 	</div>
</div>