<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Lands', lands_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">PendingWork</h1>
	<br />
	<% if @land.present? %>
      <% if @land.land_waters.present? %>
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Crop</th>
                            <th>Date</th>
                            <th>Gap in water days</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% @land.land_waters.each_with_index do |water, index| %>
                            <tr>
                                <td><%= water.land.name %></td>
                                <td><%= water.land.land_crops.last.crop.name if water.land.land_crops.present?  %></td>
                                <td><%= water.date %></td>
                                <td>
                                <% if index > 0 %>
                                    <%= (water.date - @land.land_waters[index - 1].date).to_i %>
                                <% else %>
                                    N/A
                                <% end %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        <%end%>
	<% end %>
</div>


