<%= form_for @farm_expense do |f| %>
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-5 d-none d-lg-block" >
                 <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
              </div>
              <div class="col-lg-7">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Farm Expenses</h1>
                  </div>
                  <form class="user">
                    <div class="form-group row">
                      <div class="col-sm-4">
                        <div class="field">
                          <label for="name" class="label">Date:</label>
                        </div>
                      </div>
                      <%= f.hidden_field :user_id, :value => current_user.id %>
                      <div class="col-sm-6">
                        <div class="field">
                          <div class="field">
                          <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date_of_birth', placeholder: 'Enter Date', required: 'true' %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-4">
                        <div class="field">
                          <label for="name" class="label">Category :</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="field">
                          <%= f.select :category, FarmExpense.categories.keys, class: ' form-control',prompt: "Select Category", required: 'true' %>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                          <div class="field">
                            <label for="name" class="label">Note :</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="field">
                            <%= f.text_field :note, class: 'input form-control form-control-user', placeholder: 'Enter Note' %>
                          </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                          <div class="field">
                            <label for="name" class="label">Amount :</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="field">
                            <%= f.text_field :amount, class: 'input form-control form-control-user', placeholder: 'Enter Message' %>
                          </div>
                        </div>
                    </div>
                    <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
                    <div class="field has-text-centered">
                      <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                    </div>
                    <hr>
                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
    </div>
<% end %>