<h1>Editing Farm Expense</h1>

<%= render "form", farm_expense: @farm_expense %>

<br>

<div>
  <%= link_to "Show this pending work", @farm_expense %> |
  <%= link_to "Back to pending works", farm_expenses_path %>
</div>
