<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-auto">
      <%= link_to 'New Farm Expenses', new_farm_expense_path, class: 'btn btn-primary mb-3' %>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Expenses Details</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead class="bg-success text-white">
            <tr>
              <th>Date</th>
              <th>Animal</th>
              <th>Note</th>
              <th>Amount</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <% if @farm_expenses.exists? %>
              <% @farm_expenses.each do |farm_expense| %>
                <tr>
                  <td><%= farm_expense.date.in_time_zone('Kolkata').strftime("%Y-%m-%d") %></td>
                  <td><%= farm_expense.category %></td>
                  <td><%= farm_expense.note %></td>
                  <td><%= farm_expense.amount %></td>
                  <td>
                    <%= link_to 'Show', farm_expense, class: 'btn btn-primary mr-2' %>
                    <%= link_to 'Edit', edit_farm_expense_path(farm_expense), class: 'btn btn-warning mr-2' %>
                    <%= link_to 'Destroy', farm_expense, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="5" class="text-center">No expenses found.</td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
