<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @farm_expense.date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @farm_expense.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @farm_expense.amount %>
</p>

<%= link_to 'Edit', edit_farm_expense_path(@farm_expense) %> |
<%= link_to 'Back', farm_expenses_path %>
