<%= form_for (@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this model from being saved:</h2>
      <ul>
        <% @feed.errors.full_messages.each do |msg| %>
          <li  class="error-message"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Feed Rate</h1>
              </div>
              <form class="user">
                 <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                 <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Animal :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.select :animal, Feed.animals.keys, class: ' form-control',prompt: "Select Animal", required: 'true' %>
                      </div>
                    </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Concentrate Feed :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :concentrate, class: 'input form-control form-control-user', placeholder: 'Enter Feed  ', id: 'milk_assurance', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Silage :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.text_field :green_fodder, class: 'input form-control form-control-user', id: 'cow_rate', placeholder: 'Enter Green Fodder', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Dry Fooder Variety :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.select :dry_fodder_variety, Feed.dry_fodder_varieties.keys, class: ' form-control',prompt: "Select Category", required: 'true' %>
                      </div>
                    </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Dry Fodder :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.text_field :dry_fodder, class: 'input form-control form-control-user', placeholder: 'Enter Dry Fodder', required: true %>
                    </div>
                  </div>
                </div>
                
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
