<div class="container-fluid">

 <div class="d-flex flex-column">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <%= link_to 'Add Feed Usage', new_feed_path, class: 'btn btn-primary mb-3' %>
    </div>
  </div>
  <br />
  <div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Feed Usage Management</h1>
    <br />
    <!-- DataTales Example -->
    <% if @feeds.exists? %>
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Animal</th>
                    <th>Concentrate</th>
                    <th>Green Fooder</th>
                    <th>Dry Fooder Variety</th>
                    <th>Dry Fooder </th>
                    <th>Feed Cost </th>
                    <th>Status </th>
                    <th> Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% @feeds.each do |feed| %>
                  <tr>
                  <td><%= feed.date %></td>
                  <td><%= feed.animal %></td>
                  <td><%= feed.concentrate %></td>
                  <td><%= feed.green_fodder %></td>
                  <td><%= feed.dry_fodder_variety %></td>
                  <td><%= feed.dry_fodder %></td>
                  <td><%= feed.feed_cost %></td>
                  <td><%= feed.status %></td>
                  <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Work', edit_feed_path(feed) %></div></td>
                  <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', feed, :method => :delete, data: { confirm: "Really?" } %></div></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>