<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Mate Details</h1>
  </div>
  <%= render 'form' %>
  <% if @mate_goats.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Male Goat</th>
          <th>Female Goat </th>
          <th>Date </th>
          <th>Comment </th>
          <th>Edit </th>
          <th>Delete </th>
        </tr>
        </thead>
        <tbody>
        <% @mate_goats.each do |mat| %>
          <tr>
            <td><%= mat.male.token_no %></td>
            <td><%= mat.female.token_no %></td>
            <td><%= mat.date_of_mat %></td>
            <td><%= mat.comment %></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Mate With', edit_mate_goat_path(:id => mat.id) %></div></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', mat, :method => :delete, data: { confirm: "Really?" } %></div></td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  
</div>