<%= form_for @purchaser do |f| %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block"> 
            <%= image_tag("coconut.jpg", class: 'bg-register-image', size: "450x360") %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Purchaser</h1>
              </div>
              <%= f.fields_for :purchaser do |purchaser_fields| %>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Name :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :name, class: 'input form-control form-control-user', placeholder: 'Enter Purchaser Name', id: 'name', required: true %>
                  </div>
                </div>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Place</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :place_id, options_for_select(@place.collect {|u| [u.name, u.id]},:selected => f.object.place_id),{ include_blank: 'Select Place' }, { class: 'form-control form-control-user',prompt: "Select Place", required: 'true'} %> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Mobile Number :</label>
                    </div>
                  </div>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <div class="col-sm-6">
                    <%= f.text_field :mobile_number, class: 'input form-control form-control-user', placeholder: 'Enter Mobile Name', id: 'name' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="is_active" class="label">Is Active :</label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label class="radio-inline"><%= f.radio_button :is_activate, true, checked: true %> Yes</label>
                    <label class="radio-inline"><%= f.radio_button :is_activate, false %> No</label>
                  </div>
                </div>
              <% end %>
              <div class="field has-text-centered">
                <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>




