<div id="<%= dom_id purchaser %>">
  <p>
    <strong>Name:</strong>
    <%= purchaser.name %>
  </p>

  <p>
    <strong>Is activate:</strong>
    <%= purchaser.is_activate %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= purchaser.mobile_number %>
  </p>

  <p>
    <strong>User:</strong>
    <%= purchaser.user_id %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= purchaser.place_id %>
  </p>

</div>
