<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Purchaser', new_purchaser_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
      <thead class="bg-dark text-white">
        <tr>
          <th>Name</th>
          <th>Place</th>
          <th>Mobile</th>
          <th>Is Activate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @purchasers.each do |purchaser| %>
          <tr>
            <td><%= purchaser.name %></td>
            <td><%= purchaser.place.name %></td>
            <td><%= purchaser.mobile_number %></td>
            <td><%= purchaser.is_activate %></td>
            <td>
              <%= link_to 'Show', purchaser, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Edit', edit_purchaser_path(purchaser), class: 'btn btn-warning mr-2' %>
              <%= link_to 'Destroy', purchaser, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
