<%= form_for (@dry_fodder) do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Dry Fodder</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Purchase Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                     <%= f.date_field :purchase_date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Purchase Date', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Fodder Variety :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :variety, DryFodder.varieties.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Amount :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :amount, class: 'input form-control form-control-user', placeholder: 'Enter Amount  ', id: 'amount', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Quantity/Ton :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :qty, class: 'input form-control form-control-user', placeholder: 'Enter Quantity  ', id: 'qty', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Total Area/Cent :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :land_qty, class: 'input form-control form-control-user', placeholder: 'Enter Land Area', id: 'qty', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Expected Close Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                     <%= f.date_field :close_date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Expected Close Date', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Comment :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_area :comment, class: 'input form-control form-control-user', placeholder: 'Enter Commnet', id: 'comment', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Status :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :status, DryFodder.statuses.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
