<div class="container-fluid">

	<div class="container-fluid">
  <!-- Page Heading -->
  	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: right;"> <%= link_to 'Fodder Data', fodder_management_path %></div>
    <div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop Activities', crop_activities_path %></div>
    <div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Water', land_water_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop', land_crop_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Add Dry Fodder', new_dry_fodder_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Fertilizer', fertilizers_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Land', lands_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Crop', crops_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Water', waters_path %></div>

  <!-- Page Heading -->
	<br />
	<br />
  	<h1 class="h3 mb-2 text-gray-800">Dry Fodder Current</h1>
	<% if @dry_fodder.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>Purchase Date</th>
			            <th>Variety</th>
			            <th>Quantity/Ton</th>
			            <th>Amount</th>
			            <th>Total Area/Cent</th>
			            <th>Expected Close Date</th>
			            <th>Comment</th>
			            <th>Status</th>
			            <th>Edit</th>
			          </tr>
			        </thead>
			        <% @dry_fodder.each do |dry_fodder| %>
			        <tbody>
			          <tr>
			            <td><%=  dry_fodder.purchase_date %></td>
			            <td><%=  dry_fodder.variety  %></td>
			            <td><%=  dry_fodder.qty  %></td>
			            <td><%=  dry_fodder.amount  %></td>
			            <td><%=  dry_fodder.land_qty  %></td>
			            <td><%=  dry_fodder.close_date  %></td>
			            <td><%=  dry_fodder.comment %> </td>
			            <td><%=  dry_fodder.status  %></td>
			            <td><div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success"> <%= link_to 'Edit Fodder', edit_dry_fodder_path(id: dry_fodder.id) %></div></td>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
		<% end %>

		<h1 class="h3 mb-2 text-gray-800">Dry Fodder</h1>
	<% if @dry_fodders.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>Purchase Date</th>
			            <th>Variety</th>
			            <th>Quantity/Ton</th>
			            <th>Amount</th>
			            <th>Total Area/Cent</th>
			            <th>Expected Close Date</th>
			            <th>Comment</th>
			            <th>Status</th>
			            <th>Edit</th>
			          </tr>
			        </thead>
			        <% @dry_fodders.each do |dry_fodder| %>
			        <tbody>
			          <tr>
			            <td><%=  dry_fodder.purchase_date %></td>
			            <td><%=  dry_fodder.variety  %></td>
			            <td><%=  dry_fodder.qty  %></td>
			            <td><%=  dry_fodder.amount  %></td>
			            <td><%=  dry_fodder.land_qty  %></td>
			            <td><%=  dry_fodder.close_date  %></td>
			            <td><%=  dry_fodder.comment %> </td>
			            <td><%=  dry_fodder.status  %></td>
			            <td><div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success"> <%= link_to 'Edit Fodder', edit_dry_fodder_path(id: dry_fodder.id) %></div></td>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
	<% end %>
 	</div>
</div>