<div id="<%= dom_id feed_availability %>">
  <p>
    <strong>Date:</strong>
    <%= feed_availability.date %>
  </p>

  <p>
    <strong>Fodder variety:</strong>
    <%= feed_availability.fodder_variety %>
  </p>

  <p>
    <strong>Stored kg:</strong>
    <%= feed_availability.stored_kg %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= feed_availability.rate %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= feed_availability.total_amount %>
  </p>

  <p>
    <strong>Current kg:</strong>
    <%= feed_availability.current_kg %>
  </p>

  <p>
    <strong>Business:</strong>
    <%= feed_availability.business_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= feed_availability.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= feed_availability.status %>
  </p>

</div>
