<%= form_for @feed_availability do |f| %>
<% if @feed_availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed_availability.errors.count, "error") %> prohibited this model from being saved:</h2>
      <ul>
        <% @feed_availability.errors.full_messages.each do |msg| %>
          <li  class="error-message"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block"> 
            <%= image_tag("coconut.jpg", class: 'bg-register-image', size: "450x360") %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Fooder Stock Availability</h1>
              </div>
              <%= f.fields_for :kopparai do |place_fields| %>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Fooder Variety :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.select :fodder_variety, FeedAvailability.fodder_varieties.keys, class: ' form-control',prompt: "Select Category", required: 'true' %>
                      </div>
                    </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">KG :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :stored_kg, class: 'input form-control form-control-user', placeholder: 'Enter Kg', id: 'kg', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Rate :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :rate, class: 'input form-control form-control-user', placeholder: 'Enter Rate', id: 'rate', required: true %>
                  </div>
                </div>
                <div id="total_amount_notice" class="total-amount-hint">
                  Total Amount: <span id="total_amount_value">0.00</span>
                </div>
                <br />
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Total Amount :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :total_amount, class: 'input form-control form-control-user', placeholder: 'Enter Total Amount', id: 'total_amount', required: true %>
                  </div>
                </div>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
              <% end %>
               <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="is_active" class="label">Status :</label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label class="radio-inline"><%= f.radio_button :status, true, checked: true %> Yes</label>
                    <label class="radio-inline"><%= f.radio_button :status, false %> No</label>
                  </div>
                </div>
              <div class="field has-text-centered">
                <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('#kg, #rate').on('input', function() {
      var kg = parseFloat($('#kg').val()) || 0;
      var rate = parseFloat($('#rate').val()) || 0;
      var total_amount = kg * rate;
      $('#total_amount_value').text(total_amount.toFixed(2)); // You can adjust the decimal places as needed
      $('#total_amount_notice').removeClass('warning'); // Remove warning class initially
      
      if (total_amount <= 0) {
        $('#total_amount_notice').addClass('warning'); // Add warning class if total amount is zero or negative
      }
    });
  });
</script>
