<h1>Editing feed availability</h1>

<%= render "form", feed_availability: @feed_availability %>

<br>

<div>
  <%= link_to "Show this feed availability", @feed_availability %> |
  <%= link_to "Back to feed availabilities", feed_availabilities_path %>
</div>
