<div class="container-fluid">

 <div class="d-flex flex-column">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <%= link_to 'New Feed Stock', new_feed_availability_path, class: 'btn btn-primary mb-3' %>
    </div>
  </div>
  <br />
  <div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Feed Stock Management</h1>
    <br />
    <!-- DataTales Example -->
    <% if @feed_availabilities.exists? %>
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th data-data="date">Date</th>
                    <th data-data="fodder_variety">Fodder variety</th>
                    <th data-data="stored_kg">Stored kg</th>
                    <th data-data="rate">Rate</th>
                    <th data-data="total_amount">Total amount</th>
                    <th data-data="current_kg">Current kg</th>
                    <th data-data="status">Status</th>
                    <th> Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% @feed_availabilities.each do |feed| %>
                  <tr>
                  <td><%= feed.date %></td>
                  <td><%= feed.fodder_variety %></td>
                  <td><%= feed.stored_kg %></td>
                  <td><%= feed.rate %></td>
                  <td><%= feed.total_amount %></td>
                  <td><%= feed.current_kg %></td>
                  <td><%= feed.status %></td>
                  <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Work', edit_feed_availability_path(feed) %></div></td>
                  <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', feed, :method => :delete, data: { confirm: "Really?" } %></div></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>