<p style="color: green"><%= notice %></p>

<%= render @feed_availability %>

<div>
  <%= link_to "Edit this feed availability", edit_feed_availability_path(@feed_availability) %> |
  <%= link_to "Back to feed availabilities", feed_availabilities_path %>

  <%= button_to "Destroy this feed availability", @feed_availability, method: :delete %>
</div>
