<%= form_for (@invoice) do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Generate Bill</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-2">
                    <div class="field">
                      <label for="name" class="label">Date Of Sale :</label>
                    </div>
                  </div>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <div class="col-sm-3">
                    <div class="field">
                      <div class="field">
                      <%= f.date_field :sale_date, class: 'input input form-control form-control-user',id: 'sale_date', placeholder: 'Enter Date', required: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <%= f.fields_for :goat_sales do |goat_detail| %>
                  <%= render 'goat_sale_fields', f: goat_detail  %>
                <% end %>
                <%= link_to_add_fields "Add Goat", f, :goat_sales, { :class=>"text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" } %>
                <br />
                <br />
                <div class="form-group row">
                  <div class="col-sm-1.5">
                    <div class="field">
                      <label for="name" class="label">Discount :</label>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="field">
                      <%= f.text_field :discount, class: 'input form-control form-control-user', placeholder: 'Discount Amount',id: 'discount', required: true %>
                    </div>
                  </div>
                  <div class="col-sm-1.5">
                    <div class="field">
                      <label for="name" class="label">Total Amount :</label>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="field">
                      <%= f.text_field :total_amount, class: 'input form-control form-control-user', placeholder: 'Enter Total Amount',id: 'total_amount', required: true %>
                    </div>
                  </div>
                  <div class="col-sm-1.5">
                    <div class="field">
                      <label for="name" class="label">Total Weight :</label>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="field">
                      <%= f.text_field :total_weight, class: 'input form-control form-control-user', placeholder: 'Enter Total Weight',id: 'total_weight', required: true %>
                    </div>
                  </div>
                </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>