<div class="form-group row nested-fields">
  <%= f.hidden_field :_destroy %>
  <div class="col-sm-1.5 mb-3 mb-sm-0">
    <div class="field">
      <label for="name" class="label">Token :</label>
    </div>
  </div>
  <div class="col-sm-2 mb-3 mb-sm-0">
    <%= f.select :goat_id, options_for_select(Goat.live_goat(current_user).collect {|u| [u.token_no, u.id]}), class: 'form-control form-control-user',prompt: "Select Goat", required: 'true' %>
    <%#=f.select :female_id, options_for_select(@female.collect {|u| [u.token_no, u.id]}), class: 'form-control form-control-user',prompt: "Select Goat", required: 'true' %>
  </div>
  <div class="col-sm-1.5">
    <div class="field">
      <label for="name" class="label">Weight :</label>
    </div>
  </div>
  <div class="col-sm-2 mb-3 mb-sm-0">
  <%= f.text_field :weight, class: 'input form-control form-control-user', placeholder: 'Enter Weight ', id: 'weight', required: true %>
  </div>
  <div class="col-sm-1.5">
    <div class="field">
      <label for="name" class="label">Amount :</label>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="field">
      <%= f.text_field :amount, class: 'input form-control form-control-user', placeholder: 'Enter Amount',id: 'amount', required: true %>
    </div>
  </div>
  <div class="col-sm-1.5">
    <div class="field">
      <label for="name" class="label">Purpose :</label>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="field">
      <div class="field">
        <%= f.select :purpose_of_sale, GoatSale.purpose_of_sales.keys, class: 'form-control' %>
      </div>
      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
    </div>
  </div>
<%= link_to "Remove", '#', class: "remove_fields" %>
</div>