<div class="container-fluid">

  <!-- Page Heading -->

<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: right;"> <%= link_to 'Make Bill', new_invoice_path %></div>
  <div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Sale Data</h1>
	<% if @invoice.present? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
                <% @year.each do |year| %>
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
                          <tr>
                           <th>Year</th>
                            <th>Male Kid (<%= Invoice.year_saled_kid_male(current_user,year) %>)</th>
                            <th>Femal Kid (<%= Invoice.year_saled_kid_female(current_user,year) %>)</th>
                            <th>Goat (<%= Invoice.year_saled_female(current_user,year) %>)</th>
                            <th>Earned </th>
                            <th>Expenses </th>
                            <th>Year Income </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td> <%= link_to year, invoice_year_path(year: year, user: current_user) %></td>
                            <td>RS. <%= Invoice.year_saled_kid_male(current_user,year) %></td>
                            <td>RS. <%= Invoice.year_saled_kid_female(current_user,year) %></td>
                            <td>RS. <%= Invoice.year_saled_female(current_user,year) %></td>
                            <td>RS. <%= Invoice.year_earn(current_user,year) %></td>
                            <td>RS. <%= FarmExpense.year_expenses(current_user,year) %></td>
                            <td>RS. <%= (Invoice.year_earn(current_user, year) || 0) - (FarmExpense.year_expenses(current_user, year) || 0) %></td>
                          </tr>
                        </tbody>
                        <% end %>
			    </table>
			  </div>
			</div>
		</div>
		<!-- <div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>Male Kid (<%#= GoatSale.saled_kid_male(current_user).count %>)</th>
			            <th>Femal Kid (<%#= GoatSale.saled_kid_female(current_user).count %>)</th>
			            <th>Goat (<%#= GoatSale.Saled_female(current_user).count %>)</th>
			            <th>Total Earned </th>
			            <th>Total Expenses </th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>RS. <%#= @male_kid_amount  if @male_kid_amount.present? %></td>
			            <td>RS. <%#= @female_kid_amount  if @female_kid_amount.present? %></td>
			            <td>RS. <%#= @female_amount  if @female_amount.present? %></td>
			            <td>RS. <%#= @invoice_total_amount if @invoice_total_amount.present? %></td>
			            <td>RS. <%#= @total_Expeses if @total_Expeses.present? %></td>

			          </tr>
			        </tbody>
			    </table>
			  </div>
			</div>
		</div> -->
	<% end %>
 </div>
</div>