<div class="container-fluid">

  <!-- Page Heading -->

<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: right;"> <%= link_to 'Make Bill', new_invoice_path %></div>
  <div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Sale Data</h1>
	<br />
	<% if @invoice.exists? %>
		<div class="card shadow mb-3">
			<div class="card-body">
				<div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>No</th>
			            <th>Invoice Amount</th>
						<th>Sale Weight</th>
			            <th>Date</th>
			            <th>Details</th>
			          </tr>
			        </thead>
			        <tbody>
			        <% @count = 0 %>
			        <% @invoice.each do |invoice| %>
			          <tr>
			            <td><%= @count += 1 %></td>
			            <td>RS. <%= invoice.total_amount %></td>
						<td><%= invoice.total_weight %></td>
			            <td><%= invoice.sale_date %></td>
			            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Invoice Detail', invoice_path(:id => invoice.id) %></div></td>
			          </tr>
			         <% end %>
			        </tbody>
			    </table>
			  </div>
			</div>
		</div>
	<% end %>
 </div>
</div>