<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Invoice Detail</h1>
	<br />
	<% if @invoice.present? %>
		<div class="card shadow mb-3">
			<div class="card-body">
				<div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			          	<td>No</td>
			            <th>Token Number</th>
			            <th>Breed</th>
			            <th>Weight</th>
			            <th>Rate</th>
			            <th>Purpose</th>
			            <!-- <th>Edit</th> -->
			          </tr>
			        </thead>
			        <tbody>
			        <% @count = 0 %>
			        <% @invoice.goat_sales.each do |goat_sale| %>
			          <tr>
			            <td><%= @count += 1 %></td>
			            <td><%= goat_sale.goat.token_no %></td>
			            <td><%= goat_sale.goat.breed_variety %></td>
			            <td><%= goat_sale.weight%></td>
			            <td><%= goat_sale.amount %></td>
			            <td><%= goat_sale.purpose_of_sale %></td>
			            <!-- <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%#= link_to 'Edit Invoice', edit_invoice_path(:id => invoice.id) %></div></td> -->
			          </tr>
			         <% end %>
			        </tbody>
			    </table>
			   </div>
			    <div class="table-responsive">
				    <table class="table table-bordered" width="100%" cellspacing="0">
				        <thead>
						    <tr>
					          	<td>Discount</td>
					          	<td>Total Amount</td>
					         </tr>
					    </thead>
					    <tbody>
					    	 <tr>
				          	<td><%= @invoice.discount %></td>
				          	<td><%= @invoice.total_amount %></td>
				          </tr>
				         </tbody>
				    </table>
			  	</div>
			</div>
		</div>
	<% end %>
</div>
