<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><h5><%= message %></h5></li>
      <% end %>
    </ul>
  </div>
<% end %>

<style type="text/css">

 h5 {
  /*background:  rgba(0,0,0,0.5);*/
  background-color: #11ffee00;
  font-family: 'Rubik', sans-serif;
  /*padding: 35px 35px 0 35px;*/
  font-weight: 300;
  width: 250px;
  margin: 25px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
</style>