<%= form_for (@crop_activity) do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Crop Activity</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Land :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :land_crop_id, options_for_select(LandCrop.land_crop_live.collect {|u| [u.land.name, u.id]}, :selected => f.object.land_crop_id), class: 'form-control form-control-user',prompt: "Select Land", required: 'true' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                     <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Activity :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :activity, CropActivity.activities.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Comment :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :comment, class: 'input form-control form-control-user', placeholder: 'Enter Comment  ', id: 'comment', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">End Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                     <%= f.date_field :end_date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Status :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :status, DryFodder.statuses.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
