<div class="container-fluid">

	<div class="container-fluid">
  <!-- Page Heading -->
    <div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: right;"> <%= link_to 'Fodder Data', fodder_management_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop Activities', crop_activities_path %></div>
    <div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Water', land_water_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop', land_crop_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Add Activity', new_crop_activity_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Fertilizer', fertilizers_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Land', lands_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Crop', crops_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Water', waters_path %></div>


  <!-- Page Heading -->
	<br />
	<br />
  	<h1 class="h3 mb-2 text-gray-800">Daily Activities </h1>
	<% if @crop_activity.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>Land</th>
			            <th>Crop</th>
			            <th>Fodder</th>
			            <th>Date</th>
			            <th>Activity</th>
			            <th>End Date</th>
			            <th>Status</th>
			            <th>Comment</th>
			            <th>Edit</th>
			          </tr>
			        </thead>
			        <% @crop_activity.each do |crop_activity| %>
			        <tbody>
			          <tr>
			            <td><%=  crop_activity.land_crop.land.name %></td>
			            <td><%=  crop_activity.land_crop.crop.name  %></td>
			            <td><%=  crop_activity.land_crop.fodder  %></td>
			            <td><%=  crop_activity.date  %></td>
			            <td><%=  crop_activity.activity  %></td>
			            <td><%=  crop_activity.end_date if crop_activity.end_date.present?  %></td>
			            <td><%=  crop_activity.status  %></td>
			            <td><%=  crop_activity.comment  %></td>
			            <td><div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success"> <%= link_to 'Edit Activity', edit_crop_activity_path(id: crop_activity.id) %></div></td>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
		<% end %>

		<h1 class="h3 mb-2 text-gray-800">Crop Activity</h1>
	<% if @crop_activities.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>Land</th>
			            <th>Crop</th>
			            <th>Fodder</th>
			            <th>Date</th>
			            <th>Activity</th>
			            <th>End Date</th>
			            <th>Status</th>
			            <th>Comment</th>
			            <th>Edit</th>
			          </tr>
			        </thead>
			        <% @crop_activities.each do |crop_activity| %>
			        <tbody>
			          <tr>
			            <td><%=  crop_activity.land_crop.land.name %></td>
			            <td><%=  crop_activity.land_crop.crop.name  %></td>
			            <td><%=  crop_activity.land_crop.fodder%></td>
			            <td><%=  crop_activity.date  %></td>
			            <td><%=  crop_activity.activity  %></td>
			            <td><%=  crop_activity.end_date if crop_activity.end_date.present?  %></td>
			            <td><%=  crop_activity.status  %></td>
			            <td><%=  crop_activity.comment  %></td>
			            <td><div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success"> <%= link_to 'Edit Activity', edit_crop_activity_path(id: crop_activity.id) %></div></td>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
	<% end %>
 	</div>
</div>