<div id="<%= dom_id coconut_expense %>">
  <p>
    <strong>Reason:</strong>
    <%= coconut_expense.reason %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= coconut_expense.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= coconut_expense.date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= coconut_expense.total_amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= coconut_expense.user_id %>
  </p>

</div>
