<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Coconut Expenses', new_coconut_expense_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
      <thead class="bg-dark text-white">
        <tr>
          <th>Date</th>
          <th>Reason</th>
          <th>Kai</th>
          <th>Salary amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @coconut_expenses.each do |coconut_expenses| %>
          <tr>
            <td><%= coconut_expenses.date.in_time_zone('Kolkata').strftime("%Y-%m-%d ")%></td>
            <td><%= coconut_expenses.reason %></td>
            <td><%= coconut_expenses.name %></td>
            <td><%= coconut_expenses.total_amount %></td>
            <td>
              <%= link_to 'Show', coconut_expenses, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Edit', edit_coconut_expense_path(coconut_expenses), class: 'btn btn-warning mr-2' %>
              <%= link_to 'Destroy', coconut_expenses, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
