<div class="container-fluid">
  <div class="container-fluid">
    <h1>New Coconut Expenses</h1>
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Coconut Expensess', coconut_expenses_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<%= render "form", coconut_expenses: @coconut_expenses %>

<br>