<div class="container-fluid">

	<div class="container-fluid">
  <!-- Page Heading -->
  	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: right;"> <%= link_to 'Fodder Data', fodder_management_path %></div>
  	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop Activities', crop_activities_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Water', land_water_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop', land_crop_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Add Water', new_water_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Fertilizer', fertilizers_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Dry Fodder', dry_fodders_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Land', lands_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Crop', crops_path %></div>

  <!-- Page Heading -->
	<br />
	<br />
  	<h1 class="h3 mb-2 text-gray-800">Our Land</h1>
	<% if @water.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>Source</th>
			            <th>Name</th>
			            <th>Level</th>
			            <th>Details</th>
			            <th>Edit</th>
			          </tr>
			        </thead>
			        <% @water.each do |water| %>
			        <tbody>
			          <tr>
			            <td><%= water.source %></td>
			            <td><%= water.name %></td>
			            <td><%= water.level %></td>
			            <td><%= water.details %></td>
			            <td><div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success"> <%= link_to 'Edit water', edit_water_path(id: water.id) %></div></td>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
		
	<% end %>

 	</div>
</div>

