<div class="form-group row nested-fields">
  <%= f.hidden_field :_destroy %>
  <div class="col-sm-1.5 mb-3 mb-sm-0">
    <div class="field">
      <label for="name" class="label">Rack :</label>
    </div>
  </div>
  <div class="col-sm-2 mb-3 mb-sm-0">
    <%= f.select :rack_detail_id, options_for_select(RackDetail.all.collect {|u| [u.name, u.id]}), class: 'form-control form-control-user',prompt: "Select Rack", required: 'true' %>
    <%#=f.select :female_id, options_for_select(@female.collect {|u| [u.token_no, u.id]}), class: 'form-control form-control-user',prompt: "Select Goat", required: 'true' %>
  </div>
  <div class="col-sm-1.5">
    <div class="field">
      <label for="name" class="label">Kid Stage :</label>
    </div>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
  <div class="col-sm-2">
    <div class="field">
      <div class="field">
        <%= f.select :kid_stage, BatchWeight.kid_stages.keys, class: 'form-control' %>
      </div>
      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
    </div>
  </div>
  <div class="col-sm-1.5">
    <div class="field">
      <label for="name" class="label">Male Count:</label>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="field">
      <%= f.text_field :male_count, class: 'input form-control form-control-user', placeholder: 'Enter Male Count',id: 'amount', required: true %>
    </div>
  </div>
  <div class="col-sm-1.5">
    <div class="field">
      <label for="name" class="label">Female Count :</label>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="field">
      <%= f.text_field :female_count, class: 'input form-control form-control-user', placeholder: 'Enter Female Count',id: 'amount', required: true %>
    </div>
  </div>
  <div class="col-sm-1.5">
    <div class="field">
      <label for="name" class="label">Weight :</label>
    </div>
  </div>
  <div class="col-sm-2 mb-3 mb-sm-0">
  <%= f.text_field :weight, class: 'input form-control form-control-user', placeholder: 'Enter Weight ', id: 'weight', required: true %>
  </div>

<%= link_to "Remove", '#', class: "remove_fields" %>
</div>