
<%= form_for (@month_on_weight) do |f| %>
  <% if @month_on_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@month_on_weight.errors.count, "error") %> prohibited this model from being saved:</h2>
      <ul>
        <% @month_on_weight.errors.full_messages.each do |msg| %>
          <li  class="error-message"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Monthly Weight Data</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-2">
                    <div class="field">
                      <label for="name" class="label">Date Of Wight :</label>
                    </div>
                  </div>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
                  <div class="col-sm-3">
                    <div class="field">
                      <div class="field">
                      <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <%= f.fields_for :batch_weights do |batch_weight| %>
                  <%= render 'batch_weight_fields', f: batch_weight  %>
                <% end %>
                <%= link_to_add_fields "Add Goat Batch Weight", f, :batch_weights, { :class=>"text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" } %>
                <br />
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <div class="field">
                      <label for="total_male_count" class="label">Total Male In Farm :</label>
                      <%= f.text_field :total_male_count, class: 'input form-control form-control-user', placeholder: 'Enter Total Male Count', required: true %>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="field">
                      <label for="total_female_count" class="label">Total Female In Farm :</label>
                      <%= f.text_field :total_female_count, class: 'input form-control form-control-user', placeholder: 'Enter Total Female Count', required: true %>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="field">
                      <label for="total_weight" class="label">Total Weight In Farm  :</label>
                      <%= f.text_field :total_weight, class: 'input form-control form-control-user', placeholder: 'Enter Total Weight', required: true %>
                    </div>
                  </div>
                </div>
                <br />
                <br />
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>