<div id="<%= dom_id month_on_weight %>">
  <p>
    <strong>Total male count:</strong>
    <%= month_on_weight.total_male_count %>
  </p>

  <p>
    <strong>Total female count:</strong>
    <%= month_on_weight.total_female_count %>
  </p>

  <p>
    <strong>Total weight:</strong>
    <%= month_on_weight.total_weight %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= month_on_weight.date %>
  </p>

  <p>
    <strong>Business:</strong>
    <%= month_on_weight.business_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= month_on_weight.user_id %>
  </p>

</div>
