<h1>Editing month on weight</h1>

<%= render "form", month_on_weight: @month_on_weight %>

<br>

<div>
  <%= link_to "Show this month on weight", @month_on_weight %> |
  <%= link_to "Back to month on weights", month_on_weights_path %>
</div>
