<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'ADD Month Weight Data', new_month_on_weight_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Monthly Weight Details</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead class="bg-success text-white">
              <tr>
                <th>Month</th>
                <th>Male </th>
                <th>Female</th>
                <th>Sales </th>
                <th>Death</th>
                <th>Total Kid </th>
                <th>Total Weight</th>
                <th>Avg Weight Gain</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <% if @month_on_weights.present? %>
                <% @month_on_weights.each do |month_on_weight| %>
                  <tr>
                    <td><%= (month_on_weight[:date]).strftime("%B") %></td>
                    <td><%= month_on_weight[:male] %></td>
                    <td><%= month_on_weight[:female] %></td>
                    <td><%=  month_on_weight[:sales] %> </td>
                    <td><%=  month_on_weight[:death] %></td>
                    <td><%=  month_on_weight[:total_kid] %></td>
                    <td><%= month_on_weight[:total_weight] %></td>
                    <td><%= month_on_weight[:avg_weight_gain] %></td>
                    <td>
                      <%= link_to 'Show', month_on_weight, class: 'btn btn-primary mr-2' %>
                      <%= link_to 'Edit', edit_month_on_weight_path(month_on_weight[:id]), class: 'btn btn-warning mr-2' %>
                      <%= link_to 'Destroy', month_on_weight_path(month_on_weight), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                    </td>
                  </tr>
                <% end %>
              <%end%>
            </tbody>
        </table>
      </div>
    </div>
  </div>