<p style="color: green"><%= notice %></p>

<%= render @month_on_weight %>

<div>
  <%= link_to "Edit this month on weight", edit_month_on_weight_path(@month_on_weight) %> |
  <%= link_to "Back to month on weights", month_on_weights_path %>

  <%= button_to "Destroy this month on weight", @month_on_weight, method: :delete %>
</div>
