<div id="<%= dom_id sales_and_death %>">
  <p>
    <strong>Male count:</strong>
    <%= sales_and_death.male_count %>
  </p>

  <p>
    <strong>Action type:</strong>
    <%= sales_and_death.action_type %>
  </p>

  <p>
    <strong>Goat type:</strong>
    <%= sales_and_death.goat_type %>
  </p>

  <p>
    <strong>Female count:</strong>
    <%= sales_and_death.female_count %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= sales_and_death.date %>
  </p>

  <p>
    <strong>Business:</strong>
    <%= sales_and_death.business_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sales_and_death.user_id %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= sales_and_death.rate %>
  </p>

  <p>
    <strong>Total weight:</strong>
    <%= sales_and_death.total_weight %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= sales_and_death.total_amount %>
  </p>

</div>
