<h1>Editing sales and death</h1>

<%= render "form", sales_and_death: @sales_and_death %>

<br>

<div>
  <%= link_to "Show this sales and death", @sales_and_death %> |
  <%= link_to "Back to sales and deaths", sales_and_deaths_path %>
</div>
