<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Add Sales or Death', new_sales_and_death_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Sale Details</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead class="bg-success text-white">
              <tr>
                <th>Action</th>
                <th>Date</th>
                <th>Type</th>
                <th>Male Count</th>
                <th>Female Count</th>
                <th>Total Weight</th>
                <th>Rate per/kg</th>
                <th>Total Amount</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <% if @sales_and_deaths.exists? %>
                <% @sales_and_deaths.each do |sales_and_death| %>
                  <tr>
                    <td><%= sales_and_death.action_type %></td>
                    <td><%= sales_and_death.date.strftime("%Y-%m-%d ")%></td>
                    <td><%= sales_and_death.action_type %></td>
                    <td><%= sales_and_death.male_count %></td>
                    <td><%= sales_and_death.female_count %></td>
                    <td><%= sales_and_death.total_weight %></td>
                    <td><%= sales_and_death.rate %></td>
                    <td><%= sales_and_death.total_amount %></td>
                    <td>
                      <%= link_to 'Show', sales_and_death, class: 'btn btn-primary mr-2' %>
                      <%= link_to 'Edit', edit_sales_and_death_path(sales_and_death), class: 'btn btn-warning mr-2' %>
                      <%= link_to 'Destroy', sales_and_death, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                    </td>
                  </tr>
                <% end %>
              <%end%>
            </tbody>
        </table>
      </div>
    </div>
  </div>