<p style="color: green"><%= notice %></p>

<%= render @sales_and_death %>

<div>
  <%= link_to "Edit this sales and death", edit_sales_and_death_path(@sales_and_death) %> |
  <%= link_to "Back to sales and deaths", sales_and_deaths_path %>

  <%= button_to "Destroy this sales and death", @sales_and_death, method: :delete %>
</div>
