<%= form_for (@milk_productions) do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
              <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Milk</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Cow ID :</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%= f.select :cow_id, options_for_select(@all_cow.collect{ |u| [u.token_no, u.id] }, :selected => f.object.cow_id), { include_blank: 'Select Cow' }, { class: 'form-control form-control-user', prompt: "Select Cow", required: 'true' } %>
                  </div>
                </div>
                
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date Of Milk :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.date_field :milk_date, class: 'input input form-control form-control-user',id: 'date_of_purchase', placeholder: 'Enter Date', required: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Time :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.select :day_time, MilkProduction.day_times.keys, class: 'select form-control form-control-user' %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Litre</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <div class="field">
                          <%= f.text_field :litre, class: 'input input form-control form-control-user',id: 'litre', placeholder: 'Enter Litre', required: true %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Rate :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.text_field :rate, class: 'input form-control form-control-user', placeholder: 'Enter Rate',id: 'rate', required: true %>
                      </div>
                    </div>
                </div>

                <div class="form-group row">
                </div>
                  <div id="total_amount_notice" class="total-amount-hint">
                    Milk Amount: <span id="total_amount_value">0.00</span>
                  </div>
                  <br />
                <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <!-- <div class="field">
                    <label for="name" class="label">Fat</label>
                    <%#= f.date_field :fat, class: 'input', placeholder: 'Enter Date', required: true %>
                  </div>
                  <div class="field">
                    <label for="name" class="label">snf</label>
                    <%#= f.text_field :snf, class: 'input', placeholder: 'Enter Breed', required: true %>
                  </div> -->
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script>
  $(document).ready(function() {
    $('#litre, #rate').on('input', function() {
      var litre = parseFloat($('#litre').val()) || 0;
      var rate = parseFloat($('#rate').val()) || 0;
      var total_amount = litre * rate;
      $('#total_amount_value').text(total_amount.toFixed(2)); // You can adjust the decimal places as needed
      $('#total_amount_notice').removeClass('warning'); // Remove warning class initially
      
      if (total_amount <= 0) {
        $('#total_amount_notice').addClass('warning'); // Add warning class if total amount is zero or negative
      }
    });
  });
</script>