<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= form_with url: today_farm_update_path, method: :get, local: true do %>
          <%= submit_tag "Today Farm Update", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>
    </div>
</div>
<%= form_with url: download_data_path, method: 'post' do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Download Farm Data</h1>
              </div>
              <div class="form-group row">
                <div class="col-sm-4">
                  <div class="field">
                    <label for="name" class="label">Data :</label>
                  </div>
                </div>
               <div class="col-sm-6">
                  <%= f.select :data, MilkProduction.download_data.keys, {}, class: 'select form-control form-control-user', required: true %>
               </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4">
                  <div class="field">
                    <label for="name" class="label">Date :</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                </div>
              </div>
               <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
              <div class="field has-text-centered">
                <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
