<div class="container-fluid">
  <div class="container-fluid">
    <h1>Editing Milk Data</h1>
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back To Cow', milk_account_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'form'  %>
<br >