<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><!-- Tables --></h1>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Milk Data</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="datatable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Token No </th>
                <th>Date</th>
                <th>Morning</th>
                <th>Eevning</th>
                <th>Total Litre</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Cow No </th>
                <th>Date</th>
                <th>Morning</th>
                <th>Evening</th>
                <th>Total Litre </th>
              </tr>
            </tfoot>
            <tbody>
            <% @milk_productions.each do |milk| %>
              <tr>
                <td><%= milk[:cow_token] %></td>
                <td><%= milk[:milk_date].strftime("%d/%m/%Y") %></td>
                <td><%= link_to milk[:morning], edit_milk_production_path(:id => milk[:morning_id], :cow_id => milk[:cow_id]) if milk[:morning_id].present? %></td>
                <td><%= link_to milk[:evening], edit_milk_production_path(:id => milk[:evening_id], :cow_id => milk[:cow_id]) if milk[:evening_id].present? %></td>
                <td><%= milk[:total_litre] %></td>
              </tr>
            <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid