<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><!-- Tables --></h1>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Milk Data Per Cow</h6>
      </div>
   <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <%= link_to 'Add Milk', new_milk_production_path, class: 'btn btn-primary mb-3' %>
      <div class="col-xl-3 col-md-6 mb-4">
        <%= form_tag("/date_account", method: "post") do %>
          <div class="input-group">
            <%= date_field_tag :date, '', class: 'input input form-control form-control-user', placeholder: 'Enter Date', data: { date_format: 'YYYY/MM/DD' }  %>
            <div class="input-group-append">
              <button type="submit" class="btn btn-facebook btn-user">Submit</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead class="bg-dark  text-white">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Rate</th>
                <th scope="col">Litre</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
            <% if @account_data.present? %>
              <% @account_data.each do |account| %>
                <tr>
                  <td><%= account[:date] %></td>
                  <td><%= account[:rate] %></td>
                  <td><%= account[:litre] %></td>
                  <td><%= account[:amount]  %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Milk Data Per Cow</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="datatable" width="100%" cellspacing="0">
            <thead class="bg-success text-white">
              <tr>
                <th>Token No </th>
                <th>Morning</th>
                <th>Eevning</th>
                <th>Rate</th>
                <th>Total Litre</th>
              </tr>
            </thead>
            <tbody>
            <% @cow_milk.each do |milk| %>
              <tr>
                <td><%= milk[:cow_token] %></td>
                <td><%= link_to milk[:morning], edit_milk_production_path(:id => milk[:morning_id], :cow_id => milk[:cow_id]) if milk[:morning_id].present? %></td>
                <td><%= link_to milk[:evening], edit_milk_production_path(:id => milk[:evening_id], :cow_id => milk[:cow_id]) if milk[:evening_id].present? %></td>
                <td><%= milk[:rate] %></td>
                <td><%= milk[:total_litre] %></td>
              </tr>
            <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Cow Data </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="datatable" width="100%" cellspacing="0">
            <thead class="bg-warning text-white">
              <tr>
                <th>Token No </th>
                <th>Calving Status</th>
                <th>Days</th>
              </tr>
            </thead>
            <%if @cow.present? %>
            <tbody>
              <% @cow.each do |cow| %>
                <tr>
                  <td><%= cow.token_no %></td>
                  <td><%= cow.calving_periods.last.cow_status %></td>
                  <td><%= (Date.today - (cow.calving_periods.last.calve_date)).to_i %></td>
                </tr>
              <% end %>
            </tbody>
            <%end%>
        </table>
      </div>
    </div>
  </div>

</div>
