<%= form_with url: create_today_farm_status_path, method: :post, local: true do |f| %>
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Add Farm Feed Consumpiton And Water Status</h1>
                </div>
                <div class="form-group row">
                <div class="col-sm-4">
                  <div class="field">
                    <label for="name" class="label">Date :</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                </div>
              </div>
                <!-- Land Selection Section (Multiple Select) -->
                <div class="form-group row">
                  <div class="col-sm-4">
                    <label for="land_ids" class="label">Select Land Water:</label>
                  </div>
                  <div class="col-sm-6">
                    <%= f.collection_select :land_ids, Land.all, :id, :name, {}, { multiple: true, class: 'form-control form-control-user', id: 'land_ids', required: true } %>
                  </div>
                </div>
                <%= f.hidden_field :water_id, value: 1 %>
  
                <div class="form-group row">
                  <div class="col-sm-4">
                    <label for="concentrate_feed" class="label">Concentrate Feed:</label>
                  </div>
                  <div class="col-sm-6">
                    <%= f.number_field :concentrate_feed, class: 'form-control form-control-user', required: true %>
                  </div>
                </div>
  
                <div class="form-group row">
                <div class="col-sm-4">
                <label for="thippi" class="label">Thippi:</label>
                </div>
                <div class="col-sm-6">
                <%= f.number_field :thippi, class: 'form-control form-control-user', required: true %>
                </div>
                </div>
                <div class="form-group row">
                <div class="col-sm-4">
                <label for="asola" class="label">Asola:</label>
                </div>
                <div class="col-sm-6">
                <%= f.number_field :asola, class: 'form-control form-control-user', required: true %>
                </div>
                </div>
                <!-- Land Selection Section (Multiple Select) -->
                <div class="form-group row">
                  <div class="col-sm-4">
                    <label for="dry_fodder" class="label">Dry Fodder:</label>
                  </div>
                  <div class="col-sm-6">
                    <%= f.number_field :dry_fodder, class: 'form-control form-control-user', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <label for="green_fodder" class="label">Green Fodder:</label>
                  </div>
                  <div class="col-sm-6">
                    <%= f.number_field :green_fodder, class: 'form-control form-control-user', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <label for="agathi_mulberry" class="label">Agathi/Mulberry:</label>
                  </div>
                  <div class="col-sm-6">
                    <%= f.number_field :agathi_mulberry, class: 'form-control form-control-user', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <label for="silage" class="label">Silage:</label>
                  </div>
                  <div class="col-sm-6">
                    <%= f.number_field :silage, class: 'form-control form-control-user', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                    <label for="wastage_green" class="label">Wastage Green:</label>
                    </div>
                    <div class="col-sm-6">
                    <%= f.number_field :wastage_green, class: 'form-control form-control-user', required: true %>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                    <label for="wastage_dry" class="label">Wastage Dry:</label>
                    </div>
                    <div class="col-sm-6">
                    <%= f.number_field :wastage_dry, class: 'form-control form-control-user', required: true %>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                    <label for="wastage_dry" class="label">Cutting Land:</label>
                    </div>
                    <div class="col-sm-6">
                    <%= f.text_field :cutting_land, class: 'form-control form-control-user', required: true %>
                    </div>
                </div>
                <div class="form-group row">
      
                <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
  
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
 
<script>
    $(document).on('turbo:load', function() {
        $('#land_ids').multiselect({
            enableFiltering: true,
            filterBehavior: 'text',
            enableCaseInsensitiveFiltering: true,
            nonSelectedText: 'Select Lands',
            buttonWidth: '100%',
            includeSelectAllOption: true
        });
    });
    $(document).on('turbolinks:load', function() {
    $('#land_ids').multiselect({
        enableFiltering: true,
        filterBehavior: 'text',
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select Lands',
        buttonWidth: '100%',
        includeSelectAllOption: true
    });
});

</script>

