<h1>Editing customer account</h1>

<%= render "form", customer_account: @customer_account %>

<br>

<div>
  <%= link_to "Show this customer account", @customer_account %> |
  <%= link_to "Back to customer accounts", customer_accounts_path %>
</div>
