<p style="color: green"><%= notice %></p>

<%= render @customer_account %>

<div>
  <%= link_to "Edit this customer account", edit_customer_account_path(@customer_account) %> |
  <%= link_to "Back to customer accounts", customer_accounts_path %>

  <%= button_to "Destroy this customer account", @customer_account, method: :delete %>
</div>
