<div class="container-fluid">
  <div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: right;"> <%= link_to 'Create Rack', new_rack_detail_path %></div>
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Rack List</h1>
  </div>

  <% if @rack_details.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Capacity </th>
          <th>Edit </th>
          <th>Delete </th>
        </tr>
        </thead>
        <tbody>
        <% @rack_details.each do |rack| %>
          <tr>
            <td><%= rack.name %></td>
            <td><%= rack.capacity %></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Rack', edit_rack_detail_path(:id => rack.id) %></div></td>
             <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', rack_detail_path(:id => rack.id), :method => :delete, data: { confirm: "Really?" } %></div></td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  
</div>