<div id="<%= dom_id mattai %>">
  <p>
    <strong>Load:</strong>
    <%= mattai.load %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= mattai.rate %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= mattai.date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= mattai.total_amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= mattai.user_id %>
  </p>

</div>
