<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Mattai Bill', new_mattai_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="bg-dark text-white">
      <tr>
        <th>Date</th>
        <th>Load</th>
        <th>Rate</th>
        <th>Total amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @mattais.each do |mattai| %>
        <tr>
          <td><%= mattai.date.in_time_zone('Kolkata').strftime("%Y-%m-%d %H:%M ")%></td>
          <td><%= mattai.load %></td>
          <td><%= mattai.rate %></td>
          <td><%= mattai.total_amount %></td>
          <td>
            <%= link_to 'Show', mattai, class: 'btn btn-primary mr-2' %>
            <%= link_to 'Edit', edit_mattai_path(mattai), class: 'btn btn-warning mr-2' %>
            <%= link_to 'Destroy', mattai, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>