<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Mattais', mattais_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Mattai</h1>
	<br />
	<% if @mattai.present? %>
		<div class="card shadow mb-3">
			<div class="card-body">
				<div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			          	<th>Date</th>
						<th>Load</th>
						<th>Rate</th>
						<th>Total amount</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td><%= @mattai.date.in_time_zone('Kolkata').strftime("%Y-%m-%d %H:%M ")%></td>
						<td><%= @mattai.load %></td>
						<td><%= @mattai.rate %></td>
						<td><%= @mattai.total_amount %></td>
			          </tr>
			        </tbody>
			    </table>
			   </div>
			</div>
		</div>
	<% end %>
</div>


