<%= form_tag(year_income_path, :method => :post) do  %>

<div class="container">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">Expected Income</h1>
    </div>
    <div class="card o-hidden border-0 shadow-lg my-3">
      <div class="card-body p-0">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-2">
                    <div class="field">
                      <label for="name" class="label">Sale Amount :</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="field">
                      <div class="field">
                      <%= text_field_tag :amount_sale, "", class: 'input form-control form-control-user', placeholder: 'Sale Amount',id: 'discount', required: true %>
                      </div>
                    </div>
                  </div>
                <div class="col-sm-3">
                  <div class="field has-text-centered">
                    <%= submit_tag 'Submit', type: 'submit', class: 'btn btn-facebook btn-user btn-block' %>
                  </div>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
