<% if current_user.type_of_business == "Agriculture" %>
  <!-- Begin Page Content -->
  <div class="container-fluid">
      
    <!-- Page Heading -->
   <%# <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Home</h1>
    </div>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Total Cow</th>
          <th scope="col">Milk (Full)</th>
          <th scope="col">Insemi(Half)</th>
          <th scope="col">Pregnancy(No)</th>
          <th scope="col">calves</th>
        </tr>
      </thead> %>
        <!-- Earnings (Monthly) Card Example -->
        <%# if @cow_detail.present? %>
          <%# @cow_detail.each do |cow| %>
           <%# <tbody> %>
            <%# <tr> %>
              <%# <th scope="row">= cow[:total_cow]</th> %>
              <%# <td>= cow[:milking]</td> %>
              <%# <td>= cow[:average_milking]</td> %>
              <%# <td>= cow[:non_milking]</td> %>
              <%# <td>= cow[:total_calve]</td> %>
            <%# </tr> %>
            <%# <tr> %>
              <%# <th scope="row"></th> %>
              <%# <td></td> %>
              <%# <td></td> %>
              <%# <td></td> %>
              <%# <td></td> %>
            <%# </tr> %>
          <%# </tbody> %>
          <%# end %>
        <%# end %>
      <%# </table> %>
    <%# </div> %>
  
  <br/>

  <div class="row">

  <!-- COW and GOAT OPTION -->

  <%if current_user.employees.present? %>
    <% if UserEmployee.find_by(employee_id: current_user.id).role != 'Owner' %>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-success text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  COW
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= link_to 'New Cow', 'cows/new' %></div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-2x text-gray-300"><%= Cow.count %></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    <%elsif%>
      <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-info text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    COW
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= link_to 'New Cow', 'cows/new' %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-2x text-gray-300"><%= Cow.count %></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-warning text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Mother Goat
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= link_to 'New Goat', 'goats/new' %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300"> <%= @mother_goats %> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-success text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Buck 
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= link_to 'New Goat', 'goats/new' %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300"> <%= @buck %> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-primary text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Male Kid Goat
                    <div class="h5 mb-0 font-weight-bold text-white-300"><%= link_to 'New Goat', 'goats/new' %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300"> <%= @male_kid_goats %> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-warning text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Female Kid Goat
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= link_to 'New Goat', 'goats/new' %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300"> <%= @female_kid_goats %> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <% end %>
  <%end %>
      <!-- <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-info text-white shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                CALF
                <div class="h5 mb-0 font-weight-bold text-gray-800"><%#= link_to 'New Calf', 'calves/new' %></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- END COW and GOAT OPTION -->
    <!-- </div> -->
    <!-- Content Row -->
    <!-- <div class="row"> -->

      <!-- Earnings (Monthly) Card Example -->
      <%# if @cows.present? %>
        <%# @cows.each do |cow| %>
        <!-- <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Token Number: </div>
                      <div class="h5 mb-0 font-weight-bold text-success"><%#= cow.token_no %></div>
                      <div class="text-xs font-weight-bold text-uppercase mb-1"><%#= cow.calving_periods.first.cow_status %></div>
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Age :   <%#= cow.age %></div>
                      <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%#= link_to 'ADD Milk', new_milk_production_path(:cow_id => cow.id) %></div>
                      <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-primary"> <%#= link_to 'History',history_path(:cow_id => cow.id) %></div>
                      <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-secondary"><%#= link_to 'Edit    ', edit_cow_path(:id => cow.id) %></div>
                      <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"><%#= link_to 'Feed', new_feed_path(:cow_id => cow.id) %></div>

                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <%# end %>
      <%# end %>

    </div>
    <h1 class="h3 mb-2 text-gray-800">Farm Goal</h1>
    <% if @farm_expenses.present? && UserEmployee.find_by(employee_id: current_user.id).role == 'Owner' %>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <%= render 'form_year_income' %>
        <div class="table-responsive">
          <p> Default Sale Amount RS.350</p>
          <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Month</th>
                  <th>Expenses</th>
                  <th>Weight Gain</th>
                  <th>Income</th>
                  <th>Profit</th>
                </tr>
              </thead>
              <tbody>
                <% @farm_expenses.each do |exp| %>
                  <tr>
                    <td> <%= exp.first[:month] %> </td>
                    <td>RS. <%= exp.first[:expense] %> </td>
                    <td>KG.  <%= exp.first[:weight] %> </td>
                    <td>RS. <%= exp.first[:income] %> </td>
                    <td>RS. <%= exp.first[:profit] %></td>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- /.container-fluid -->
<%elsif current_user.type_of_business == "Coconut Procurement Center"%>
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <div class="row">

      <%# <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-warning text-white shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                Last Month Coconut Average Purchase Rate
                <div class="h5 mb-0 font-weight-bold text-gray-800">5.5 Rs </div>
              </div>
              <div class="col-auto">
                <i class="fas  fa-2x text-gray-300">  </i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-primary text-white shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                Today Coconut Average Purchase Rate
                <div class="h5 mb-0 font-weight-bold text-gray-800">6.5 Rs </div>
              </div>
              <div class="col-auto">
                <i class="fas  fa-2x text-gray-300">  </i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-success text-white shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                Last Month Coconut Average Sales Rate
                <div class="h5 mb-0 font-weight-bold text-gray-800">6.5 Rs </div>
              </div>
              <div class="col-auto">
                <i class="fas  fa-2x text-gray-300">  </i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-secondary text-white shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                Today Coconut Average Salse Rate
                <div class="h5 mb-0 font-weight-bold text-gray-800">8.5 Rs </div>
              </div>
              <div class="col-auto">
                <i class="fas  fa-2x text-gray-300">  </i>
              </div>
            </div>
          </div>
        </div>
      </div> %>
    <%# </div> %>
    <hr>
    <hr>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-success text-white shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                Today Purchased Coconut Count
                <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= @today_coconut_purchased_count  if @today_coconut_purchased_count.present? %> </div>
              </div>
              <div class="col-auto">
                <i class="fas  fa-2x text-gray-300">  </i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-info text-white shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                Today Salary
                <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= @today_salary  if @today_salary.present? %></div>
              </div>
              <div class="col-auto">
                <i class="fas  fa-2x text-gray-300">  </i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-warning text-white shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                Farmer Pending Amount
                <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= @farmer_pending_amount  if @farmer_pending_amount.present? %> </div>
              </div>
              <div class="col-auto">
                <i class="fas  fa-2x text-gray-300">  </i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-warning text-white shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
               Today Other Expenses
                <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= @today_other_expenses  if @today_other_expenses.present? %> </div>
              </div>
              <div class="col-auto">
                <i class="fas  fa-2x text-gray-300">  </i>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
    <hr>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-dark text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  Current Month Coconut Purchase Count
                  <div class="h5 mb-0 font-weight-bold text-white-800"><%= @current_month_purchased_coconut_count  if @current_month_purchased_coconut_count.present? %> </div>
                </div>
                <div class="col-auto">
                  <i class="fas  fa-2x text-gray-300">  </i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-info text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  Current Month Purchased Coconut Amount
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @current_month_purchased_coconut_amount   if @current_month_purchased_coconut_amount.present? %> </div>
                </div>
                <div class="col-auto">
                  <i class="fas  fa-2x text-gray-300"> </i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-success text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  Current Month Number Of Load Count
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @current_month_number_of_load_count  if @current_month_number_of_load_count.present? %></div>
                </div>
                <div class="col-auto">
                  <i class="fas  fa-2x text-gray-300">  </i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-dark text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                 Current Month Saled Coconut Count
                  <div class="h5 mb-0 font-weight-bold text-white-800"><%= @current_month_saled_coconut_count  if @current_month_saled_coconut_count.present? %></div>
                </div>
                <div class="col-auto">
                  <i class="fas  fa-2x text-gray-300">  </i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-success text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  Current Month Coconut Saled Amount
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@current_month_coconut_sales_amount  if@current_month_coconut_sales_amount.present? %> </div>
                </div>
                <div class="col-auto">
                  <i class="fas  fa-2x text-gray-300">  </i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-primary text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  Current Month Salary
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @current_month_salary  if @current_month_salary.present? %></div>
                </div>
                <div class="col-auto">
                  <i class="fas  fa-2x text-gray-300">  </i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-info text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  Current Month Other Expenses
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @current_month_other_expenses  if @current_month_other_expenses.present? %> </div>
                </div>
                <div class="col-auto">
                  <i class="fas  fa-2x text-gray-300"> </i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-warning text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  Current Month Kopparai Sales 
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @current_month_kopparai_sales  if @current_month_kopparai_sales.present? %> </div>
                </div>
                <div class="col-auto">
                  <i class="fas  fa-2x text-gray-300"> </i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-warning text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  Current Month Mattai Sales 
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @current_month_mattai_sales  if @current_month_mattai_sales.present? %> </div>
                </div>
                <div class="col-auto">
                  <i class="fas  fa-2x text-gray-300"> </i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card bg-warning text-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  Current Month Profit
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @current_month_profit   if @current_month_profit .present? %> </div>
                </div>
                <div class="col-auto">
                  <i class="fas  fa-2x text-gray-300"> </i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <hr>
        <hr>
        <div class = "row">
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-dark text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Last Month Coconut Purchase Count
                    <div class="h5 mb-0 font-weight-bold text-white-800"><%= @last_month_purchased_coconut_count  if @last_month_purchased_coconut_count.present? %> </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300">  </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-info text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Last Month Purchased Coconut Amount
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @last_month_purchased_coconut_amount   if @last_month_purchased_coconut_amount.present? %> </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-success text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Last Month Number Of Load Count
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @last_month_number_of_load_count  if @last_month_number_of_load_count.present? %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300">  </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-dark text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                  Last Month Saled Coconut Count
                    <div class="h5 mb-0 font-weight-bold text-white-800"><%= @last_month_saled_coconut_count  if @last_month_saled_coconut_count.present? %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300">  </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-success text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Last month Coconut Saled Amount
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@last_month_coconut_sales_amount  if@last_month_coconut_sales_amount.present? %> </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300">  </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-primary text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Last Month Salary
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @last_month_salary  if @last_month_salary.present? %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300">  </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-info text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Last Month Other Expenses
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @last_month_other_expenses  if @last_month_other_expenses.present? %> </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-warning text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Last Month Kopparai Sales 
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @last_month_kopparai_sales  if @last_month_kopparai_sales.present? %> </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-warning text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    last Month Mattai Sales 
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @last_month_mattai_sales  if @last_month_mattai_sales.present? %> </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-warning text-white shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    Last Month Profit
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @last_month_profit   if @last_month_profit .present? %> </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas  fa-2x text-gray-300"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
  </div>
</div>
<%end%>