<!-- Begin Page Content -->
<div class="container-fluid">
 
  <div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card bg-warning text-white shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
               GOAT
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= link_to 'New Goat', 'goats/new' %></div>
            </div>
            <div class="col-auto">
              <i class="fas  fa-2x text-gray-300"> <%= @total_goats %> </i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <h1 class="h3 mb-2 text-gray-800">Farm Goal</h1>
  <% if @farm_expenses.present? %>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <%= render 'form_year_income' %>
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Month</th>
                <th>Expenses</th>
                <th>Weight Gain</th>
                <th>Income</th>
                <th>Profit</th>
              </tr>
            </thead>
            <tbody>
              <% @farm_expenses.each do |exp| %>
                <tr>
                  <td> <%= exp.first[:month] %> </td>
                  <td>RS. <%= exp.first[:expense] %> </td>
                  <td>KG.  <%= exp.first[:weight] %> </td>
                  <td>RS. <%= exp.first[:income] %> </td>
                  <td>RS. <%= exp.first[:profit] %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>
<!-- /.container-fluid -->


      