<%= form_with(model: load) do |form| %>
  <% if load.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
        <% load.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :paruthi, style: "display: block" %>
    <%= form.number_field :paruthi %>
  </div>

  <div>
    <%= form.label :sakku, style: "display: block" %>
    <%= form.number_field :sakku %>
  </div>

  <div>
    <%= form.label :rate, style: "display: block" %>
    <%= form.number_field :rate %>
  </div>

  <div>
    <%= form.label :coconut_count, style: "display: block" %>
    <%= form.number_field :coconut_count %>
  </div>

  <div>
    <%= form.label :total_amount, style: "display: block" %>
    <%= form.number_field :total_amount %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :coconut_invoice_id, style: "display: block" %>
    <%= form.text_field :coconut_invoice_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
