<div id="<%= dom_id load %>">
  <p>
    <strong>Paruthi:</strong>
    <%= load.paruthi %>
  </p>

  <p>
    <strong>Sakku:</strong>
    <%= load.sakku %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= load.rate %>
  </p>

  <p>
    <strong>Coconut count:</strong>
    <%= load.coconut_count %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= load.total_amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= load.user_id %>
  </p>

  <p>
    <strong>Coconut invoice:</strong>
    <%= load.coconut_invoice_id %>
  </p>

</div>
