<h1>Loads</h1>

<table class="responsive nowrap table table-hover" id="dttb-loads" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="paruthi">Paruthi</th>
      <th data-data="sakku">Sakku</th>
      <th data-data="rate">Rate</th>
      <th data-data="coconut_count">Coconut count</th>
      <th data-data="total_amount">Total amount</th>
      <th data-data="user">User</th>
      <th data-data="coconut_invoice">Coconut invoice</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Load', new_load_path %>