<%= form_for @main_work do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Main Work</h1>
              </div>
              <form class="user">
      
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Day :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :day, class: 'input form-control form-control-user', placeholder: 'Enter Day', id: 'name', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Breed Variety :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.select :breed_variety, MainWork.breed_varieties.keys, class: 'form-control',prompt: "Breed Variety" %>
                      </div>
                      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                    </div>
                  </div>
                </div>
                  <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Action :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.select :action, MainWork.actions.keys, class: 'form-control',prompt: "Action" %>
                      </div>
                      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Action Detail :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :action_detail, class: 'input form-control form-control-user', placeholder: 'Enter Action Detail', id: 'action_detail', required: true %>
                  </div>
                </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
