<div class="container-fluid">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'ADD MAINWORK', new_main_work_path %></div>
  </div>

  <h1 class="h3 mb-2 text-gray-800">YEAR OF WORK</h1>
  <!-- DataTales Example -->
  <% if @kid_females.exists? %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Day</th>
                <th>Breed Variety</th>
                <th>Action </th>
                <th>Action Detail</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @kid_females.each do |kid_female| %>
          		<tr>
	            <td><%= kid_female.day %></td>
	            <td><%= kid_female.breed_variety %></td>
	            <td><%= kid_female.action %></td>
	            <td><%= kid_female.action_detail %></td>
	            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Work', edit_main_work_path(:id => kid_female.id) %></div></td>
	            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', kid_female, :method => :delete, data: { confirm: "Really?" } %></div></td>
          		</tr>
        	<% end %>
        	</tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>

  <% if @kid_males.exists? %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Day</th>
                <th>Breed Variety</th>
                <th>Action </th>
                <th>Action Detail</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @kid_males.each do |kid_male| %>
          		<tr>
	            <td><%= kid_male.day %></td>
	            <td><%= kid_male.breed_variety %></td>
	            <td><%= kid_male.action %></td>
	            <td><%= kid_male.action_detail %></td>
	            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Work', edit_main_work_path(:id => kid_male.id) %></div></td>
	            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', kid_male, :method => :delete, data: { confirm: "Really?" } %></div></td>
          		</tr>
        	<% end %>
        	</tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>

  <% if @boyers.exists? %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Day</th>
                <th>Breed Variety</th>
                <th>Action </th>
                <th>Action Detail</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @boyers.each do |boyer| %>
          		<tr>
	            <td><%= boyer.day %></td>
	            <td><%= boyer.breed_variety %></td>
	            <td><%= boyer.action %></td>
	            <td><%= boyer.action_detail %></td>
	            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Work', edit_main_work_path(:id => boyer.id) %></div></td>
	            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', boyer, :method => :delete, data: { confirm: "Really?" } %></div></td>
          		</tr>
        	<% end %>
        	</tbody>
        </table>
      </div>
    </div>
  	</div>
  <% end %>

  <% if @female_thalacherryies.exists? %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Day</th>
                <th>Breed Variety</th>
                <th>Period </th>
                <th>Action Detail</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @female_thalacherryies.each do |female_thalacherry| %>
          		<tr>
	            <td><%= female_thalacherry.day %></td>
	            <td><%= female_thalacherry.breed_variety %></td>
	            <td><%= female_thalacherry.action %></td>
	            <td><%= female_thalacherry.action_detail %></td>
	            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Work', edit_main_work_path(:id => female_thalacherry.id) %></div></td>
	            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', female_thalacherry, :method => :delete, data: { confirm: "Really?" } %></div></td>
          		</tr>
        	<% end %>
        	</tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>

  <% if @male_thalacherryies.exists? %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Day</th>
                <th>Breed Variety</th>
                <th>Action </th>
                <th>Action Detail</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @male_thalacherryies.each do |male_thalacherry| %>
          		<tr>
	            <td><%= male_thalacherry.day %></td>
	            <td><%= male_thalacherry.breed_variety %></td>
	            <td><%= male_thalacherry.action %></td>
	            <td><%= male_thalacherry.action_detail %></td>
	            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Work', edit_main_work_path(:id => male_thalacherry.id) %></div></td>
	            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', male_thalacherry, :method => :delete, data: { confirm: "Really?" } %></div></td>
          		</tr>
        	<% end %>
        	</tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>

</div>