<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Is activate:</strong>
    <%= customer.is_activate %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= customer.mobile_number %>
  </p>

  <p>
    <strong>User:</strong>
    <%= customer.user_id %>
  </p>

</div>
