<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Customer', new_customer_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
      <thead class="bg-dark text-white">
        <tr>
          <th>Name</th>
          <th>Place</th>
          <th>Bank</th>
          <th>Account Number</th>
          <th>Ifsc</th>
          <th>Branch</th>
          <th>Is Activate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <% if customer.place_id.present? %>
              <td><%= customer.place&.name %></td>
            <%else%>
              <td>NA</td> <!-- Safe navigation & fallback for missing place -->
            <% end %>
            <td><%= customer.bank %></td>
            <td><%= customer.account_number %></td>
            <td><%= customer.ifsc %></td>
            <td><%= customer.branch %></td>
            <td><%= customer.is_activate ? 'Active' : 'Inactive' %></td> <!-- Display 'Active' or 'Inactive' -->
            <td>
              <%= link_to 'Show', customer, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-warning mr-2' %>
              <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
