<div id="<%= dom_id farmer_land %>">
  <p>
    <strong>Acre:</strong>
    <%= farmer_land.acre %>
  </p>

  <p>
    <strong>Tree count:</strong>
    <%= farmer_land.tree_count %>
  </p>

  <p>
    <strong>Farmer:</strong>
    <%= farmer_land.farmer_id %>
  </p>

</div>
