<%= form_with(model: farmer_land) do |form| %>
  <% if farmer_land.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(farmer_land.errors.count, "error") %> prohibited this farmer_land from being saved:</h2>

      <ul>
        <% farmer_land.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :acre, style: "display: block" %>
    <%= form.text_field :acre %>
  </div>

  <div>
    <%= form.label :tree_count, style: "display: block" %>
    <%= form.number_field :tree_count %>
  </div>

  <div>
    <%= form.label :farmer_id, style: "display: block" %>
    <%= form.text_field :farmer_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
