<h1>Editing farmer land</h1>

<%= render "form", farmer_land: @farmer_land %>

<br>

<div>
  <%= link_to "Show this farmer land", @farmer_land %> |
  <%= link_to "Back to farmer lands", farmer_lands_path %>
</div>
