<h1>Farmer Lands</h1>

<table class="responsive nowrap table table-hover" id="dttb-farmer_lands" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="acre">Acre</th>
      <th data-data="tree_count">Tree count</th>
      <th data-data="farmer">Farmer</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Farmer Land', new_farmer_land_path %>


