<p style="color: green"><%= notice %></p>

<%= render @farmer_land %>

<div>
  <%= link_to "Edit this farmer land", edit_farmer_land_path(@farmer_land) %> |
  <%= link_to "Back to farmer lands", farmer_lands_path %>

  <%= button_to "Destroy this farmer land", @farmer_land, method: :delete %>
</div>
