<%= form_for @disease do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Goat Disease</h1>
              </div>
              <form class="user">
                
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Name :</label>
                    </div>
                  </div>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <div class="col-sm-6">
                    <%= f.text_field :name, class: 'input form-control form-control-user', placeholder: 'Enter Disease Name', id: 'name', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Symptoms :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :symptoms, class: 'input form-control form-control-user', placeholder: 'Enter Disease Symptoms  ', id: 'symptoms', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Impact Goat :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :impact_goat, class: 'input form-control form-control-user', placeholder: 'Enter Disease Impact', id: 'impact_goat', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Treatment :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :treatment, class: 'input form-control form-control-user', placeholder: 'Enter Treatment  ', id: 'treatment', required: true %>
                  </div>
                </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
