<%= form_for @disease_goat, url: update_goat_disease_path(id: params[:id]), html: { method: :post } do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Goat Disease</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Goat :</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :goat_id,  options_for_select(Goat.where(id: @disease_goat.goat_id).collect {|u| [u.token_no, u.id]}), class: 'form-control form-control-user',prompt: "Select Goat", required: 'true' %> 
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Disease :</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :disease_id, options_for_select(Disease.all.collect {|u| [u.name, u.id]}, @disease_goat.disease_id), class: 'form-control form-control-user',prompt: "Select Disease", required: 'true' %> 
                  </div>
                </div>
                
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Status :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.select :status, DiseaseGoat.statuses.keys, class: 'form-control',prompt: "Status" %>
                      </div>
                      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                      <%= f.date_field :disease_date, class: 'input input form-control form-control-user',id: 'date_of_birth', placeholder: 'Enter Date', required: true %>
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Comment :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.text_field :comment,class: 'form-control form-control-user', id:'token_no', placeholder: 'Enter Comment' %>
                      </div>
                      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                    </div>
                  </div>
                </div>

                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
