<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Goat Disease</h1>
  </div>

  <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Daily Work', daily_works_path %></div>
  
    <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Goat Disease', goat_diseases_path %>
    </div>

    <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: right;"> <%= link_to 'Create Goat Disease', goat_disease_path %>
    </div>
  
   <% if @diseases.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Goat </th>
          <th>Rack </th>
          <th>Disease</th>
          <th>Treatment</th>
          <th>Status  </th>
          <th>Day </th>
          <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <% @diseases.each do |disease| %>
          <tr>
            <td><%= disease.goat.token_no %></td>
            <td><%#= disease.goat.rack_goats.last.rack_detail.rack_no  if disease.goat.rack_goats.present? %> </td>
            <td><%= disease.disease.name %></td>
            <td><%= disease.disease.treatment %></td>
            <td><%= disease.status %></td>
            <td><%= (Date.today - disease.disease_date).to_i %>  </td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Disease', edit_goat_disease_path(:id => disease.id) %></div></td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>