
<%= render :partial => 'goat_disease_form'  %>

<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Goat Affected Disease </h1>
  </div>

  <% if @goat_diseases.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No </th>
          <th>Disease Name</th>
          <th>Status</th>
          <th>Date </th>
        </tr>
        </thead>
        <tbody>
        <% @goat_diseases.each do |disease| %>
          <tr>
            <td><%= disease.goat.token_no %></td>
            <td><%= disease.disease.name %></td>
            <td><%= disease.status %></td>
            <td><%= disease.disease_date %></td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  
</div>