<%= form_for @death_goat, url: goat_death_path, html: { method: :post } do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Goat Death</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Goat :</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :goat_id, options_for_select(Goat.live_goat(current_user).collect {|u| [u.token_no, u.id]}), class: 'form-control form-control-user',prompt: "Select Goat", required: 'true' %> 
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Disease :</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :disease_id, options_for_select(Disease.disease_all(current_user).collect {|u| [u.name, u.id]}), class: 'form-control form-control-user',prompt: "Select Disease", required: 'true' %> 
                  </div>
                </div>
                
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Died Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                      <%= f.date_field :died_date, class: 'input input form-control form-control-user',id: 'died_date', placeholder: 'Enter Date', required: true %>
                      </div>
                      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Weight :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.text_field :weight,class: 'form-control form-control-user', id:'comment', placeholder: 'Enter weight' %>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Comment :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.text_field :comment,class: 'form-control form-control-user', id:'comment', placeholder: 'Enter Comment' %>
                      </div>
                      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                    </div>
                  </div>
                </div>

                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% if @death_goats.exists? %>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">DIED List</h1>
  </div>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No</th>
          <th>Breed</th>
          <th>Disease</th>
          <th>Date</th>
          <th>Weight</th>
          <th>Comment</th>
        </tr>
        </thead>
    `   <% @death_goats.each do |died| %>
        <tbody>
          <tr>
            <td><%= died.goat.token_no %></td>
            <td><%= died.goat.breed_variety %></td>
            <td><%= died.disease.name %></td>
            <td><%= died.died_date %></td>
            <td><%= died.weight %></td>
            <td><%= died.comment %></td>
          </tr>
          <tr></tr>
        </tbody>
        <% end %>
      </table>
    </div>
<% end %>

