<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Disease List</h1>
  </div>

  <% if @diseases.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Symptoms </th>
          <th>Impact Goat </th>
          <th>Treatment </th>
          <th>Edit </th>
          <th>Delete </th>
        </tr>
        </thead>
        <tbody>
        <% @diseases.each do |disease| %>
          <tr>
            <td><%= disease.name %></td>
            <td><%= disease.symptoms %></td>
            <td><%= disease.impact_goat %></td>
            <td><%= disease.treatment %></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Disease', edit_disease_path(:id => disease.id) %></div></td>
             <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', disease, :method => :delete, data: { confirm: "Really?" } %></div></td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  
</div>