<%= form_for @salary do |f| %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block"> 
            <%= image_tag("coconut.jpg", class: 'bg-register-image', size: "450x360") %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"> Salary</h1>
              </div>
              <%= f.fields_for :salary do |salary_fields| %>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Labour</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :labour_id, options_for_select(@labour.collect {|u| [u.name, u.id]},:selected => f.object.labour_id),{ include_blank: 'Select Labour' }, {class: 'form-control form-control-user',prompt: "Select Labour", required: 'true' }%> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Kai :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :knr_count, class: 'input form-control form-control-user', placeholder: 'Enter Knr Count', id: 'name'%>
                  </div>
                </div>
                <%# <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Pattai Count:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%#= f.text_field :pattai_count, class: 'input form-control form-control-user', placeholder: 'Enter Asal Kai Rate', id: 'name'%>
                  <%# </div> %>
                <%# </div>  %>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Salary Amount:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :salary, class: 'input form-control form-control-user', placeholder: 'Enter Salary', id: 'name', required: true %>
                  </div>
                </div>
                <%= f.hidden_field :user_id, value: current_user.id %>
              <% end %>
              <div class="field has-text-centered">
                <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>




