<div id="<%= dom_id salary %>">
  <p>
    <strong>Knr count:</strong>
    <%= salary.knr_count %>
  </p>

  <p>
    <strong>Pattai count:</strong>
    <%= salary.pattai_count %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= salary.salary %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= salary.date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= salary.user_id %>
  </p>

  <p>
    <strong>Labour:</strong>
    <%= salary.labour_id %>
  </p>

</div>
