<div class="container-fluid">
  <div class="container-fluid">
    <h1>Editing salary</h1>
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Salary', salaries_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>
<%= render "form", salary: @salary %>