<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Salary', new_salary_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
      <thead class="bg-dark text-white">
        <tr>
          <th>Date</th>
          <th>Labour</th>
          <th>Kai count</th>
          <%# <th>Pattai count</th>  %>
          <th>Salary</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @salaries.each do |salary| %>
          <tr>
            <td><%= salary.date.in_time_zone('Kolkata').strftime("%Y-%m-%d ")%></td>
            <td><%= salary.labour.name %></td>
            <td><%= salary.knr_count %> </td>
            <td><%= salary.salary %></td>
            <%#= salary.pattai_count %>
            <td>
              <%= link_to 'Show', salary, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Edit', edit_salary_path(salary), class: 'btn btn-warning mr-2' %>
              <%= link_to 'Destroy', salary, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>