<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Salary', salaries_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Salary</h1>
	<br />
	<% if @salary.present? %>
		<div class="card shadow mb-3">
			<div class="card-body">
				<div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
							<th>Date</th>
							<th>Labour</th>
							<th>Knr count</th>
							<th>Pattai count</th>
							<th>Salary</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td><%= @salary.date.in_time_zone('Kolkata').strftime("%Y-%m-%d ")%></td>
						<td><%= @salary.labour.name %></td>
						<td><%= @salary.knr_count %></td>
						<td><%= @salary.pattai_count %></td>
						<td><%= @salary.salary %></td>
			          </tr>
			        </tbody>
			    </table>
			   </div>
			</div>
		</div>
	<% end %>
</div>


