<div id="<%= dom_id farmer %>">
  <p>
    <strong>Name:</strong>
    <%= farmer.name %>
  </p>

  <p>
    <strong>Is activate:</strong>
    <%= farmer.is_activate %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= farmer.mobile_number %>
  </p>

  <p>
    <strong>User:</strong>
    <%= farmer.user_id %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= farmer.place_id %>
  </p>

</div>
