<div class="container-fluid">
<div class="container-fluid">
    <div class="row justify-content-center"> <!-- Center the form -->
      <div class="col-md-6"> <!-- Adjust the width of the form -->
        <div class="card shadow">
          <div class="card-body">
            <%= form_for @farmer, url: tally_farmer_path do|f| %>
              <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <div class="field">
                    <label for="name" class="label">Farmer</label>
                  </div>
                </div>
                <div class="col-sm-8"> <!-- Adjust the width of the select box -->
                  <%= f.select :id, options_for_select(@find_farmer.collect {|u| [u.name, u.id]}, :selected => f.object.id), { include_blank: 'Select Farmer' }, { class: 'form-control form-control-user', prompt: "Select Farmer", required: true } %> 
                </div>
              </div>
              <div class="field has-text-centered">
                <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button> <!-- Adjust the button style -->
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
<br />
<br />


<div class="container-fluid">
<div class="container-fluid">
  <div class="row justify-content-center"> <!-- Center the form -->
    <div class="col-md-6"> <!-- Adjust the width of the form -->
      <div class="card shadow">
        <div class="card-body">
          <%= form_for @customer, url: tally_customer_path do|f| %>
            <div class="form-group row">  
              <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="field">
                  <label for="name" class="label">Customer</label>
                </div>
              </div>
              <div class="col-sm-8"> <!-- Adjust the width of the select box -->
                <%= f.select :id, options_for_select(@find_customer.collect {|u| [u.name, u.id]}, :selected => f.object.id), { include_blank: 'Select Customer' }, { class: 'form-control form-control-user', prompt: "Select Customer", required: true } %> 
              </div>
            </div>
            <div class="field has-text-centered">
              <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button> <!-- Adjust the button style -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />


<div class="container-fluid">
<div class="container-fluid">
  <div class="row justify-content-center"> <!-- Center the form -->
    <div class="col-md-6"> <!-- Adjust the width of the form -->
      <div class="card shadow">
        <div class="card-body">
          <%= form_for @labour, url: tally_labour_path do|f| %>
            <div class="form-group row">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="field">
                  <label for="name" class="label">Labour</label>
                </div>
              </div>
              <div class="col-sm-8"> <!-- Adjust the width of the select box -->
                <%= f.select :id, options_for_select(@find_labour.collect {|u| [u.name, u.id]}, :selected => f.object.id), { include_blank: 'Select Labour' }, { class: 'form-control form-control-user', prompt: "Select labour", required: true } %> 
              </div>
            </div>
            <div class="field has-text-centered">
              <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button> <!-- Adjust the button style -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




