<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Farmer', new_farmer_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
      <thead class="bg-dark text-white">
        <tr>
          <th>Name</th>
          <th>Mobile No</th>
          <th>Place</th>
          <th>Bank</th>
          <th>Account Number</th>
          <th>Ifsc</th>
          <th>Branch</th>
          <th>Is Activate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @farmers.each do |farmer| %>
          <tr>
            <td><%= farmer.name %></td>
            <td><%= farmer.mobile_number %></td>
            <td><%= farmer.place.name %></td>
            <td><%= farmer.bank %></td>
            <td><%= farmer.account_number %></td>
            <td><%= farmer.ifsc %></td>
            <td><%= farmer.branch %></td>
            <td><%= farmer.is_activate %></td>
            <td>
              <%= link_to 'Show', farmer, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Edit', edit_farmer_path(farmer), class: 'btn btn-warning mr-2' %>
              <%= link_to 'Destroy', farmer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


