<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back', find_farmer_path, class: 'btn btn-primary mb-3' %>
        <%= link_to 'Add Farmer Amount', new_farmer_account_path(farmer_name:  @farmer.name), class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<% if @farmer_bills.present? %>
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Farmer Bill</h1>
    <br />
      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Farmer</th>
                    <th>Asal kai count</th>
                    <th>Asal kai rate</th>
                    <th>Neer vattral  kai count</th>
                    <th>Neer vattral kai rate</th>
                    <th>Total Amount</th>
                    <th>Paid Date</th>
                    <th>Paid</th>
                    <th>Update</th>
                  </tr>
                </thead>
            <tbody>
            <tr>
              <% @farmer_bills.each do |farmer| %>
                    <td><%= farmer.procurement_date.in_time_zone('Kolkata').strftime("%Y-%m-%d")%></td>
                    <td><%= farmer.farmer.name %></td>
                    <td><%= farmer.asal_kai_count %></td>
                    <td><%= farmer.asal_kai_rate %></td>
                    <td><%= farmer.neer_vattral__kai_count %></td>
                    <td><%= farmer.neer_vattral_kai_rate %></td>
                    <td><%= farmer.total_amount %></td>
                    <td><%= farmer.paid_date.in_time_zone('Kolkata').strftime("%Y-%m-%d") if  farmer.paid_date.present? %></td>
                    <td><%= farmer.paid ? 'Yes' : 'No' %></td>
                    <td><%= link_to 'Update', edit_farmer_bill_path(farmer), class: 'btn btn-warning mr-2' %></td>
            </tr>
                  <% end %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
<% end %>