<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back', find_farmer_path, class: 'btn btn-primary mb-3' %>
        <%= link_to 'Add Customer Amount', new_customer_account_path(cutomer_name: customer.customer.name), class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<% if @customer_bills.present? %>
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Customer Bill</h1>
    <br />
      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Total Amount</th>
                    <%# <th>Asal Vhurai</th>
                    <th>Asal Kai</th>
                    <th>Neer Vatral Vhurai</th>
                    <th>Neer Vatral kai</th>
                    <th>Lorry</th>
                    <th>Farmer</th>
                    <th>No Person</th>
                    <th>Asal</th>
                    <th>Kai</th>
                    <th>Total Coconut</th>
                    <th>Total Amount</th>
                    <th>Paid Date</th>
                    <th>Paid</th> %>
                    <%# <th>Update</th> %>
                  </tr>
                </thead>
            <tbody>
            <tr>
              <% @customer_bills.each do |customer| %>
                <td><%= customer.date.in_time_zone('Kolkata').strftime("%Y-%m-%d")%></td>
                <td><%= customer.customer.name %></td>
                <td><%= customer.total_amount %></td>
                <%# <td>= customer.asal_vhurai</td> %>
                <%# <td>= customer.asal_kai</td> %>
                <%# <td>= customer.neer_vattral_vhurai</td> %>
                <%# <td>= customer.neer_vattral_kai</td> %>
                <%# <td>= customer.vechicle.name</td> %>
                <%# <td>= customer.farmer.name</td> %>
                <%# <td>= customer.number_of_person</td> %>
                <%# <td>= customer.asal</td> %>
                <%# <td>= customer.kai</td> %>
                <%# <td>= customer.total_coconut</td> %>
                <%# <td>= customer.paid_date.in_time_zone('Kolkata').strftime("%Y-%m-%d") if  customer.paid_date.present?</td> %>
                <%# <td>= customer.paid ? 'Yes' : 'No'</td> %>
                <td>
                  <%#= link_to 'Update', edit_customer_bill_path(customer), class: 'btn btn-warning mr-2' %>
                </td>
            </tr>
            <% end %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
<% end %>