<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back', find_farmer_path, class: 'btn btn-primary mb-3' %>
        <%= link_to 'Add Labour Amount', new_labour_account_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<% if @labour_bills.present? %>
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">labour Bill</h1>
    <br />
      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Labour</th>
                    <th>Knr count</th>
                    <th>Pattai count</th>
                    <th>Salary</th>
                    <th>Update</th>
                  </tr>
                </thead>
            <tbody>
            <tr>
              <% @labour_bills.each do |salary| %>
                <td><%= salary.date.in_time_zone('Kolkata').strftime("%Y-%m-%d")%></td>
                <td><%= salary.labour.name %></td>
                <td><%= salary.knr_count %></td>
                <td><%= salary.pattai_count %></td>
                <td><%= salary.salary %></td>
                <td><%= link_to 'Update', edit_salary_path(salary), class: 'btn btn-warning mr-2' %></td>
            </tr>
                  <% end %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
<% end %>