<%= form_for (@crop) do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Crop</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Name :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :name, class: 'input form-control form-control-user', placeholder: 'Enter Name  ', id: 'name', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Yield Ton/Acre :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :yield, class: 'input form-control form-control-user', placeholder: 'Enter Yield Ton/Acre  ', id: 'yield', required: true %>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Variety :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :variety, Crop.varieties.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Nutrition :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_area :nutrition, class: 'input form-control form-control-user', placeholder: 'Enter Nutrition   ', id: 'nutrition', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Period/Days:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :period, Crop.periods.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Seed Per/Acre :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :seed_acre, Crop.seed_acres.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Intercrop :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :intercrop, class: 'input form-control form-control-user', placeholder: 'Enter Intercrop Ton/Acre  ', id: 'intercrop', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Water Requirement :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :water_requirement, Crop.water_requirements.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Sowing Distance :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :sowing_distance, Crop.sowing_distances.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Season :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :season, Crop.seasons.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Details :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_area  :details, class: 'input form-control form-control-user', placeholder: 'Enter Details  ', id: 'cent', required: true %>
                  </div>
                </div>
                 <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
