<div class="container-fluid">

	<div class="container-fluid">
  <!-- Page Heading -->
    <div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: right;"> <%= link_to 'Fodder Data', fodder_management_path %></div>
    <div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop Activities', crop_activities_path %></div>
  	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Water', land_water_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-warning" style="float: right;"> <%= link_to 'Land Crop', land_crop_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Add Crop', new_crop_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Fertilizer', fertilizers_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Dry Fodder', dry_fodders_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Land', lands_path %></div>
	<div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: left;"> <%= link_to 'Water', waters_path %></div>

  <!-- Page Heading -->
	<br />
	<br />
  	<h1 class="h3 mb-2 text-gray-800">Our Crop</h1>
	<% if @crop.exists? %>
		<div class="card shadow mb-4">
			<div class="card-body">
			  <div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>Name</th>
			            <th>Yield Ton/Acre</th>
			            <th>Nutrition</th>
			            <th>Seed/Acre</th>
			            <th>Intercrop</th>
			            <th>Season</th>
			            <th>Water Requirement</th>
			            <th>Sowing</th>
			            <th>Season</th>
			            <th>Details</th>
			            <th>Edit</th>
			        </thead>
			        <% @crop.each do |crop| %>
			        <tbody>
			          <tr>
			            <td><%= crop.name %></td>
			            <td><%= crop.yield %></td>
			            <th><%= crop.nutrition %></th>
						<th><%= crop.period %></th>
						<th><%= crop.seed_acre %></th>
						<th><%= crop.intercrop %></th>
						<th><%= crop.water_requirement %></th>
						<th><%= crop.sowing_distance %></th>
						<th><%= crop.season %></th>
			            <td><%= crop.details %></td>
			            <td><div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success"> <%= link_to 'Edit crop', edit_crop_path(id: crop.id) %></div></td>
			          </tr>
			        </tbody>
			       <% end %>
			    </table>
			  </div>
			</div>
		</div>
	<% end %>
 	</div>
</div>