<%= form_for @land_crop, url: land_crop_create_path, html: { method: :post } do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Connect Land With Crop</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Land :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :land_id, options_for_select(Land.all.collect {|u| [u.name, u.id]}, :selected => f.object.land_id), class: 'form-control form-control-user',prompt: "Select Land", required: 'true' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Water :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :crop_id, options_for_select(Crop.all.collect {|u| [u.name, u.id]},:selected => f.object.crop_id), class: 'form-control form-control-user',prompt: "Select Land", required: 'true' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Fodder :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :fodder, LandCrop.fodders.keys, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                  </div>
                </div>
                <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="container-fluid">

  <!-- Page Heading -->
  <div class="container-fluid">
  <br />
  <br />
  <h1 class="h3 mb-2 text-gray-800">Land Crop</h1>
  <% if @land_crops.exists? %>
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Land</th>
                  <th>Crop</th>
                  <th>Fodder</th>
                  <th>Date</th>
                  <th>Live Day</th>
                  <th>Status</th>
                </tr>
              </thead>
              <% @land_crops.each do |crop| %>
              <tbody>
                <tr>
                  <td><%= crop.land.name %></td>
                  <td><%= crop.crop.name %></td>
                  <td><%= crop.fodder if crop.fodder.present? %>  </td>
                  <td><%= crop.date %></td> 
                  <td><%= (Date.today - crop.date).to_i %></td>
                  <td><%= crop.status %></td>
                </tr>
              </tbody>
             <% end %>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
