<%= form_for @pending_work do |f| %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block"> 
            <%= image_tag("coconut.jpg", class: 'bg-register-image', size: "450x360") %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Kopparai</h1>
              </div>
              <%= f.fields_for :pending_work do |place_fields| %>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Work :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :work, class: 'input form-control form-control-user', placeholder: 'Enter Work', id: 'kg', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Action :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :work_type, PendingWork.work_types.keys, class: 'form-control'%>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="is_active" class="label">Is Active :</label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label class="radio-inline"><%= f.radio_button :status, true, checked: true %> Yes</label>
                    <label class="radio-inline"><%= f.radio_button :status, false %> No</label>
                  </div>
                </div>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :business_id, value: UserEmployee.find_by(employee_id: current_user).business.id %>
              <% end %>
              <div class="field has-text-centered">
                <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
