<h1>Editing pending work</h1>

<%= render "form", pending_work: @pending_work %>

<br>

<div>
  <%= link_to "Show this pending work", @pending_work %> |
  <%= link_to "Back to pending works", pending_works_path %>
</div>
