
<div class="container-fluid">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <%= link_to 'Add pending work', new_pending_work_path, class: 'btn btn-primary mb-3' %>
  </div>
    <div class="text-xs font-weight-bold text-uppercase mb-0 btn btn-outline-success"> <%= link_to 'Immediate Work', pending_works_path %></div>
    <div class="text-xs font-weight-bold text-uppercase mb-0 btn btn-outline-success"> <%= link_to 'Goat Work',  goat_pending_work_path %></div>
    <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Daily Work', daily_pending_work_path %></div>
  </div>
  <br />
  <div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Immediate Work</h1>
    <br />
    <!-- DataTales Example -->
    <% if @pending_works.exists? %>
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Work</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% @pending_works.each do |pending_work| %>
                  <tr>
                  <td><%= pending_work.work %></td>
                  <td><%= pending_work.work_type %></td>
                  <td><%= pending_work.status %></td>
                  <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Work', edit_pending_work_path(pending_work) %></div></td>
                  <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', pending_work, :method => :delete, data: { confirm: "Really?" } %></div></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>