<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to PendingWorks', pending_works_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">PendingWork</h1>
	<br />
	<% if @pending_work.present? %>
		<div class="card shadow mb-3">
			<div class="card-body">
				<div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			          	<th>Work</th>
                  <th>Type</th>
                  <th>Date</th>
                  <th>Status</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td><%= @pending_work.work %></td>
                  <td><%= @pending_work.work_type %></td>
                  <td><%= @pending_work.date.in_time_zone('Kolkata').strftime("%Y-%m-%d %H:%M ")%></td>
                  <td><%= @pending_work.status%></td>
			          </tr>
			        </tbody>
			    </table>
			   </div>
			</div>
		</div>
	<% end %>
</div>


