<%= form_for @_bill do |f| %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block"> 
            <%= image_tag("coconut.jpg", class: 'bg-register-image', size: "450x360") %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"> Bill</h1>
              </div>
              <%= f.fields_for :_bill do |_bill_fields| %>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :procurement_date, class: 'input input form-control form-control-user',id: 'procurement_date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Farmer</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :farmer_id, options_for_select(@farmer.collect {|u| [u.name, u.id]},:selected => f.object.farmer_id), class: 'form-control form-control-user',prompt: "Select Farmer", required: 'true' %> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Asal Kai Count:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :asal_kai_count, class: 'input form-control form-control-user', placeholder: 'Enter Asal Kai Count', id: 'name', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Asal Kai Rate:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :asal_kai_rate, class: 'input form-control form-control-user', placeholder: 'Enter Asal Kai Rate', id: 'name', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Neer Vatral kai Count:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :neer_vattral_kai_count, class: 'input form-control form-control-user', placeholder: 'Enter Neer Vatral kai Count', id: 'name', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Neer Vatral kai Rate:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :neer_vattral_kai_rate, class: 'input form-control form-control-user', placeholder: 'Enter Neer Vatral kai Rate', id: 'name', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Total Amount:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :total_amount, class: 'input form-control form-control-user', placeholder: 'Enter Total', id: 'name', required: true %>
                  </div>
                </div>
                <%= f.hidden_field :user_id, value: current_user.id %>
              <% end %>
              <div class="field has-text-centered">
                <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>




