<%= form_for @farmer_bill do |f| %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block"> 
            <%= image_tag("coconut.jpg", class: 'bg-register-image', size: "450x360") %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Farmer Bill</h1>
              </div>
              <%= f.fields_for :farmer_bill do |farmer_bill_fields| %>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :procurement_date, class: 'input input form-control form-control-user',id: 'procurement_date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Farmer</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :farmer_id, options_for_select(@farmer.collect {|u| [u.name, u.id]},:selected => f.object.farmer_id),{ include_blank: 'Select Farmer' }, { class: 'form-control form-control-user',prompt: "Select Farmer", required: 'true' } %> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Asal Kai Count:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :asal_kai_count, class: 'input form-control form-control-user', placeholder: 'Enter Asal Kai Count', id: 'asal_kai_count' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Asal Kai Vasi:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :asal_kai_vasi, class: 'input form-control form-control-user', placeholder: 'Enter Asal Kai Count', id: 'asal_kai_vasi' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Asal Kai Rate:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :asal_kai_rate, class: 'input form-control form-control-user', placeholder: 'Enter Asal Kai Rate', id: 'asal_kai_rate' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Neer Vatral kai Count:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :neer_vattral__kai_count, class: 'input form-control form-control-user', placeholder: 'Enter Neer Vatral kai Count', id: 'neer_vatral_kai_count' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Neer Vatral kai Vasi:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :neer_vatral_kai_vasi, class: 'input form-control form-control-user', placeholder: 'Enter Neer Vatral kai Count', id: 'neer_vatral_kai_vasi' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Neer Vatral kai Rate:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :neer_vattral_kai_rate, class: 'input form-control form-control-user', placeholder: 'Enter Neer Vatral kai Rate', id: 'neer_vatral_kai_rate' %>
                  </div>
                </div>
                <div id="total_amount_notice" class="total-amount-hint">
                  Total Amount: <span id="total_amount_value">0.00</span>
                  <div class="warning-message">Please review the total amount.</div>
                </div>
                <br />
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Total Amount:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :total_amount, class: 'input form-control form-control-user', placeholder: 'Enter Total', id: 'total_amount', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Paid Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :paid_date, class: 'input input form-control form-control-user', id: 'total_amount', placeholder: 'Enter Payment Date' %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="is_active" class="label">Paid :</label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label class="radio-inline"><%= f.radio_button :paid, false, checked: true %> No</label>
                    <label class="radio-inline"><%= f.radio_button :paid, true %> Yes</label>
                  </div>
                </div>
                <%= f.hidden_field :user_id, value: current_user.id %>
              <% end %>
              <div class="field has-text-centered">
                <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    function calculateAmount(count, rate, vasi) {
      return vasi > 0 ? ((count * rate) / vasi) * count : 0;
    }

    $('#asal_kai_count, #asal_kai_rate, #asal_kai_vasi, #neer_vatral_kai_count, #neer_vatral_kai_rate, #neer_vatral_kai_vasi').on('input', function() {
      var asal_kai_count = parseFloat($('#asal_kai_count').val()) || 0;
      var asal_kai_rate = parseFloat($('#asal_kai_rate').val()) || 0;
      var asal_kai_vasi = parseFloat($('#asal_kai_vasi').val()) || 0;
      var neer_vatral_kai_count = parseFloat($('#neer_vatral_kai_count').val()) || 0;
      var neer_vatral_kai_rate = parseFloat($('#neer_vatral_kai_rate').val()) || 0;
      var neer_vatral_kai_vasi = parseFloat($('#neer_vatral_kai_vasi').val()) || 0;

      var total_amount = calculateAmount(asal_kai_count, asal_kai_rate, asal_kai_vasi) + 
                         calculateAmount(neer_vatral_kai_count, neer_vatral_kai_rate, neer_vatral_kai_vasi);

      $('#total_amount_notice').text('Total Amount: ' + total_amount.toFixed(2));
    });
  });
</script>
