<div class="container-fluid">
  <div class="container-fluid">
    <h1>Editing Farmer Bill</h1>
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to farmer_bills', farmer_bills_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>
<%= render "form", farmer_bill: @farmer_bill %>