<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Farmer Bill', new_farmer_bill_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
      <thead class="bg-dark text-white">
        <tr>
          <th>Date</th>
          <th>Farmer</th>
          <th>Paid</th>
          <th>Total amount</th>
          <th>Asal kai count</th>
          <th>Asal kai vasi</th>
          <th>Asal kai rate</th>
          <th>Neer vattral kai count</th>
          <th>Neer vattral kai vasi</th>
          <th>Neer vattral kai rate</th>
          <th>Total Amount</th>
          <th>Paid Date</th>
          <th>Paid</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @farmer_bills.each do |farmer_bill| %>
          <tr>
            <td><%= farmer_bill.procurement_date.in_time_zone('Kolkata').strftime("%Y-%m-%d")%></td>
            <td><%= farmer_bill.farmer.name %></td>
            <td><%= farmer_bill.paid ? 'Yes' : 'No' %></td>
            <td><%= farmer_bill.total_amount %></td>
            <td><%= farmer_bill.asal_kai_count %></td>
            <td><%= farmer_bill.asal_kai_vasi %></td>
            <td><%= farmer_bill.asal_kai_rate %></td>
            <td><%= farmer_bill.neer_vattral__kai_count %></td>
            <td><%= farmer_bill.neer_vatral_kai_vasi %></td>
            <td><%= farmer_bill.neer_vattral_kai_rate %></td>
            <td><%= farmer_bill.total_amount %></td>
            <td><%= farmer_bill.paid_date.in_time_zone('Kolkata').strftime("%Y-%m-%d") if  farmer_bill.paid_date.present? %></td>
            <td><%= farmer_bill.paid ? 'Yes' : 'No' %></td>
            <td>
              <%= link_to 'Show', farmer_bill, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Edit', edit_farmer_bill_path(farmer_bill), class: 'btn btn-warning mr-2' %>
              <%= link_to 'Destroy', farmer_bill, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>