<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Farmer Bills', farmer_bills_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Farmer Bill</h1>
	<br />
	<% if @farmer_bill.present? %>
		<div class="card shadow mb-3">
			<div class="card-body">
				<div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			          	<th>Date</th>
                  <th>Farmer</th>
                  <th>Total amount</th>
                  <th>Asal kai count</th>
                  <th>Asal kai rate</th>
                  <th>Neer vattral  kai count</th>
                  <th>Neer vattral kai rate</th>
                  <th>Total Amount</th>
                  <th>Paid Date</th>
                  <th>Paid</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
                  <td><%= @farmer_bill.procurement_date.in_time_zone('Kolkata').strftime("%Y-%m-%d")%></td>
			            <td><%= @farmer_bill.farmer.name %></td>
                  <td><%= @farmer_bill.total_amount %></td>
                  <td><%= @farmer_bill.asal_kai_count %></td>
                  <td><%= @farmer_bill.asal_kai_rate %></td>
                  <td><%= @farmer_bill.neer_vattral__kai_count %></td>
                  <td><%= @farmer_bill.neer_vattral_kai_rate %></td>
                  <td><%= @farmer_bill.total_amount %></td>
                  <td><%= @farmer_bill.paid_date.in_time_zone('Kolkata').strftime("%Y-%m-%d") if  @farmer_bill.paid_date.present? %></td>
                  <td><%= @farmer_bill.paid ? 'Yes' : 'No' %></td>
			          </tr>
			        </tbody>
			    </table>
			   </div>
			</div>
		</div>
	<% end %>
</div>


