<div id="<%= dom_id kopparai %>">
  <p>
    <strong>Kg:</strong>
    <%= kopparai.kg %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= kopparai.rate %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= kopparai.date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= kopparai.total_amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= kopparai.user_id %>
  </p>

</div>
