<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Kopparai Bill', new_kopparai_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="bg-dark text-white">
      <tr>
        <th>Date</th>
        <th>Quality </th>
        <th>Kg</th>
        <th>Rate</th>
        <th>Total amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @kopparais.each do |kopparai| %>
        <tr>
          <td><%= kopparai.date.in_time_zone('Kolkata').strftime("%Y-%m-%d %H:%M ")%></td>
          <td><%= kopparai.quality %></td>
          <td><%= kopparai.kg %></td>
          <td><%= kopparai.rate %></td>
          <td><%= kopparai.total_amount %></td>
          <td>
            <%= link_to 'Show', kopparai, class: 'btn btn-primary mr-2' %>
            <%= link_to 'Edit', edit_kopparai_path(kopparai), class: 'btn btn-warning mr-2' %>
            <%= link_to 'Destroy', kopparai, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
