<div class="container-fluid">
  <div class="container-fluid">
    <h1>New Kopparai</h1>
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to kopparais', kopparais_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<%= render "form", kopparai: @kopparai %>

<br>