<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Kopparais', kopparais_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Kopparai</h1>
	<br />
	<% if @kopparai.present? %>
		<div class="card shadow mb-3">
			<div class="card-body">
				<div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			          	<th>Date</th>
                  <th>Kg</th>
                  <th>Rate</th>
                  <th>Total amount</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td><%= @kopparai.date.in_time_zone('Kolkata').strftime("%Y-%m-%d %H:%M ")%></td>
                  <td><%= @kopparai.kg %></td>
                  <td><%= @kopparai.rate %></td>
                  <td><%= @kopparai.total_amount %></td>
			          </tr>
			        </tbody>
			    </table>
			   </div>
			</div>
		</div>
	<% end %>
</div>


