<% icon_sizes = Rails.configuration.serviceworker.icon_sizes %>
{
  "name": "Integrate Farm",
  "short_name": "Integrate Farm",
  "start_url": "/home",
  "icons": [
  <% icon_sizes.map { |s| "#{s}x#{s}" }.each.with_index do |dim, i| %>
    {
      "src": "<%= image_path "serviceworker-rails/heart-#{dim}.png" %>",
      "sizes": "<%= dim %>",
      "type": "image/png"
    }<%= i == (icon_sizes.length - 1) ? '' : ',' %>
  <% end %>
  ],
  "theme_color": "#000000",
  "scope": "/home/",
  "background_color": "#FFFFFF",
  "display": "fullscreen",
  "orientation": "portrait"
}
