
<%= form_for @daily_work do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Daily Work</h1>
              </div>
              <form class="user">
      
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Goat :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%=f.select :goat_id, options_for_select(Goat.live_goat.collect {|u| [u.token_no, u.id]}, :selected => f.object.goat_id), class: 'form-control form-control-user',prompt: "Select Goat", required: 'true' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Main Work:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%=f.select :main_work_id, options_for_select(MainWork.all.collect {|u| [u.action, u.id]}, :selected => f.object.main_work_id), class: 'form-control form-control-user',prompt: "Select Work", required: 'true' %>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">status :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.select :status, DailyWork.statuses.keys, class: 'form-control',prompt: "Action" %>
                      </div>
                      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Comment :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :comment, class: 'input form-control form-control-user', placeholder: 'Enter Comment', id: 'action_detail' %>
                  </div>
                </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
