<div class="container-fluid">
<!-- Daily Work -->
<div class="text-xs font-weight-bold text-uppercase" style="float: right;">
    <%= form_tag("/date_work", method: "post") do %>
      <!-- <input type="text" data-provide='datepicker' > -->
      <%= text_field_tag :date_work %>
      <%= submit_tag "Get Work", class: 'mb-0 btn btn-outline-success' %>
    <% end %>
  </div>

    <% if @daily_works.exists? %>
      <div class="table-responsive">
        <table class="table" width="100%" cellspacing="0">
          <thead class="thead-dark">
          <tr>
            <th>Goat </th>
            <th>Created At </th>
            <th>Breed Variety</th>
            <th>Action</th>
            <th>Action Detail</th>
            <th>Status  </th>
            <th>Day </th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <% @daily_works.each do |daily_work| %>
            <tr>
              <td><%= daily_work.goat.token_no %></td>
              <td><%= daily_work.created_at.strftime("%B %d")  %> </td>
              <td><%= daily_work.goat.breed_variety %></td>
              <td><%= daily_work.main_work.action %></td>
              <td><%= daily_work.main_work.action_detail %></td>
              <td><%= daily_work.status %></td>
              <td><%= daily_work.main_work.day %></td>
              <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Daily Work', edit_daily_work_path(:id => daily_work.id, goat_id: daily_work.goat.token_no, main_work_id: daily_work.main_work.id) %></div></td>
              <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', daily_work, :method => :delete, data: { confirm: "Really?" } %></div></td>
            </tr>
            <tr></tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

<script type="text/javascript">
  $(function() {
    $("#date_work").datepicker({
      minDate:new Date(),
      useCurrent: true,
      todayBtn: "linked",
      todayHighlight: true,
      dateFormat: 'yyyy/mm/dd'
    });
  })
</script>