<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Today Work </h1>
  </div>
  
    <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Daily Work', daily_works_path %></div>
  
    <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Goat Disease', goat_diseases_path %>
    </div>

    <div class="text-xs font-weight-bold text-uppercase" style="float: right;">
      <%= form_tag("/date_work", method: "post") do %>
        <!-- <input type="text" data-provide='datepicker' > -->
        <%= text_field_tag :date_work %>
        <%= submit_tag "Get Work", class: 'mb-0 btn btn-outline-success' %>
      <% end %>
    </div>


<!-- Goat status -->

  <div class="container-fluid">

      <div class="table-responsive">
        <table class="table" width="100%" cellspacing="0">
          <thead class="thead-dark">
          <tr>
            <th>Token No</th>
            <th>Status </th>
            <th>Days </th>
            <th> Mat Date</th>
            <th> Change </th>
          </tr>
          </thead>
          <tbody>
          <% if @confirmed.present? %>
            <% @confirmed.each do |goat_status| %>
              <tr>
                <td><%= goat_status.goat.token_no %></td>
                <td><%= goat_status.goat_status %></td>
                <% if goat_status.goat.female_mat_goats.present? %>
                  <td><%= (Date.today - goat_status.goat.female_mat_goats.last.date_of_mat).to_i  %></td>
                <% else %>
                  <td> <%= (Date.today - (goat_status.date).to_date).to_i %> </td>
                <% end %>
                <td><%= goat_status.goat.female_mat_goats.last.date_of_mat if goat_status.goat.female_mat_goats.present? %></td>
                <td> 
                  <% if ( Date.today - (goat_status.date).to_date).to_i %>
                    <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
                <% end %>
                </td>
              </tr>
              <tr></tr>
            <% end %>
          <% end %>

          <% if @calve_stage.present? %>
           <% @calve_stage.each do |goat_status| %>
            <tr>
              <td><%= goat_status.goat.token_no %></td>
              <td><%= goat_status.goat_status %></td>
              <% if goat_status.goat.female_mat_goats.present? %>
                  <td><%= (Date.today - goat_status.goat.female_mat_goats.last.date_of_mat).to_i  %></td>
              <% else %>
                  <td> <%= (Date.today - (goat_status.date).to_date).to_i %> </td>
              <% end %>
              <td><%= goat_status.goat.female_mat_goats.last.date_of_mat if goat_status.goat.female_mat_goats.present? %></td>
              <td> 
                <% if ( Date.today - (goat_status.date).to_date).to_i   %>
                  <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
              <% end %>
              </td>
            </tr>
            <tr></tr>
          <% end %>
          <% end %>


          <% if @pregnancy.present? %>
          <% @pregnancy.each do |goat_status| %>
            <tr>
              <td><%= goat_status.goat.token_no %></td>
              <td><%= goat_status.goat_status %></td>
              <% if goat_status.goat.female_mat_goats.present? %>
                  <td><%= (Date.today - goat_status.goat.female_mat_goats.last.date_of_mat).to_i  %></td>
              <% else %>
                  <td> <%= (Date.today - (goat_status.date).to_date).to_i %> </td>
              <% end %>
              <td><%= goat_status.goat.female_mat_goats.last.date_of_mat if goat_status.goat.female_mat_goats.present? if goat_status.goat.female_mat_goats.present? %></td>
              <td> 
                <% if ( Date.today - (goat_status.date).to_date).to_i %>
                  <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
              <% end %>
              </td>
            </tr>
            <tr></tr>
          <% end %>
          <% end %>


          <% if @milking.present? %>
          <% @milking.each do |goat_status| %>
            <tr>
              <td><%= goat_status.goat.token_no %></td>
              <td><%= goat_status.goat_status %></td>
              <td><%= ( Date.today - (goat_status.date).to_date).to_i %></td>
              <td><%= goat_status.goat.female_mat_goats.last.date_of_mat if goat_status.goat.female_mat_goats.present? %></td>
              <td> 
                <% if ( Date.today - (goat_status.date).to_date).to_i  %>
                  <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
              <% end %>
              </td>
            </tr>
            <tr></tr>
          <% end %>
          <% end %>


          <% if @heat.present? %>
          <% @heat.each do |goat_status| %>
            <tr>
              <td><%= goat_status.goat.token_no %></td>
              <td><%= goat_status.goat_status %></td>
              <td><%= ( Date.today - (goat_status.date).to_date).to_i %></td>
              <td><%= goat_status.goat.female_mat_goats.last.date_of_mat if goat_status.goat.female_mat_goats.present? %></td>
              <td> 
                <% if ( Date.today - (goat_status.date).to_date).to_i  %>
                  <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
              <% end %>
              </td>
            </tr>
            <tr></tr>
          <% end %>
          <% end %>


          <% if @non_pregnancy.present? %>
          <% @non_pregnancy.each do |goat_status| %>
            <tr>
              <td><%= goat_status.goat.token_no %></td>
              <td><%= goat_status.goat_status %></td>
              <td><%= ( Date.today - (goat_status.date).to_date).to_i %></td>
              <td><%= goat_status.goat.female_mat_goats.last.date_of_mat if goat_status.goat.female_mat_goats.present? %></td>
              <td> 
                <% if ( Date.today - (goat_status.date).to_date).to_i  %>
                  <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
              <% end %>
              </td>
            </tr>
            <tr></tr>
          <% end %>
          <% end %>


          <% if @abort.present? %>
          <% @abort.each do |goat_status| %>
            <tr>
              <td><%= goat_status.goat.token_no %></td>
              <td><%= goat_status.goat_status %></td>
              <td><%=( Date.today - (goat_status.date).to_date).to_i %></td>
              <td><%= goat_status.goat.female_mat_goats.last.date_of_mat if goat_status.goat.female_mat_goats.present? %></td>
              <td> 
                <% if ( Date.today - (goat_status.date).to_date).to_i %>
                  <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
              <% end %>
              </td>
            </tr>
            <tr></tr>
          <% end %>
          <% end %>

          </tbody>
        </table>
      </div>

<!-- Icu Goat disease -->

    <% if @icu_goats.present? %>
      <div class="table-responsive">
        <table class="table" width="100%" cellspacing="0">
          <thead class="thead-dark">
          <tr>
            <th>Goat </th>
            <th>Disease </th>
            <th>date</th>
            <th>Status  </th>
          </tr>
          </thead>
          <tbody>
          <% @icu_goats.each do |disease_goat| %>
            <tr>
              <td><%= disease_goat.goat_id %></td>
              <td><%= disease_goat.disease.name %> </td>
              <td><%= disease_goat.disease_date %></td>
              <td><%= disease_goat.status %></td>
            </tr>
            <tr></tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

<!-- Daily Work -->

    <% if @daily_works.exists? %>
      <div class="table-responsive">
        <table class="table" width="100%" cellspacing="0">
          <thead class="thead-dark">
          <tr>
            <th>Goat </th>
            <th>Created At </th>
            <th>Breed Variety</th>
            <th>Action</th>
            <th>Action Detail</th>
            <th>Status  </th>
            <th>Day </th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <% @daily_works.each do |daily_work| %>
            <tr>
              <td><%= daily_work.goat.token_no %></td>
              <td><%= daily_work.created_at.strftime("%B %d")  %> </td>
              <td><%= daily_work.goat.breed_variety %></td>
              <td><%= daily_work.main_work.action %></td>
              <td><%= daily_work.main_work.action_detail %></td>
              <td><%= daily_work.status %></td>
              <td><%= daily_work.main_work.day %></td>
              <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Daily Work', edit_daily_work_path(:id => daily_work.id, goat_id: daily_work.goat.token_no, main_work_id: daily_work.main_work.id) %></div></td>
              <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', daily_work, :method => :delete, data: { confirm: "Really?" } %></div></td>
            </tr>
            <tr></tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

<script type="text/javascript">
  $(function() {
    $( "#date_work" ).datepicker({
      dateFormat: "yyyy-mm-dd"
    });
  })
</script>