<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Goat Works</h1>
  </div>

     <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Daily Work', daily_works_path %></div>
  
    <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Goat Disease', goat_diseases_path %>
    </div>
 
    <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: right;"> <%= link_to 'Create Daily Work', new_daily_work_path %>
    </div>
  
  <% if @daily_works.exists? %>
      <div class="table-responsive">
        <table class="table" width="100%" cellspacing="0">
          <thead class="thead-dark">
          <tr>
            <th>Goat </th>
            <th>Rack </th>
            <th>Breed Variety</th>
            <th>Action</th>
            <th>Action Detail</th>
            <th>Status  </th>
            <th>Day </th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <% @daily_works.each do |daily_work| %>
            <tr>
              <td><%= daily_work.goat.token_no %></td>
              <td><%#= daily_work.goat.rack_goats.last.rack_detail.rack_no  if daily_work.goat.rack_goats.present? %> </td>
              <td><%= daily_work.goat.breed_variety %></td>
              <td><%= daily_work.main_work.action %></td>
              <td><%= daily_work.main_work.action_detail %></td>
              <td><%= daily_work.status %></td>
              <td><%= daily_work.main_work.day %></td>
              <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Daily Work', edit_daily_work_path(:id => daily_work.id) %></div></td>
              <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', daily_work, :method => :delete, data: { confirm: "Really?" } %></div></td>
            </tr>
            <tr></tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>