<div id="<%= dom_id farmer_account %>">
  <p>
    <strong>Amount:</strong>
    <%= farmer_account.amount %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= farmer_account.reason %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= farmer_account.date %>
  </p>

  <p>
    <strong>Farmer:</strong>
    <%= farmer_account.farmer_id %>
  </p>

  <p>
    <strong>Balance amount:</strong>
    <%= farmer_account.balance_amount %>
  </p>

</div>
