<%= form_for @farmer_account do |f| %>
 <% if @farmer_account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(farmer_account.errors.count, "error") %> prohibited this farmer_account from being saved:</h2>
      <ul>
        <% farmer_account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block"> 
            <%= image_tag("coconut.jpg", class: 'bg-register-image', size: "450x360") %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"><%=  params["farmer_name"] %> account</h1>
              </div>
              <%= f.fields_for :farmer_account do |account| %>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Amount :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :amount, class: 'input form-control form-control-user', placeholder: 'Enter Amount', id: 'kg', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Reason :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :reason, class: 'input form-control form-control-user', placeholder: 'Enter Reason', id: 'kg' %>
                  </div>
                </div>
                <div id="total_amount_notice" class="total-amount-hint">
                  Balance Amount: <span id="total_amount_value">0.00</span>
                  <div class="warning-message">Please review the total amount.</div>
                </div>
                <br />
              <%= f.hidden_field :farmer_id, value: params['farmer_id'] %>
              <%= f.hidden_field :balance_amount, value: params['farmer_id'] %>
              <% end %>
              <div class="field has-text-centered">
                <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script>
  $(document).ready(function() {
    function calculateAmount(count, rate, vasi) {
      return vasi > 0 ? ((count * rate) / vasi) * count : 0;
    }

    $('#asal_kai_count, #asal_kai_rate, #asal_kai_vasi, #neer_vatral_kai_count, #neer_vatral_kai_rate, #neer_vatral_kai_vasi').on('input', function() {
      var asal_kai_count = parseFloat($('#asal_kai_count').val()) || 0;
      var asal_kai_rate = parseFloat($('#asal_kai_rate').val()) || 0;
      var asal_kai_vasi = parseFloat($('#asal_kai_vasi').val()) || 0;
      var neer_vatral_kai_count = parseFloat($('#neer_vatral_kai_count').val()) || 0;
      var neer_vatral_kai_rate = parseFloat($('#neer_vatral_kai_rate').val()) || 0;
      var neer_vatral_kai_vasi = parseFloat($('#neer_vatral_kai_vasi').val()) || 0;

      var total_amount = calculateAmount(asal_kai_count, asal_kai_rate, asal_kai_vasi) + 
                         calculateAmount(neer_vatral_kai_count, neer_vatral_kai_rate, neer_vatral_kai_vasi);

      $('#total_amount_notice').text('Total Amount: ' + total_amount.toFixed(2));
    });
  });
</script>