<h1>Editing farmer account</h1>

<%= render "form", farmer_account: @farmer_account %>

<br>

<div>
  <%= link_to "Show this farmer account", @farmer_account %> |
  <%= link_to "Back to farmer accounts", farmer_accounts_path %>
</div>
