<h1><%= @farmer.name %> Accounts</h1>
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back', find_farmer_path, class: 'btn btn-primary mb-3' %>
        <%= link_to 'Add Farmer Amount', new_farmer_account_path(farmer_name:  @farmer.name, farmer_id: @farmer.id), class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
      <thead class="bg-dark text-white">
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Reason</th>
          <th>Balance amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @farmer_accounts.each do |farmer| %>
          <tr>
            <td><%= farmer.date %></td>
            <td><%= farmer.amount %></td>
            <td><%= farmer.reason %></td>
            <td><%= farmer.balance_amount %></td>
            <td>
              <%= link_to 'Show', farmer, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Edit', edit_farmer_path(farmer), class: 'btn btn-warning mr-2' %>
              <%= link_to 'Destroy', farmer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


