<p style="color: green"><%= notice %></p>

<%= render @farmer_account %>

<div>
  <%= link_to "Edit this farmer account", edit_farmer_account_path(@farmer_account) %> |
  <%= link_to "Back to farmer accounts", find_farmer_path %>

  <%= button_to "Destroy this farmer account", @farmer_account, method: :delete %>
</div>
