<div class="form-group row nested-fields">
  <div class="col-sm-1.5 mb-3 mb-sm-0">
    <div class="field">
      <label for="name" class="label">Token :</label>
    </div>
  </div>
  <div class="col-sm-2 mb-3 mb-sm-0">
    <%= f.select :goat_id, options_for_select(Goat.edit_without_batch_goat(current_user,params[:id]).collect {|u| [u.token_no, u.id]}, :selected => f.object.goat_id), class: 'form-control form-control-user', required: 'true' %>
  </div>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove", '#', class: "remove_fields" %>
</div>