<%= form_for (@batch) do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create Batch</h1>
              </div>
              <form class="user">
               <div class="form-group row">
              <%= f.hidden_field :user_id, :value => current_user.id %>
                  <div class="col-sm-1.5">
                    <div class="field">
                      <label for="name" class="label">Name :</label>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="field">
                      <%= f.text_field :name, class: 'input form-control form-control-user', placeholder: 'Batch Name',id: 'batch_name', required: true %>
                    </div>
                  </div>
                  <div class="col-sm-1.5">
                    <div class="field">
                      <label for="name" class="label">Rack :</label>
                    </div>
                  </div>
                  <div class="col-sm-2 mb-3 mb-sm-0">
                    <%= f.select :rack_detail_id, options_for_select(RackDetail.rack_details_all(current_user).collect {|u| [u.name, u.id]},:selected => f.object.rack_detail_id), class: 'form-control form-control-user',prompt: "Select Rack", required: 'true' %>
                  </div>
                </div>
                
                <%= f.fields_for :batch_goats do |f| %>
                  <%= render 'batch_goat_fields', f: f  %>
                <% end %>
                <br />
                <br />
                <%= link_to_add_fields "Add Goat Into Batch", f, :batch_goats, { :class=>"text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" } %>
                
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>