<div class="container-fluid">
  <div class="text-xs font-weight-bold text-uppercase mb-3 btn btn-outline-success" style="float: right;"> <%= link_to 'Create Batch', new_batch_path %></div>
  <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: right;"> <%= link_to 'Today Data Batch Wise' , goat_data_batch_wise_path(format: :pdf) %></div>
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Batch List</h1>
  </div>

  <% if @batches.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Rack </th>
          <th>Number Of Goat </th>
          <th><%= Date.today.strftime("%b") %> Weight</th>
          <th><%= (Date.today - 30).strftime("%b") %> Weight </th>
          <th><%= (Date.today - 60 ).strftime("%b") %> Weight</th>
          <th>Edit </th>
        </tr>
        </thead>
        <tbody>
        <% @batches.each do |batch| %>
          <tr>
            <td><%= batch.name %></td>
            <td><%= batch.rack_detail.name %></td>
            <td><%= batch.batch_goats.count %></td>
            <td><%= BatchGoat.batch_goat_weight(batch.id,Date.today) %></td>
            <td><%= BatchGoat.batch_goat_weight(batch.id, Date.today - 30 ) %></td>
            <td><%= BatchGoat.batch_goat_weight(batch.id, Date.today - 60) %></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Batch', edit_batch_path(:id => batch.id) %></div></td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  
</div>