<%= form_for (@feed_rate) do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Feed Rate</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Concentrate Feed :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :concentrate_feed, class: 'input form-control form-control-user', placeholder: 'Enter Feed Rate ', id: 'milk_assurance', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Green Fodder :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.text_field :green_fodder, class: 'input form-control form-control-user', id: 'cow_rate', placeholder: 'Enter Feed Rate', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Dry Fodder :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.text_field :dry_fodder, class: 'input form-control form-control-user', placeholder: 'Enter Feed Rate', required: true %>
                      </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Chaval Powder :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.text_field :chaval_powder, class: 'input form-control form-control-user', placeholder: 'Enter Feed Rate', required: true %>
                      </div>
                    </div>
                </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
