<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Current Rate</h1>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Concentrate Feed Rate</th>
                <th>Chaval Powder Rate</th>
                <th>Green Fooder Rate</th>
                <th>Dry Fodder Rate</th>
              </tr>
            </thead>
            <tbody>
            <% @current_rate.each do |feed| %>
              <tr>
                <td>RS. <%= feed[:concentrate_feed] %></td>
                <td>RS. <%= feed[:chaval_powder] %></td>
                <td>RS. <%= feed[:green_fodder] %></td>
                <td>RS. <%= feed[:dry_fodder] %></td>
              </tr>
            <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>

  

</div>

<%= render :partial => 'form'  %>