<%= form_for (@calves) do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">New Calve</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Cow ID :</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%#= f.text_field :cow_id, class: 'form-control form-control-user', value: 2, required: true, id:'cow_id', placeholder: 'Enter Token', required: true %>
                    <%=f.select :cow_id, options_for_select(Cow.all.collect {|u| [u.token_no, u.id]}), class: 'form-control form-control-user',prompt: "Select Cow", required: 'true' %> 
                  </div>
                </div>
                
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Token No :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.text_field :token_no, class: 'input input form-control form-control-user',id: 'date_of_purchase', placeholder: 'Enter Token Number', required: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date Of Birth :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :date_of_birth, class: 'input', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Breed Variety :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Gender :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.select :gender, Calve.genders.keys, class: 'select form-control form-control-user' %>
                      </div>
                    </div>
                  </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
