<%= form_tag(create_batch_weight_path, :method => :post) do  %>

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Batch Weight</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Select Batch :</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%= select_tag :batch_id,  options_for_select(Batch.batches_all(current_user).collect {|u| [u.name, u.id]}), class: 'form-control form-control-user',prompt: "Select Goat", required: 'true' %> 
                  </div>
                </div>

            
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                      <%= date_field_tag  :date, class: 'input input form-control form-control-user',id: 'date_of_birth', placeholder: 'Enter Date', required: true %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                <div class="col-sm-4">
                  <div class="field">
                    <label for="name" class="label">Weight :</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="field">
                    <div class="field">
                      <%= text_field_tag :weight,"",class: 'form-control form-control-user', id:'token_no', placeholder: 'Enter Weight', required: 'true' %>
                    </div>
                    <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                  </div>
                </div>
                </div>

                <div class="field has-text-centered">
                  <%= submit_tag 'Submit', type: 'submit', class: 'btn btn-facebook btn-user btn-block' %>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
