<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Goat Weight List</h1>
  </div>
  <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Individual Weight Update', new_goat_weight_path %></div>

  <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Batch Weight Update', batch_weight_path %>
  </div>

  <% if @goat_weights.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token</th>
          <th>Weight </th>
          <th>Date </th>
          <th>Edit </th>
          <th>Delete </th>
        </tr>
        </thead>
        <tbody>
        <% @goat_weights.each do |goat_weight| %>
          <tr>
            <td><%= goat_weight.goat.token_no %></td>
            <td><%= goat_weight.weight %></td>
            <td><%= goat_weight.date %></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Goat weight', edit_goat_weight_path(:id => goat_weight.id) %></div></td>
             <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"> <%= link_to 'Delete', goat_weight, :method => :delete, data: { confirm: "Really?" } %></div></td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  
</div>