<%= form_for @purchaser_bill do |f| %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block"> 
            <%= image_tag("coconut.jpg", class: 'bg-register-image', size: "450x360") %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Purchaser Bill</h1>
              </div>
              <%= f.fields_for :purchaser_bill do |purchaser_bill_fields| %>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Purchase Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :procurement_date, class: 'input input form-control form-control-user',id: 'procurement_date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Purchaser Name :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%=f.select :purchaser_id, options_for_select(@purchaser.collect {|u| [u.name, u.id]},:selected => f.object.purchaser_id), { include_blank: 'Select Purchaser' }, { class: 'form-control form-control-user',prompt: "Select Purchaser", required: 'true' } %> 
                  </div>
                </div>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Asal Vhurai :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :asal_vhurai, class: 'input form-control form-control-user', placeholder: 'Enter Asal Vhurai', id: 'name' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Asal Kai :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :asal_kai, class: 'input form-control form-control-user', placeholder: 'Enter Asal Vhurai', id: 'name' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Neer Vatral Vhurai :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :neer_vattral_vhurai, class: 'input form-control form-control-user', placeholder: 'Enter Asal Vhurai', id: 'name' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Neer Vatral kai :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :neer_vattral_kai, class: 'input form-control form-control-user', placeholder: 'Enter Asal Vhurai', id: 'name' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Farmer</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :farmer_id, options_for_select(@farmer.collect {|u| [u.name, u.id]},:selected => f.object.farmer_id),{ include_blank: 'Select Farmer' }, { class: 'form-control form-control-user',prompt: "Select Farmer", required: 'true' } %> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Lorry</label>
                  </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :vechicle_id, options_for_select(@vechicle.collect {|u| [u.name, u.id]},:selected => f.object.vechicle_id),{include_blank: 'Select Vechicle'},{ class: 'form-control form-control-user',prompt: "Select Vechicle", required: 'true' } %> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Number Of Person:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :number_of_person, class: 'input form-control form-control-user', placeholder: 'Enter Number', id: 'name', required: true %>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Asal Kai :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :asal, class: 'input form-control form-control-user', placeholder: 'Enter Asal Kai', id: 'name' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Kai :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :kai, class: 'input form-control form-control-user', placeholder: 'Enter Kai', id: 'name' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Total Coconut:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :total_coconut, class: 'input form-control form-control-user', placeholder: 'Enter Total', id: 'name', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Total Amount:</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :total_amount, class: 'input form-control form-control-user', placeholder: 'Enter Total', id: 'name', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Paid Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :paid_date, class: 'input input form-control form-control-user',id: 'payment_date', placeholder: 'Enter Payment Date' %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="is_active" class="label">Paid :</label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label class="radio-inline"><%= f.radio_button :paid, false, checked: true %> No</label>
                    <label class="radio-inline"><%= f.radio_button :paid, true %> Yes</label>
                  </div>
                </div>
               
              <% end %>
              <div class="field has-text-centered">
                <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>