<div id="<%#= dom_id purchaser_bill %>">
  <p>
    <strong>Asal vhurai:</strong>
    <%#= purchaser_bill.asal_vhurai %>
  </p>

  <p>
    <strong>Asal kai:</strong>
    <%#= purchaser_bill.asal_kai %>
  </p>

  <p>
    <strong>Neer vattral vhurai:</strong>
    <%#= purchaser_bill.neer_vattral_vhurai %>
  </p>

  <p>
    <strong>Neer vattral kai:</strong>
    <%#= purchaser_bill.neer_vattral_kai %>
  </p>

  <p>
    <strong>Number of person:</strong>
    <%#= purchaser_bill.number_of_person %>
  </p>

  <p>
    <strong>Asal:</strong>
    <%#= purchaser_bill.asal %>
  </p>

  <p>
    <strong>Kai:</strong>
    <%#= purchaser_bill.kai %>
  </p>

  <p>
    <strong>Total coconut:</strong>
    <%#= purchaser_bill.total_coconut %>
  </p>

  <p>
    <strong>Procurement date:</strong>
    <%#= purchaser_bill.procurement_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%#= purchaser_bill.user_id %>
  </p>

  <p>
    <strong>Purchase:</strong>
    <%#= purchaser_bill.purchase_id %>
  </p>

  <p>
    <strong>Place:</strong>
    <%#= purchaser_bill.place_id %>
  </p>

  <p>
    <strong>Vechicle:</strong>
    <%#= purchaser_bill.vechicle_id %>
  </p>

  <p>
    <strong>Procurement place:</strong>
    <%#= purchaser_bill.procurement_place_id %>
  </p>

  <p>
    <strong>Farmer:</strong>
    <%#= purchaser_bill.farmer_id %>
  </p>

</div>
