<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Purchaser Bill', new_purchaser_bill_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
      <thead class="bg-dark text-white">
        <tr>
          <th>Date</th>
          <th>Purchaser</th>
          <%# <th>Asal Vhurai</th>
          <th>Asal Kai</th>
          <th>Neer Vatral Vhurai</th>
          <th>Neer Vatral kai</th> %>
          <th>Lorry</th>
          <th>Farmer</th>
          <th>No Person</th>
          <th>Asal</th>
          <th>Kai</th>
          <th>Total Coconut</th>
          <th>Total Amount</th>
          <th>Paid Date</th>
          <th>Paid</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @purchaser_bills.each do |purchaser_bill| %>
          <tr>
            <td><%= purchaser_bill.procurement_date.in_time_zone('Kolkata').strftime("%Y-%m-%d")%></td>
            <td><%= purchaser_bill.purchaser.name %></td>
            <%#= purchaser_bill.asal_vhurai %>
            <%#= purchaser_bill.asal_kai %>
            <%#= purchaser_bill.neer_vattral_vhurai %>
            <%#= purchaser_bill.neer_vattral_kai %>
            <td><%= purchaser_bill.vechicle.name %></td>
            <td><%= purchaser_bill.farmer.name %></td>
            <td><%= purchaser_bill.number_of_person %></td>
            <td><%= purchaser_bill.asal %></td>
            <td><%= purchaser_bill.kai %></td>
            <td><%= purchaser_bill.total_coconut %></td>
            <td><%= purchaser_bill.total_amount %></td>
            <td><%= purchaser_bill.paid_date.in_time_zone('Kolkata').strftime("%Y-%m-%d") if purchaser_bill.paid_date.present? %></td>
            <td><%= purchaser_bill.paid ? 'Yes' : 'No' %></td>
            <td>
              <%= link_to 'Show', purchaser_bill, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Edit', edit_purchaser_bill_path(purchaser_bill), class: 'btn btn-warning mr-2' %>
              <%= link_to 'Destroy', purchaser_bill, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>