<div class="container-fluid">
  <div class="container-fluid">
    <h1>New Purchaser Bill</h1>
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Purchaser Bills', purchaser_bills_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<%= render "form", place: @purchaser_bill %>

<br>