<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Purchaser Bills', purchaser_bills_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Purchaser Bill</h1>
	<br />
	<% if @purchaser_bill.present? %>
		<div class="card shadow mb-3">
			<div class="card-body">
				<div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			          	<th>Date</th>
                  <th>Purchaser Name</th>
                  <th>Paid</th>
                  <th>Asal Vhurai</th>
                  <th>Asal Kai</th>
                  <th>Neer Vatral Vhurai</th>
                  <th>Neer Vatral kai</th>
                  <th>Farmer</th>
                  <th>Lorry</th>
                  <th>Number OF Person</th>
                  <th>Asal</th>
                  <th>Kai</th>
                  <th>Total Coconut</th>
                  <th>Total Amount</th>
                  <th>Paid Date</th>
                  <th>Paid</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td><%= @purchaser_bill.procurement_date.in_time_zone('Kolkata').strftime("%Y-%m-%d") if  @purchaser_bill.procurement_date.present?%></td>
                  <td><%= @purchaser_bill.purchaser.name %></td>
                  <td><%= @purchaser_bill.paid ? 'Yes' : 'No' %></td>
                  <td><%= @purchaser_bill.asal_vhurai %></td>
                  <td><%= @purchaser_bill.asal_kai %></td>
                  <td><%= @purchaser_bill.neer_vattral_vhurai %></td>
                  <td><%= @purchaser_bill.neer_vattral_kai %></td>
                  <td><%= @purchaser_bill.farmer.name %></td>
                  <td><%= @purchaser_bill.vechicle.name %></td>
                  <td><%= @purchaser_bill.number_of_person %></td>
                  <td><%= @purchaser_bill.asal %></td>
                  <td><%= @purchaser_bill.kai %></td>
                  <td><%= @purchaser_bill.total_coconut %></td>
                  <td><%= @purchaser_bill.total_amount %></td>
                  <td><%= @purchaser_bill.paid_date.in_time_zone('Kolkata').strftime("%Y-%m-%d") if  @purchaser_bill.paid_date.present? %></td>
                  <td><%= @purchaser_bill.paid ? 'Yes' : 'No' %></td>
			          </tr>
			        </tbody>
			    </table>
			   </div>
			</div>
		</div>
	<% end %>
</div>


