<%= form_for (@goat) do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create New Goat</h1>
              </div>
              <form class="user">
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Token Number :</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%= f.text_field :token_no, class: 'form-control form-control-user', id:'token_no', placeholder: 'Enter Token', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Breed Variety :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.select :breed_variety, Goat.breed_varieties.keys, class: 'form-control'%>
                      </div>
                      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Gender :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                        <%= f.select :gender, Goat.genders.keys, class: 'form-control' %>
                      </div>
                      <%#= f.text_field :breed_variety, class: 'input form-control form-control-user', placeholder: 'Enter Breed Variety',id: 'breed_variety', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Weight :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                  <%= f.text_field :weight, class: 'input form-control form-control-user', placeholder: 'Enter Weight ', id: 'milk_assurance', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date Of Birth :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <div class="field">
                      <%= f.date_field :date_of_birth, class: 'input input form-control form-control-user',id: 'date_of_birth', placeholder: 'Enter Date', required: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Age :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.text_field :age, class: 'input form-control form-control-user', placeholder: 'Enter Age',id: 'age', required: true %>
                    </div>
                  </div>
                </div>
                <!-- <%#= f.fields_for :purchase_goat_attributes, @goat.purchase_goat do |a| %>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Purchase Date :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <div class="field">
                          <%#= a.date_field :date_of_purchase, class: 'input input form-control form-control-user',id: 'date_of_purchase', placeholder: 'Enter Date', required: true %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Rate :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%#= a.text_field :rate, class: 'input form-control form-control-user', placeholder: 'Enter Rate',id: 'age', required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Place :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%#= a.text_field :place, class: 'input form-control form-control-user', placeholder: 'Enter Place',id: 'place', required: true %>
                      </div>
                    </div>
                  </div>
                <%# end %>
                <%#= f.fields_for :goat_calving_periods do |b| %>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Goat Status :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%#= b.select :goat_status, GoatCalvingPeriod.goat_statuses.keys, class: ' form-control',prompt: "Goat Status" %>
                      </div>
                    </div>
                  </div>
                <%# end %>
                 <%#= f.fields_for :rack_goats do |c| %>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Goat Rack :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%##= select_tag "GoatRack", options_from_collection_for_select(RackDetail.all, :id, :rack_no), {:class=>'form-control', :prompt => 'Selected Rack'}  %>
                        <%#= c.collection_select(:rack_detail_id, RackDetail.all, :id, :rack_no, {include_hidden: false}, {:class=>'form-control', :prompt => 'Selected Rack'} ) %>
                      </div>
                    </div>
                  </div> -->
                <%# end %>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
