<div style="text-align: right; margin-bottom: 10px;">
  <%= link_to 'Delete', @goat, method: :delete, class: 'btn btn-outline-danger text-uppercase font-weight-bold', data: { confirm: "Really?" } %>
</div>

<%= render partial: 'edit_form' %>
