<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Goat Current Status</h1>
  </div>

  <% if @mid_stage || @confirmed || @calve_stage.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="bg-success text-white">
        <tr>
          <th>Confirmed</th>
          <th>Calve Stage</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @confirmed.count %> </td>
            <td><%= @calve_stage.count %> </td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @pregnancy.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="bg-success text-white">
        <tr>
          <th>Early Stage</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @pregnancy.count %> </td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  <% end %>

   <% if @doubt.present?  %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="bg-success text-white">
        <tr>
          <th>Doubt Stage</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @doubt.count %> </td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  <% end %>
   <% if @non_pregnancy.present? || @abort.present?%>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="bg-success text-white">
        <tr>
          <th>Non Pregnancy</th>
          <th>Abort</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @non_pregnancy.count %> </td>
            <td><%= link_to @abort.count %> </td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @milking || @heat.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="bg-success text-white">
        <tr>
          <th>Milking</th>
          <th>Heat</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @milking.count %> </td>
            <td><%= link_to @heat.count %> </td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @calve_stage.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No</th>
          <th>Status </th>
          <th>Days </th>
          <th>Mat Date </th>
          <th> Change </th>
        </tr>
        </thead>
        <tbody>
        <% @calve_stage.each do |goat_status| %>
          <tr>
            <td><%= goat_status.goat.token_no %></td>
            <td><%= goat_status.goat_status %></td>
            <% if goat_status.goat.female_mat_goats.present? %>
              <td><%= (Date.today - goat_status.goat.female_mat_goats.last.date_of_mat).to_i  %></td>
            <% else %>
              <td> <%= ((Time.now - goat_status.date) / 24.hours).to_i %> </td>
            <% end %>
            <td><%= goat_status.goat.female_mat_goats.last.date_of_mat if goat_status.goat.female_mat_goats.present? %></td>
            <td> 
              <% if ((Time.now - goat_status.date) / 24.hours).to_i  >= 15  %>
                <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
            <% end %>
            </td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  

  <% if @confirmed.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No</th>
          <th>Status </th>
          <th>Days </th>
          <th> Mat Date</th>
          <th>Last Kid</th>
          <th> Change </th>
        </tr>
        </thead>
        <tbody>
        <% @confirmed.each do |goat_status| %>
          <tr>
            <td><%= goat_status.goat.token_no %></td>
            <td><%= goat_status.goat_status %></td>
            <% if goat_status.goat.female_mat_goats.present? %>
              <td><%= (Date.today - goat_status.goat.female_mat_goats.last.date_of_mat).to_i  %></td>
            <% else %>
              <td> <%= ((Time.now - goat_status.date) / 24.hours).to_i  %> </td>
            <% end %>
            <td><%= goat_status.goat.female_mat_goats.last.date_of_mat if goat_status.goat.female_mat_goats.present? %></td>
            <td><%= goat_status.goat.children_parent_goats.present? ? (((Date.today - 90.days) - goat_status.goat.children_parent_goats.last.children.date_of_birth)/30).to_i  : 'Danger' %></td>
            <td> 
              <% if ( Date.today - (goat_status.date).to_date).to_i >= 65 %>
                <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
            <% end %>
            </td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @pregnancy.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No</th>
          <th>Status </th>
          <th>Days </th>
          <th>Mat Date </th>
          <th>Last Kid</th>
          <th> Change </th>
        </tr>
        </thead>
        <tbody>
        <% @pregnancy.each do |goat_status| %>
          <tr>
            <td><%= goat_status.goat.token_no %></td>
            <td><%= goat_status.goat_status %></td>
            <% if goat_status.goat.female_mat_goats.present? %>
              <td><%= (Date.today - goat_status.goat.female_mat_goats.last.date_of_mat).to_i  %></td>
            <% else %>
              <td> <%= ((Time.now - goat_status.date) / 24.hours).to_i %> </td>
            <% end %>
            <td><%= goat_status.goat.female_mat_goats.last.date_of_mat if goat_status.goat.female_mat_goats.present? %></td>
            <td><%= goat_status.goat.children_parent_goats.present? ? (((Date.today - 90.days) - goat_status.goat.children_parent_goats.last.children.date_of_birth)/30).to_i  : 'Danger' %></td>
            <td>
              <% if ( Date.today - (goat_status.date).to_date).to_i >= 70 %>
                <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
            <% end %>
            </td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

   <% if @milking.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No</th>
          <th>Status </th>
          <th>Days </th>
          <th> Change </th>
        </tr>
        </thead>
        <tbody>
        <% @milking.each do |goat_status| %>
          <tr>
            <td><%= goat_status.goat.token_no %></td>
            <td><%= goat_status.goat_status %></td>
            <td><%= ((Time.now - goat_status.date) / 24.hours).to_i  %></td>
            <td> 
              <% if ((Time.now - goat_status.date) / 24.hours).to_i  >= 90 %>
                <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
            <% end %>
            </td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

   <% if @doubt.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No</th>
          <th>Status </th>
          <th>Days </th>
          <th>Last Date</th>
          <th> Change </th>
        </tr>
        </thead>
        <tbody>
        <% @doubt.each do |goat_status| %>
          <tr>
            <td><%= goat_status.goat.token_no %></td>
            <td><%= goat_status.goat_status %></td>
            <td><%=((Time.now - goat_status.date) / 24.hours).to_i  %></td>
            <td><%= goat_status.goat.children_parent_goats.present? ? (((Date.today - 90.days) - goat_status.goat.children_parent_goats.last.children.date_of_birth)/30).to_i  : 'Danger' %></td>
            <td> 
              <% if ((Time.now - goat_status.date) / 24.hours).to_i  >= 25 %>
                <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
            <% end %>
            </td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @heat.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No</th>
          <th>Status </th>
          <th>Days </th>
          <th>Last Date</th>
          <th> Change </th>
        </tr>
        </thead>
        <tbody>
        <% @heat.each do |goat_status| %>
          <tr>
            <td><%= goat_status.goat.token_no %></td>
            <td><%= goat_status.goat_status %></td>
            <td><%=((Time.now - goat_status.date) / 24.hours).to_i  %></td>
            <td><%= goat_status.goat.children_parent_goats.present? ? (((Date.today - 90.days) - goat_status.goat.children_parent_goats.last.children.date_of_birth)/30).to_i  : 'Danger' %></td>
            <td> 
              <% if ((Time.now - goat_status.date) / 24.hours).to_i  >= 25 %>
                <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
            <% end %>
            </td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

   <% if @non_pregnancy.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No</th>
          <th>Status </th>
          <th>Days </th>
          <th>Last Kid</th>
          <th> Change </th>
        </tr>
        </thead>
        <tbody>
        <% @non_pregnancy.each do |goat_status| %>
          <tr>
            <td><%= goat_status.goat.token_no %></td>
            <td><%= goat_status.goat_status %></td>
            <td><%= ((Time.now - goat_status.date) / 24.hours).to_i  %></td>
             <td><%= goat_status.goat.children_parent_goats.present? ? (((Date.today - 90.days) - goat_status.goat.children_parent_goats.last.children.date_of_birth)/30).to_i  : 'Danger' %></td>
            <td> 
              <% if ((Time.now - goat_status.date) / 24.hours).to_i  >= 21 %>
                <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
            <% end %>
            </td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

   <% if @abort.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No</th>
          <th>Status </th>
          <th>Days </th>
          <th>Last Kid</th>
          <th> Change </th>
        </tr>
        </thead>
        <tbody>
        <% @abort.each do |goat_status| %>
          <tr>
            <td><%= goat_status.goat.token_no %></td>
            <td><%= goat_status.goat_status %></td>
            <td><%= ((Time.now - goat_status.date) / 24.hours).to_i  %></td>
            <td><%= goat_status.goat.children_parent_goats.present? ? (((Date.today - 90.days) - goat_status.goat.children_parent_goats.last.children.date_of_birth)/30).to_i  : 'Danger' %></td>
            <td> 
              <% if ((Time.now - goat_status.date) / 24.hours).to_i  >= 21 %>
                <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'New Status', goat_status_path(goat_id: goat_status.goat.id, goat_status: goat_status.goat_status ) %></div>
            <% end %>
            </td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @kid_all.present? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Kid Token No</th>
          <th>Days </th>
          <th>Mother </th>
          <th>Father</th>
          <th>Weight/Month <th>
          <th>Breed</th>
        </tr>
        </thead>
        <tbody>
        <% @kid_all.each do |kid| %>
          <tr>
            <td><%= kid.token_no if kid.token_no.present? %></td>
            <td><%= (Date.today - kid.date_of_birth).to_i if kid.date_of_birth.present? %> </td>
            <td><%= kid.parent_goat.parent.token_no if kid.parent_goat.present? %></td>
            <td>
              <% if (kid.parent_goat) && (kid.parent_goat.parent.female_mat_goats).present? %>
                <% kid.parent_goat.parent.female_mat_goats.each do |mate_goat| %>
                  <% mate = (mate_goat.date_of_mat - kid.date_of_birth).to_i %>
                  <% if mate >= 140 || mate <= 160 %>
                    <%= mate_goat.male.token_no %>
                    <% break %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if kid.daily_works.present? %>
                  <% kid.daily_works.each do |daily_work| %>
                    <% if daily_work.main_work.action == 'Weight Checkup' %>
                      <%= daily_work.main_work.day %> <%= "->" %>
                      <%= daily_work.comment %> <%= "," %>
                    <% end %>
                  <% end %>
              <% end %>
            </td>
            <td><%= kid.breed_variety if kid.breed_variety.present? %></td>          
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

</div>