<div class="container-fluid">
	<% if @goat.present? %>
	<div class="row">
		<div class="col-lg-3">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
				  <h6 class="m-0 font-weight-bold text-primary">Goat Detail</h6>
				</div>
				<div class="card-body">
				<h8 class="m-0 font-weight-bold">Token No:</h8> <%=  @goat.token_no %> <hr>
	           	<h8 class="m-0 font-weight-bold"> Breed: </h8> <%= @goat.breed_variety %>  <hr>
				<h8 class="m-0 font-weight-bold"> gender: </h8> <%= @goat.gender %>  <hr>
	           	<% if @goat.breed_variety == 'Kid Female Thalachery' || 'Kid Male Thalachery' %>
	           		<h8 class="m-0 font-weight-bold"> Days: </h8> <%= (Date.today - @goat.date_of_birth).to_i %> <hr>
	           	<% end %>
	           	<h8 class="m-0 font-weight-bold"> Age: </h8> <%= @goat.age %> <hr>
	           	<h8 class="m-0 font-weight-bold"> Weight: </h8> <%= @goat.weight %>  <hr>
	           	<h8 class="m-0 font-weight-bold"> Status: </h8> <%= @goat.goat_calving_periods.where(live: 'Yes').find_goat_status(@goat.id).first.goat_status if @goat.goat_calving_periods.where(live: 'Yes').exists? %>  <hr>
	           	<h8 class="m-0 font-weight-bold"> Rack: </h8> <%#= @goat.rack_goats.last.rack_detail.rack_no if @goat.rack_goats.present? %> <hr>
	           	<h8 class="m-0 font-weight-bold"> Alive: </h8> <%= @goat.live if @goat.present? %>
				</div>
			</div>
		</div>
		<% if @goat_mates.exists? %>
		<div class="col-lg-3">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
					  <h6 class="m-0 font-weight-bold text-primary">Mate With</h6>
					</div>
					<% @goat_mates.each do |goat_mate| %>
					<div class="card-body">
						<h8 class="m-0 font-weight-bold">Token No:</h8> <%=  goat_mate.male.token_no %> <br>
						<h8 class="m-0 font-weight-bold">Date Of Mate :</h8> <%=  goat_mate.date_of_mat %> <hr>
					</div>
					<% end %>
				</div>
		</div>
		<% end %>

		<% if @goat_parent.present? %>
		<div class="col-lg-3">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
					  <h6 class="m-0 font-weight-bold text-primary">Parent </h6>
					</div>
					<div class="card-body">
						<h8 class="m-0 font-weight-bold">Token No:</h8> <%=  @goat_parent.parent.token_no %> <br>
						<h8 class="m-0 font-weight-bold">Date:</h8> <%=  @goat_parent.created_at.strftime("%Y-%m-%d") %> <hr>
					</div>
				</div>
		</div>
		<% end %>

		<% if @goat_childrens.exists? %>
			<div class="col-lg-3">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
					  <h6 class="m-0 font-weight-bold text-primary">Childrens</h6>
					</div>
					<%  @goat_childrens.each do |children| %>
					<div class="card-body">
						<h8 class="m-0 font-weight-bold">Child Token No:</h8> <%=   children.children.token_no %> <br />
						<h8 class="m-0 font-weight-bold">Date:</h8> <%=  children.created_at.strftime("%Y-%m-%d") %> <br />
						<hr>
					</div>
					<% end %>
				</div>
			</div>
		<% end %>

		<% if @goat_status.exists? %>
		<div class="col-lg-3">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
					  <h6 class="m-0 font-weight-bold text-primary">Status</h6>
					</div>
					<% @goat_status.each do |status| %>
					<div class="card-body">
						<h8 class="m-0 font-weight-bold">Goat Status:</h8> <%=  status.goat_status %> <br>
						<h8 class="m-0 font-weight-bold">Date :</h8> <%=  status.date %> <br>
						<h8 class="m-0 font-weight-bold">status :</h8> <%=  status.live %> <br>
						<h8 class="m-0 font-weight-bold">Message :</h8> <%=  status.message %> <hr>
					</div>
					<% end %>
				</div>
		</div>
		<% end %>

		

		<% if @goat_disease.exists? %>
			<div class="col-lg-3">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
					  <h6 class="m-0 font-weight-bold text-primary">Disease</h6>
					</div>
					<% @goat_disease.each do |goat_disease| %>
					<div class="card-body">
						<h8 class="m-0 font-weight-bold">Disease Name:</h8> <%=  goat_disease.disease.name %> <br />
						<h8 class="m-0 font-weight-bold">Disease Date:</h8> <%=  goat_disease.disease_date %> <br />
						<h8 class="m-0 font-weight-bold">Disease Status:</h8> <%=  goat_disease.status %> <br />
						<h8 class="m-0 font-weight-bold">Disease Comment:</h8> <%=  goat_disease.comment %>
						<hr>
					</div>
					<% end %>
				</div>
			</div>
		<% end %>

		<% if @goat_work.exists? %>
			<div class="col-lg-3">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
					  <h6 class="m-0 font-weight-bold text-primary">Works</h6>
					</div>
					<% @goat_work.each do |goat_work| %>
					<div class="card-body">
						<h8 class="m-0 font-weight-bold">Work Name:</h8> <%=  goat_work.main_work.action %> <br />
						<h8 class="m-0 font-weight-bold">Work Status:</h8> <%=  goat_work.status %> <br />
						<h8 class="m-0 font-weight-bold">Work Comment:</h8> <%=  goat_work.comment %>
						<hr>
					</div>
					<% end %>
				</div>
			</div>
		<% end %>

	</div>
	<% end %>
</div>