<%= form_for @insurance_goat, url: goat_insurance_path, html: { method: :post } do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Goat Insurance</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Gaot :</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :goat_id, options_for_select(Goat.live_goat(current_user).collect {|u| [u.token_no, u.id]}), class: 'form-control form-control-user',prompt: "Select Goat", required: 'true' %> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Policy No :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :policy_no, class: 'input form-control form-control-user', placeholder: 'Enter Policy No  ', id: 'policy_no', required: true %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Start Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :start_date, class: 'input input form-control form-control-user',id: 'start_date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Expire Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :exp_date, class: 'input input form-control form-control-user',id: 'exp_date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Amount</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :amount, class: 'input form-control form-control-user', placeholder: 'Enter Amount  ', id: 'amount', required: true %>
                  </div>
                </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="container-fluid">
 <% if @goat_insurance.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="bg-success text-white">
        <tr>
          <th>Goat</th>
          <th>Policy No</th>
          <th>Start Date</th>
          <th>Expire Date</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <% @goat_insurance.each do |insurance| %>
          <tr>
            <td><%= insurance.goat.token_no %></td>
            <td><%= insurance.policy_no %></td>
            <td><%= insurance.start_date %></td>
            <td><%= insurance.exp_date %></td>
            <td><%= insurance.amount %></td>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>