<div class="container-fluid">

  <!-- Page Heading -->
  <% if @goats.exists? %>

  <div class="container-fluid">

  <!-- Page Heading -->

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Goat List</h1>
    <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Today Data' , goat_data_path(format: :pdf) %>
    </div>
     <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'All Data' , get_hole_goat_data_path(format: :pdf) %>
    </div>
     <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Kid Data' , goat_kid_data_path(format: :pdf) %>
    </div>
     <div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" style="float: left;"> <%= link_to 'Weight Data' , kid_weight_data_path(format: :pdf) %>
    </div>
  </div>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Total Goat</th>
          <th>Boyer</th>
          <th>Female ThalaCherry</th>
          <th>Male ThalaCherry</th>
          <th>Matured Male Kid</th>
          <th>Matured Female Kid</th>
          <th>Kid</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @goats.count %></td>
            <td><%= @boyer.count %></td>
            <td><%= @female_thala.count %></td>
            <td><%= @male_thala.count %></td>
            <td><%= @matured_female_kid %></td>
            <td><%= @matured_male_kid %></td>
            <td><%= @kid %></td>

          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  <% end %>

   <% if @goats.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="bg-warning text-dark">
        <tr>
          <th>Confirmed Stage</th>
          <th>Early Stage</th>
          <th>Doubt Stage</th>
          <th>Non Pregnancy</th>
          <th>Milking</th>
          <th>Male Kid</th>
          <th>Female Kid</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @female_pregnancy, farm_status_path(status: 'confirmed_pregnancy') %> </td>
            <td><%= link_to @early_stage, farm_status_path(status: 'early_pregnancy') %> </td>
            <td><%= link_to @doubt_stage, farm_status_path(status: 'doubt') %></td>
            <td><%= link_to @female_non_pregnancy, farm_status_path(status: 'non_pregnancy') %></td>
            <td><%= link_to @milking_stage, farm_status_path(status: 'milking') %></td>
            <td><%= link_to @kid_male.count, farm_status_path(status: 'male_kid') %></td>
            <td><%= link_to @kid_female.count, farm_status_path(status: 'female_kid') %></td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @goats.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="bg-success text-white">
        <tr>
          <th>Token No</th>
          <th>Breed</th>
          <th>Age/Days</th>
          <th>Weight</th>
          <th>Status</th>
          <th>Rack</th>
          <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <% @goats.each do |goat| %>
          <tr>
            <td><%= goat.token_no %></td>
            <td><%= goat.gender%> - <%=  goat.breed_variety %></td>
            <% if (goat.breed_variety == 1 && goat.gender == 4 ) %>
              <td><%= (Date.today - goat.date_of_birth).to_i %></td>
            <%elsif (goat.breed_variety == 1 && goat.gender == 3 ) %>
                <td><%= (Date.today - goat.date_of_birth).to_i %></td>
            <% else %>
              <td><%= goat.age %></td>
            <% end %>
            <td><%= goat.weight %></td>
            <td><%= goat.goat_calving_periods.where(live: 'Yes').find_goat_status(goat.id).first.goat_status if goat.goat_calving_periods.where(live: 'Yes').exists? %></td>
            <td><%#= goat.rack_goats.last.rack_detail.rack_no if goat.rack_goats.present? %></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'Edit Goat', edit_goat_path(:id => goat.id) %></div></td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>