// Place all the styles related to the lands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trapezoid {
	border-bottom: 2px solid #D3D3D3;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}
.square {
  height: 130px;
  width: 346px;
  background-color:#539A46;
  border-style:  outset;
  border-bottom: 2px soild #000000;
}

.square2 {
  height: 130px;
  width: 346px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square3 {
  height: 138px;
  width: 388px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square4 {
  height: 137px;
  width: 225px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square5 {
  height: 137px;
  width: 225px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square6 {
  height: 139px;
  width: 356px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square7 {
  height: 139px;
  width: 356px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square8 {
  height: 130px;
  width: 400px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square9 {
  height: 130px;
  width: 400px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square10 {
  height: 130px;
  width: 215px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square11 {
  height: 130px;
  width: 150px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
p{
	color: #000000;
}
.square12 {
  height: 130px;
  width: 150px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square13 {
  height: 130px;
  width: 150px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square14 {
  height: 130px;
  width: 150px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square15 {
  height: 130px;
  width: 150px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square16 {
  height: 130px;
  width: 150px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square17 {
  height: 130px;
  width: 150px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}
.square18 {
  height: 130px;
  width: 150px;
  background-color:#539A46;
  border-style: outset;
  border-bottom: 2px soild #000000;
}

