/* app/assets/stylesheets/pdf.css
body {
  background-color: green;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} 
table {
  width: 100%;
} */

// table {
//   border-collapse: collapse;
// }
//  th {
//   background: #ccc;
// }

// th, td {
//   border: 1px solid #ccc;
//   padding: 8px;
// }

// tr:nth-child(even) {
//   background: #efefef;
// }

// tr:hover {
//   background: #d1d1d1;
// }
