<div id="<%= dom_id vechicle %>">
  <p>
    <strong>Name:</strong>
    <%= vechicle.name %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= vechicle.capacity %>
  </p>

  <p>
    <strong>Is activate:</strong>
    <%= vechicle.is_activate %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vechicle.user_id %>
  </p>

</div>
