<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Vechicle', vechicles_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Vechicle</h1>
	<br />
	<% if @vechicle.present? %>
		<div class="card shadow mb-3">
			<div class="card-body">
				<div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			          	<td>Name</td>
                  <td>Capacity</td>
			            <th>Active</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td><%= @vechicle.name %></td>
                  <td><%= @vechicle.capacity %></td>
			            <td><%= @vechicle.is_activate %></td>
			          </tr>
			        </tbody>
			    </table>
			   </div>
			</div>
		</div>
	<% end %>
</div>


