<%= form_for :calving_period, :url => cow_health_path(@cow_health) do |f| %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block" > 
             <%= image_tag("our_boer.jpg", :class => 'bg-register-image', :size => "450x360"  ) %>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Health</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Cow ID :</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%#= f.text_field :cow_id, class: 'form-control form-control-user', value: 2, required: true, id:'cow_id', placeholder: 'Enter Token', required: true %>
                    <%=f.select :cow_id, options_for_select(Cow.all.collect {|u| [u.token_no, u.id]}), class: 'form-control form-control-user',prompt: "Select Cow", required: 'true' %> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Cow Status :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.select :cow_status, CalvingPeriod.cow_statuses.keys, class: 'select form-control form-control-user' %>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Date :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.date_field :calve_date, class: 'select form-control form-control-user', id: 'date', placeholder: 'Enter Date', required: true %>
                      </div>
                    </div>
                  </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                      <div class="field">
                        <label for="name" class="label">Message :</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.text_field :message, class: 'input form-control form-control-user', placeholder: 'Enter Message' %>
                      </div>
                    </div>
                </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Cattle Health List</h1>
    </div>
    <% if @cattle_health.exists? %>
      <div class="table-responsive">
        <table class="table" width="100%" cellspacing="0">
          <thead class="thead-dark">
          <tr>
            <th> Token No</th>
            <th> Status</th>
            <th> Date </th>
            <th> Message </th>
          </tr>
          </thead>
          <tbody>
          <% @cattle_health.each do |goat_calve| %>
            <tr>
              <td><%= goat_calve.cow.token_no %></td>
              <td><%= goat_calve.cow_status %></td>
              <td><%= goat_calve.calve_date %></td>
              <td><%= goat_calve.message %></td>
            </tr>
            <tr></tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
</div>
