<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Cattle Health List</h1>
    </div>
    <% if @cow_health.exists? %>
      <div class="table-responsive">
        <table class="table" width="100%" cellspacing="0">
          <thead class="thead-dark">
          <tr>
            <th> Token No</th>
            <th> Status</th>
            <th> Date </th>
            <th> Message </th>
          </tr>
          </thead>
          <tbody>
          <% @cow_health.each do |cow_calve| %>
            <tr>
              <td><%= cow_calve.cow.token_no %></td>
              <td><%= cow_calve.cow_status %></td>
              <td><%= cow_calve.calve_date %></td>
              <td><%= cow_calve.message %></td>
            </tr>
            <tr></tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
</div>
