<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Cow List</h1>
  </div>
  <% if @cows.exists? %>
    <div class="table-responsive">
      <table class="table" width="100%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
          <th>Token No</th>
          <th>Age</th>
          <th>Cow Status</th>
          <th>ADD Milk</th>
          <th>History</th>
          <th>Health</th>
          <th>Edit</th>
          <th>Feed</th>
        </tr>
        </thead>
        <tbody>
        <% @cows.each do |cow| %>
          <tr>
            <td><%= cow.token_no %></td>
            <td><%= cow.age %></td>
            <td><%= cow.calving_periods.last.cow_status %></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success"> <%= link_to 'ADD Milk', new_milk_production_path(:cow_id => cow.id) %></div></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-primary"> <%= link_to 'History',history_path(:cow_id => cow.id) %></div></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-primary"> <%= link_to 'Health',health_path(:cow_id => cow.id) %></div></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-secondary"><%= link_to 'Edit    ', edit_cow_path(:id => cow.id) %></div></td>
            <td><div class="text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-warning"><%= link_to 'Feed', new_feed_path(:cow_id => cow.id) %></div></td>
          </tr>
          <tr></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>