<div id="<%= dom_id labour_account %>">
  <p>
    <strong>Amount:</strong>
    <%= labour_account.amount %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= labour_account.reason %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= labour_account.date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= labour_account.customer_id %>
  </p>

  <p>
    <strong>Balance amount:</strong>
    <%= labour_account.balance_amount %>
  </p>

</div>
