<h1>Editing labour account</h1>

<%= render "form", labour_account: @labour_account %>

<br>

<div>
  <%= link_to "Show this labour account", @labour_account %> |
  <%= link_to "Back to labour accounts", labour_accounts_path %>
</div>
