<h1>Labour Accounts</h1>

<table class="responsive nowrap table table-hover" id="dttb-labour_accounts" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="amount">Amount</th>
      <th data-data="reason">Reason</th>
      <th data-data="date">Date</th>
      <th data-data="customer">Customer</th>
      <th data-data="balance_amount">Balance amount</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Labour Account', new_labour_account_path %>