<p style="color: green"><%= notice %></p>

<%= render @labour_account %>

<div>
  <%= link_to "Edit this labour account", edit_labour_account_path(@labour_account) %> |
  <%= link_to "Back to labour accounts", labour_accounts_path %>

  <%= button_to "Destroy this labour account", @labour_account, method: :delete %>
</div>
