<div id="<%= dom_id coconut_invoice %>">
  <p>
    <strong>Lorry:</strong>
    <%= coconut_invoice.lorry %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= coconut_invoice.total_amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= coconut_invoice.date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= coconut_invoice.user_id %>
  </p>

  <p>
    <strong>Load:</strong>
    <%= coconut_invoice.load_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= coconut_invoice.customer_id %>
  </p>

</div>
