<%= form_for @coconut_invoice do |f| %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-12 "> 
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Invoice</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Date :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="field">
                      <%= f.date_field :date, class: 'input input form-control form-control-user',id: 'date', placeholder: 'Enter Date', required: true %>
                    </div>
                  </div>
                </div>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="field">
                      <label for="name" class="label">Customer</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%=f.select :customer_id, options_for_select(@customer.collect {|u| [u.name, u.id]},:selected => f.object.customer_id),  { include_blank: 'Select Customer' }, { class: 'form-control form-control-user',prompt: "Select Customer", required: 'true' } %> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Lorry :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :lorry, class: 'input form-control form-control-user', placeholder: 'Enter Lorry Number', id: 'name', required: true %>
                  </div>
                </div>
                <%= f.fields_for :loads do |load| %>
                  <%= render 'load_fields', f: load  %>
                <% end %>
                <%= link_to_add_fields "Add Load", f, :loads, { :class=>"text-xs font-weight-bold text-uppercase mb-1 btn btn-outline-success" } %>
                  <br />
                  <br />
                <div class="form-group row">
                  <div class="col-sm-4">
                    <div class="field">
                      <label for="name" class="label">Total Amount :</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :total_amount, class: 'input form-control form-control-user', placeholder: 'Enter Total Amount', id: 'name', required: true %>
                  </div>
                </div>
                <div class="field has-text-centered">
                  <button type="submit" class="btn btn-facebook btn-user btn-block">Submit</button>
                </div>
                <hr>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

