<div class="card mb-3">
  <div class="card-body">
    <div class="form-group row nested-fields">
      <%= f.hidden_field :_destroy %>
      <div class="form-group row">
        <div class="col-sm-4">
          <div class="field">
            <label for="name" class="label">Quality :</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="field">
            <%= f.select :quality, Load.qualities.keys, class: ' form-control',prompt: "Select Quality", required: 'true' %>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <div class="field">
            <label for="name" class="label">Paruthi :</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="field">
            <%= f.select :paruthi, Load.paruthis.keys, class: ' form-control',prompt: "Select Quality", required: 'true' %>
          </div>
        </div>
      </div>
      <!-- Sakku field -->
      <div class="col-sm-2">
        <div class="field">
          <label for="sakku" class="label">Sakku :</label>
        </div>
        <%= f.text_field :sakku, class: 'input form-control form-control-user', placeholder: 'Enter Sakku ', id: 'sakku', required: true %>
      </div>
      <!-- Rate field -->
      <div class="col-sm-2">
        <div class="field">
          <label for="rate" class="label">Rate :</label>
        </div>
        <%= f.text_field :rate, class: 'input form-control form-control-user', placeholder: 'Enter Rate ', id: 'rate', required: true %>
      </div>
      <!-- Coconut Count field -->
      <div class="col-sm-2">
        <div class="field">
          <label for="coconut_count" class="label">Coconut Count :</label>
        </div>
        <%= f.text_field :coconut_count, class: 'input form-control form-control-user', placeholder: 'Enter Coconut Count ', id: 'coconut_count', required: true %>
      </div>
      <!-- Amount field -->
      <div class="col-sm-2">
        <div class="field">
          <label for="total_amount" class="label">Amount :</label>
        </div>
        <%= f.text_field :total_amount, class: 'input form-control form-control-user', placeholder: 'Enter Amount', id: 'total_amount', required: true %>
      </div>
      <!-- Remove link -->
      <div class="col-sm-2 align-self-center">
        <%= link_to "Remove", '#', class: "remove_fields btn btn-danger" %>
      </div>
    </div>
  </div>
</div>



