<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Invoice', new_coconut_invoice_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
      <thead class="bg-dark text-white">
        <tr>
          <th>Date</th>
          <th>Customer</th>
          <th>Lorry</th>
          <th>Total Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @coconut_invoices.each do |coconut_invoice| %>
          <tr>
            <td><%= coconut_invoice.date.in_time_zone('Kolkata').strftime("%Y-%m-%d %H:%M ")%></td>
            <td><%= coconut_invoice.lorry %></td>
            <td><%= coconut_invoice.customer.name %></td>
            <td><%= coconut_invoice.total_amount %></td>
            <td>
              <%= link_to 'Show', coconut_invoice, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Edit', edit_coconut_invoice_path(coconut_invoice), class: 'btn btn-warning mr-2' %>
              <%= link_to 'Destroy', coconut_invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

