<div class="container-fluid">
  <div class="container-fluid">
    <h1>New Invoice</h1>
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back To Invoices', coconut_invoices_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<%= render "form", coconut_invoice: @coconut_invoice %>

<br>