<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to Coconut Invoices', coconut_invoices_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Coconut Invoice</h1>
	<br />
	<% if @coconut_invoice.present? %>
		<div class="card shadow mb-3">
			<div class="card-body">
				<div class="table-responsive">
			    <table class="table table-bordered" width="100%" cellspacing="0">
			        <thead>
			          <tr>
			            <th>Date</th>
                  <th>Customer</th>
                  <th>Lorry</th>
                  <th>Total Amount</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td><%= @coconut_invoice.date.in_time_zone('Kolkata').strftime("%Y-%m-%d %H:%M ") %></td>
			            <td><%= @coconut_invoice.customer.name %></td>
                  <td><%= @coconut_invoice.lorry %></td>
                  <td><%= @coconut_invoice.total_amount %></td>
			          </tr>
                <tr>
                  <td colspan="4"> <h1 class="h3 mb-2 text-gray-800">Load Details</h1></td>
                </tr>
                  <tr>
                    <th>Quality</th>
                    <th>Paruthi</th>
                    <th>Sakku</th>
                    <th>Rate</th>
                    <th>Coconut Count</th>
                    <th>Amount</th>
                  </tr>
                <% @coconut_invoice.loads.each do |load| %>
                  <tr>
                    <td><%= load.quality %></td>
                    <td><%= load.paruthi %></td>
                    <td><%= load.sakku %></td>
                    <td><%= load.rate %></td>
                    <td><%= load.coconut_count %></td>
                    <td><%= load.total_amount %></td>
                  </tr>
                <% end %>
			        </tbody>
			    </table>
			   </div>
			</div>
		</div>
	<% end %>
</div>
