<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'New Place', new_place_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="responsive nowrap table table-hover" width="100%" cellspacing="0" id="dttb-places" data-sort="true" data-source="<%= url_for(format: :json)%>">
      <thead class="bg-dark text-white">
        <tr>
          <th>Name</th>
          <th>Is Activate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @places.each do |place| %>
          <tr>
            <td><%= place.name %></td>
            <td><%= place.is_activate %></td>
            <td>
              <%= link_to 'Show', place, class: 'btn btn-primary mr-2' %>
              <%= link_to 'Edit', edit_place_path(place), class: 'btn btn-warning mr-2' %>
              <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>