<div class="container-fluid">
  <div class="container-fluid">
    <h1>New Place</h1>
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to 'Back to places', places_path, class: 'btn btn-primary mb-3' %>
      </div>
    </div>
  </div>
</div>

<%= render "form", place: @place %>

<br>