<!DOCTYPE html>
<html>
  <head>
    <title>Integrated Farm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2196f3">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Color theme for statusbar -->
    <link rel="manifest" href="/manifest.json" />
    <script src="https://kit.fontawesome.com/d622b925ad.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes"></head>

    <!-- Add this in your application layout (views/layouts/application.html.erb) -->
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js" %>
    <!-- Add this in your application layout (views/layouts/application.html.erb) -->
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js" %>
  <body id="page-top">
  <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Integrated Farm <!-- <sup>FG</sup> --></div>
        </a>
        <hr class="sidebar-divider my-0">
        <% if current_user.present? %>
          <% if current_user.is_activate == true && current_user.type_of_business == "Agriculture" %>
              <% if UserEmployee.find_by(employee_id: current_user.id).role != 'Owner'%>
                  <li class="nav-item ">
                    <%= link_to '/milk_account',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span style="font-size: larger; font-weight: bold; color: white;">Cow</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/feeds',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span style="font-size: larger; font-weight: bold; color: white;">Feed</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/lands',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span style="font-size: larger; font-weight: bold; color: white;">Land</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/pending_works',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span style="font-size: larger; font-weight: bold; color: white;">Work</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/farm_expenses',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span style="font-size: larger; font-weight: bold; color: white;">Expenses</span>
                    <% end %>
                  </li>
                   <li class="nav-item ">
                      <%= link_to '/sales_and_deaths',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Sales And Death</span>
                      <% end %>
                   </li>
                   <li class="nav-item ">
                      <%= link_to '/month_on_weights',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Weight Growth</span>
                      <% end %>
                   </li>
                   <li class="nav-item">
                      <%= link_to '/mate_goats',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Mate Register</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/parent_goats',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Parent Mapping</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/parent_goats',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">ADD Goat</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/goat_death',{ :class => 'nav-link'} do %>
                         <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Death Register</span>
                      <% end %>
                    </li>
                  </li>
                  <li class="nav-item ">
                      <%= link_to '/download_form',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Download Data</span>
                      <% end %>
                   </li>
                  <li class="nav-item ">
                      <%= link_to '/feed_availabilities',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Stock Management</span>
                      <% end %>
                   </li>
              <% else %>
                <!-- Divider -->
                  <!-- Start For Manager Menu Changes -->
                  
                  <li class="nav-item ">
                    <%= link_to '/farm_expenses',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span style="font-size: larger; font-weight: bold; color: white;">Expenses</span>
                    <% end %>
                  </li>
                   <li class="nav-item ">
                      <%= link_to '/invoices',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Invoice</span>
                      <% end %>
                   </li>
                   <li class="nav-item ">
                      <%= link_to '/month_on_weights',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Weight Growth</span>
                      <% end %>
                   </li>
                   <li class="nav-item">
                      <%= link_to '/mate_goats',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Mate Register</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/parent_goats',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Parent Mapping</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/goats/new',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">ADD Goat</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/goat_death',{ :class => 'nav-link'} do %>
                         <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Death Register</span>
                      <% end %>
                    </li>
                  </li>
                  <li class="nav-item ">
                     <%= link_to '/download_form',{ :class => 'nav-link'} do %>
                       <i class="fas fa-fw fa-tachometer-alt"></i>
                       <span style="font-size: larger; font-weight: bold; color: white;">Download Data</span>
                     <% end %>
                  </li>
                  <li class="nav-item ">
                      <%= link_to '/feed_availabilities',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span style="font-size: larger; font-weight: bold; color: white;">Stock Management</span>
                      <% end %>
                   </li>

                   <li class="nav-item ">
                    <%= link_to '/milk_account',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span style="font-size: larger; font-weight: bold; color: white;">Cow</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/feeds',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span style="font-size: larger; font-weight: bold; color: white;">Feed</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/lands',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span style="font-size: larger; font-weight: bold; color: white;">Land</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/pending_works',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span style="font-size: larger; font-weight: bold; color: white;">Work</span>
                    <% end %>
                  </li>

                   <!-- End For Manager Menu Changes -->
                  <li class="nav-item ">
                    <%= link_to '/',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>HOME</span>
                    <% end %>
                  </li>
                  <%# <li class="nav-item ">
                    <%= link_to '/milk_account',{ :class => 'nav-link'} do %>
                      <%# <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Cow</span> %>
                    <%# end %>
                  <%# </li>  %>
                <!-- Divider -->
                <hr class="sidebar-divider">
                  <!-- Heading -->
                    <li class="nav-item">
                      <%= link_to '/goats',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Goat List</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/diseases',{ :class => 'nav-link collapsed', 'data-toggle'=>"collapse", 'data-target'=>"#collapseTwo", 'aria-expanded'=>"true", 'aria-controls'=>"collapseTwo"} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Disease</span>
                      <% end %>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Goat Disease:</h6>
                            <%= link_to '/diseases',{ :class => 'collapse-item'} do %>
                              <i class="fas fa-fw fa-cog"></i>
                              <span>Index</span>
                            <% end %>
                            <%= link_to '/diseases/new',{ :class => 'collapse-item'} do %>
                              <i class="fas fa-fw fa-cog"></i>
                              <span>Add Disease</span>
                            <% end %>
                            <%= link_to '/goat_disease',{ :class => 'collapse-item'} do %>
                              <i class="fas fa-fw fa-cog"></i>
                              <span>Goat Disease</span>
                            <% end %>
                            <%= link_to '/goat_death',{ :class => 'collapse-item'} do %>
                              <i class="fas fa-fw fa-cog"></i>
                              <span> Death Register </span>
                            <% end %>
                            <%= link_to '/main_works',{ :class => 'collapse-item'} do %>
                              <i class="fas fa-fw fa-cog"></i>
                              <span> Farm Work </span>
                            <% end %>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/mate_goats',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Mate Register </span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/parent_goats',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Parent Mapping </span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to ' /goat_status',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Health Status</span>
                      <% end %>
                    </li>
                    <%# <li class="nav-item"> %>
                      <%#= link_to '/batches',{ :class => 'nav-link'} do %>
                        <%# <i class="fas fa-fw fa-cog"></i>
                        <span>Batch</span> %>
                      <%# end %>
                    <%# </li> %>
                    <li class="nav-item">
                      <%= link_to '/goat_weights',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Weight</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/invoices',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Invoice</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/farm_expenses',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Expenses</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/rack_details',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Rack</span>
                      <% end %>
                    </li>
                     <li class="nav-item">
                      <%= link_to '/lands',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Land</span>
                      <% end %>
                    </li>
                     <li class="nav-item">
                      <%= link_to '/crops',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Crop</span>
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '/lands',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Land Crop</span>
                      <% end %>
                    </li>
                    <li class="nav-item ">
                      <%= link_to '/feed_availabilities',{ :class => 'nav-link'} do %>
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Stock Management</span>
                      <% end %>
                   </li>
                  <hr class="sidebar-divider d-none d-md-block">
                <!-- End of Sidebar -->
                <!-- Below menu for manager added -->
                <!-- Divider -->
                <hr class="sidebar-divider">
                  <!-- Heading -->
                  <li class="nav-item ">
                    <%= link_to '/milk_account',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Cow</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/feeds',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Feed</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/lands',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Land</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/pending_works',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Work</span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to '/farm_expenses',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Expenses</span>
                    <% end %>
                  </li>
              <% end %>
              <% elsif current_user.is_activate == true && current_user.type_of_business == "Coconut Procurement Center"%>  
                <!-- Nav Item - Dashboard --> 
                <li class="nav-item ">
                  <%= link_to '/',{ :class => 'nav-link'} do %>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>HOME</span>
                  <% end %>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Heading -->
                  <li class="nav-item">
                    <%= link_to '/find_farmer',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Tally </span>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '/kopparais',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Koparai </span>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '/mattais',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Mattai </span>
                    <% end %>
                  </li>
                <hr class="sidebar-divider">
                  <li class="nav-item">
                    <%= link_to '/coconut_invoices',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Bill Book</span>
                    <% end %>
                  </li>
                  <%# <li class="nav-item">
                    <%= link_to '/purchaser_bills',{ :class => 'nav-link'} do %>
                      <%# <i class="fas fa-fw fa-cog"></i> %>
                      <%# <span> Tractor Bill </span> %>
                    <%# end %>
                  <%# </li> %>
                  <li class="nav-item">
                    <%= link_to '/farmer_bills',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Farmer Bill </span>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '/salaries',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Labour Salary Register </span>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '/coconut_expenses',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Other Expenses </span>
                    <% end %>
                  </li>
                  <hr class="sidebar-divider">
                  <li class="nav-item">
                    <%= link_to '/places',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Place </span>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '/farmers',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Farmer  </span>
                    <% end %>
                  </li>
                  <%# <li class="nav-item"> %>
                    <%#= link_to '/purchasers',{ :class => 'nav-link'} do %>
                      <%# <i class="fas fa-fw fa-cog"></i> %>
                      <%# <span> Purchaser  </span> %>
                    <%# end %>
                  <%# </li> %>
                  <%# <li class="nav-item"> %>
                    <%#= link_to '/vechicles',{ :class => 'nav-link'} do %>
                      <%# <i class="fas fa-fw fa-cog"></i> %>
                      <%# <span> Vechicle </span> %>
                    <%# end %>
                  <%# </li> %>
                  <li class="nav-item">
                    <%= link_to '/customers',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Customer </span>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '/labours',{ :class => 'nav-link'} do %>
                      <i class="fas fa-fw fa-cog"></i>
                      <span> Labour  </span>
                    <% end %>
                  </li>
        <% end%>    
      <% end %>
      </ul>
      <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">  
                      <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
                </button>
                <!-- Topbar Search -->
                <% if current_user.present? %>
                    <% if current_user.is_activate == true && current_user.type_of_business == "Agriculture"%>
                      <div class="sidebar-brand-text mx-3">Integrate Farm <!-- <sup>FG</sup> --></div>
                        <%= form_tag(find_goat_path, method: 'get', :class => '"d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search') do %>
                          <div class="input-group">
                            <%= text_field_tag(:token_no, params[:token_no],:placeholder => 'Token No...', :class => 'form-control bg-light border-0 small') %>
                              <div class="input-group-append">
                              <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                                <i class="fas fa-search fa-sm"></i>
                              <% end %>
                          </div>
                        <% end %>
                      </div>
                    <% elsif current_user.is_activate == true && current_user.type_of_business == "Coconut Procurement Center"%>
                    <div id="content">
                      <div class="sidebar-brand-text mx-3">SRI BALAJI TRADERS <!-- <sup>FG</sup> --></div>
                    </div>
                    <% end%>
                <% end%>
                <!-- Login logout design -->
                <div id="content">
                  <p class="navbar-text float-right">
                    <% if user_signed_in? %>
                      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                    <% else %>
                      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                    <% end %>
                  </p>
                </div>
              </nav>
              <!-- End of Topbar -->
            <% if flash.count > 0 %>
              <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
            <% end %>
            <%= yield %>
          </div>
            <!-- End of Main Content -->
        </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- Footer -->
    <%# <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>SRI BALAJI TRADERS</span>
        </div>
      </div>
    </footer> %>
    <!-- End of Footer -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  </body>
</html>